<div id="session-stats-container" class="card border-0 shadow-sm bg-dark">
    <div class="card-body py-3">
        <div class="row align-items-center">

            <div class="col-md-2">
                <h4 class="mb-0 fw-bold">Audit Session #{{ session.id }}</h4>
                <small class="text-muted">
                    <i class="far fa-calendar-alt me-1"></i>{{ session.added_on|date:"Y-m-d H:i" }}
                </small>
            </div>

            <div class="col-md-3">
                <div class="mb-0 fw-bold">Test Statuses</div>
                <div class="d-flex border rounded bg-secondary overflow-hidden shadow-sm">
                    <div class="flex-fill text-center border-end py-1 px-1">
                        <div class="text-light fw-bold text-uppercase lh-1 mb-1" style="font-size: 0.6rem;">Unqueued</div>
                        <div class="h6 mb-0 text-light fw-bold">{{ stats.tests.unqueued }}</div>
                    </div>
                    <div class="flex-fill text-center border-end py-1 px-1">
                        <div class="text-muted fw-bold text-uppercase lh-1 mb-1" style="font-size: 0.6rem;">Queued</div>
                        <div class="h6 mb-0 text-muted fw-bold">{{ stats.tests.queued }}</div>
                    </div>
                    <div class="flex-fill text-center border-end py-1 px-1">
                        <div class="text-info fw-bold text-uppercase lh-1 mb-1" style="font-size: 0.6rem;">Running</div>
                        <div class="h6 mb-0 text-info fw-bold">
                            {{ stats.tests.running }}
                        </div>
                    </div>
                    <div class="flex-fill text-center border-end py-1 px-1">
                        <div class="text-success fw-bold text-uppercase lh-1 mb-1" style="font-size: 0.6rem;">Complete</div>
                        <div class="h6 mb-0 text-success fw-bold">{{ stats.tests.complete }}</div>
                    </div>
                    <div class="flex-fill text-center py-1 px-1 bg-danger bg-opacity-10">
                        <div class="text-danger fw-bold text-uppercase lh-1 mb-1" style="font-size: 0.6rem;">Errors</div>
                        <div class="h6 mb-0 text-danger fw-bold">{{ stats.tests.failed }}</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-0 fw-bold">Objective Outcomes</div>
                <div class="d-flex border rounded bg-secondary overflow-hidden shadow-sm">
                    <div class="flex-fill text-center border-end py-1 px-1">
                        <div class="text-muted fw-bold text-uppercase lh-1 mb-1" style="font-size: 0.6rem;">Untested</div>
                        <div class="h6 mb-0 text-muted fw-bold">{{ stats.objectives.untested }}</div>
                    </div>
                    <div class="flex-fill text-center border-end py-1 px-1">
                        <div class="text-light fw-bold text-uppercase lh-1 mb-1" style="font-size: 0.6rem;">Skipped</div>
                        <div class="h6 mb-0 text-light fw-bold">{{ stats.objectives.skipped }}</div>
                    </div>
                    <div class="flex-fill text-center border-end py-1 px-1">
                        <div class="text-danger fw-bold text-uppercase lh-1 mb-1" style="font-size: 0.6rem;">Error</div>
                        <div class="h6 mb-0 text-danger fw-bold">{{ stats.objectives.error }}</div>
                    </div>
                    <div class="flex-fill text-center border-end py-1 px-1">
                        <div class="text-info fw-bold text-uppercase lh-1 mb-1" style="font-size: 0.6rem;">Info</div>
                        <div class="h6 mb-0 text-info fw-bold">{{ stats.objectives.info }}</div>
                    </div>
                    <div class="flex-fill text-center border-end py-1 px-1">
                        <div class="text-success fw-bold text-uppercase lh-1 mb-1" style="font-size: 0.6rem;">Success</div>
                        <div class="h6 mb-0 text-success fw-bold">{{ stats.objectives.success }}</div>
                    </div>
                    <div class="flex-fill text-center  py-1 px-1">
                        <div class="text-warning fw-bold text-uppercase lh-1 mb-1" style="font-size: 0.6rem;">Failure</div>
                        <div class="h6 mb-0 text-warning fw-bold">{{ stats.objectives.failure }}</div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 text-end">

                <div class="d-flex justify-content-end gap-2 ">

                    <button style="display:none" id="btn-refresh"
                            class="btn btn-outline-secondary text-secondary px-3 rounded me-4">
                        <i class="fas fa-refresh me-1"></i> Refresh
                    </button>

                    <button id="btn-queue-all"
                            class="btn btn-outline-info text-info px-3 rounded {% if stats.tests.unqueued == 0 %}d-none{% endif %}"
                            onclick="queue_all(this, '{{ session.id }}')">
                        <i class="fas fa-play me-1"></i> Queue All
                    </button>
                    <button id="btn-clear-queue"
                            class="btn btn-outline-danger px-3 rounded {% if stats.tests.queued == 0 %}d-none{% endif %}"
                            onclick="unqueue_all(this, '{{ session.id }}')">
                        <i class="fas fa-stop me-1"></i> Clear
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    async function queue_all(btn, session_id) {
        const url = "{% url 'queue_all_tests' 0 %}".replace('0', session_id);

        btn.disabled = true;
        originalContent = btn.innerHTML
        btn.innerHTML = '<i class="fas fa-circle-notch fa-spin me-1"></i>Unqueueing...';


        try {
            // 2. Execute the background request
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'X-Requested-With': 'XMLHttpRequest' // Helps Django identify AJAX
                }
            });

            if (!response.ok) throw new Error('Network response was not ok');
        } catch (error) {
            console.error('Error:', error);
            alert('Could not queue tests: ' + error.message);

            // Reset button on error
            btn.disabled = false;
            btn.innerHTML = originalContent;
        }
        await window.triggerSessionStatusUpdate()

    }

    async function unqueue_all(btn, session_id) {
        const url = "{% url 'unqueue_all_tests' 0 %}".replace('0', session_id);

        btn.disabled = true;
        originalContent = btn.innerHTML
        btn.innerHTML = '<i class="fas fa-circle-notch fa-spin me-1"></i>Queuing...';


        try {
            // 2. Execute the background request
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'X-Requested-With': 'XMLHttpRequest' // Helps Django identify AJAX
                }
            });

            if (!response.ok) throw new Error('Network response was not ok');
            // don't worry about success, refresh loop will handle state changes

        } catch (error) {
            console.error('Error:', error);
            alert('Could not unqueue tests: ' + error.message);

            // Reset button on error
            btn.disabled = false;
            btn.innerHTML = originalContent;
        }
        await window.triggerSessionStatusUpdate()
    }
</script>