{% load key_tags %}

{% if file.misp.event_link %}
<div class="card-header">
    <center><a class="accordion-toggle" data-toggle="collapse" aria-expanded="false" href="#misp_info"><i class="fas fa-lightbulb"></i> MISP Threat Intelligence</a></center>
</div>

<div class="collapse" id="misp_info">
    <div class="card card-body">
        {% if file.misp.event_info %}
            <div class="column center">
                <a class="btn btn-secondary btn-sm" href='{% url "mispjson" id "attribute" %}' role="button" data-bs-toggle="tooltip" title="Download MISP Attribute JSON File"><span class="fas fa-download"></span> Download MISP Attribute JSON File</a>
                <a class="btn btn-secondary btn-sm" href='{% url "mispjson" id "event" %}' role="button" data-bs-toggle="tooltip" title="Download MISP Event JSON File"><span class="fas fa-download"></span> Download MISP Event JSON File</a>
                {% if file.misp.ids_links %}
                    <a class="btn btn-secondary btn-sm" href='{{file.misp.ids_links.0}}' role="button" data-bs-toggle="tooltip" title="Download Snort IDS Signatures"><span class="fas fa-download"></span> Download Snort IDS Signatures</a>
                    <a class="btn btn-secondary btn-sm" href='{{file.misp.ids_links.1}}' role="button" data-bs-toggle="tooltip" title="Download Suricata IDS Signatures"><span class="fas fa-download"></span> Download Suricata IDS Signatures</a>
                {% endif %}
            </div>
            <h1></h1>
            <h4><a href="{{file.misp.event_link}}" target="_blank" ><b><span class="fas fa-calendar-check"></span> {{file.misp.event_info}}</b></a></h4>
        {% endif %}

        <table class="table table-striped table-bordered">
            {% if file.misp.related_events %}
            <tr>
                <th><span class="fas fa-calendar-plus"></span> Related Events [{{file.misp.related_events|length}}]</th>
                <td>
                    <ul>
                    {% for event_link, event_info in file.misp.related_events.items %}
                    <li><a href="{{event_link}}" target="_blank">{{event_info}}</a></li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% if file.misp.threat_actor %}
            <tr>
                <th><span class="fas fa-user-secret"></span>Threat Actor(s)  [{{file.misp.threat_actor|length}}]</th>
                <td style="word-wrap: break-word;">
                    <ul>
                    {% for threat_actor_name, threat_actor_value in file.misp.threat_actor.items %}
                    <li><b><u>{{threat_actor_name}}</u></b>
                    {% if threat_actor_value.1 != 0 %}
                        {% if file.misp.galaxy_link %}
                        <a href="{{file.misp.galaxy_link}}{{threat_actor_value.1}}" target="_blank" style="color: #e74c3c">[View MISP Threat Actor Information Here]</a><br>{{threat_actor_value.0}}<br><br>
                        {% else %}
                        <a href="{{file.misp.url}}galaxy_clusters/view/{{threat_actor_value.1}}" target="_blank" style="color: #e74c3c">[View MISP Threat Actor Information Here]</a><br>{{threat_actor_value.0}}<br><br>
                        {% endif %}
                    {% else %}
                    <br><br>
                    {% endif %}
                    </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% if file.misp.event_tags %}
                {% for tag_name, tag_value in file.misp.event_tags.items %}
                <tr>
                    {% if tag_name == "Topic" %}
                        <th><span class="fas fa-info-circle"></span>&nbsp; Topic(s) [{{tag_value|length}}]</th>
                    {% elif tag_name == "Malware-Category" %}
                        <th><span class="fas fa-virus"></span>&nbsp; Malware Categorie(s) [{{tag_value|length}}]</th>
                    {% elif tag_name == "Mitre-Enterprise-Attack-Malware" %}
                        <th><span class="fas fa-virus"></span>&nbsp;MITRE Enterprise Attack Malware [{{tag_value|length}}]</th>
                    {% elif tag_name == "Mitre-Malware" %}
                        <th><span class="fas fa-virus"></span>&nbsp;MITRE Malware [{{tag_value|length}}]</th>
                    {% elif tag_name == "Tool" %}
                        <th><span class="fas fa-screwdriver-wrench"></span>&nbsp; Tool(s) [{{tag_value|length}}]</th>
                    {% elif tag_name == "Incident-Classification" %}
                        <th><span class="fas fa-virus"></span>&nbsp; Incident Classification(s) [{{tag_value|length}}]</th>
                    {% elif tag_name == "Mitre-Enterprise-Attack-Attack-Pattern" %}
                        <th><span class="fas fa-triangle-exclamation"></span>&nbsp; MITRE Enterprise Attack Pattern(s) [{{tag_value|length}}]</th>
                    {% elif tag_name == "Mitre-Attack-Pattern" %}
                        <th><span class="fas fa-triangle-exclamation"></span>&nbsp; MITRE Attack Pattern(s) [{{tag_value|length}}]</th>
                    {% elif tag_name == "Rat" %}
                        <th><span class="fas fa-screwdriver-wrench"></span>&nbsp; Remote Access Tool(s) [{{tag_value|length}}]</th>
                    {% elif tag_name == "Confidence-In-Analytic-Judgment" %}
                        <th><span class="fas fa-eye"></span>&nbsp;Confidence in Analytic Judgment</th>
                    {% elif tag_name == "Sector" %}
                        <th><span class="fas fa-building"></span>&nbsp; Sectors Involved [{{tag_value|length}}]</th>
                    {% elif tag_name == "Country" %}
                        <th><span class="fas fa-flag"></span>&nbsp;Countries [{{tag_value|length}}]</th>
                    {% elif tag_name == "Target-Information" %}
                        <th><span class="fas fa-bullseye"></span>&nbsp;Target(s) Information [{{tag_value|length}}]</th>
                    {% elif tag_name == "Malpedia" %}
                        <th><span class="fas fa-globe"></span>&nbsp;Malpedia Archives Information [{{tag_value|length}}]</th>
                    {% elif tag_name == "Lifetime" %}
                        <th><span class="fas fa-clock"></span>&nbsp;Lifetime</th>
                    {% elif tag_name == "Certainty" %}
                        <th><span class="fas fa-star-half-stroke"></span>&nbsp;Certainty</th>
                    {% elif tag_name == "Backdoor" %}
                        <th><span class="fas fa-door-open"></span>&nbsp;Backdoor(s) [{{tag_value|length}}]</th>
                    {% else %}
                    <th>{{tag_name}}</th>
                    {% endif %}
                    <td>
                        <ul>
                        {% for event_tag, event_tag_value in tag_value.items %}
                            {% if 'str' in event_tag_value|gettype %}
                                <li><a href="{{file.misp.search_tag_link}}{{event_tag_value}}" target="_blank">{{event_tag}}</a></li>
                            {% else %}
                            {% if 'int' in event_tag_value.1|gettype %}
                                <li><a href="{{file.misp.search_tag_link}}{{event_tag_value.0}}" target="_blank">{{event_tag}}</a></li>
                            {% else %}
                                <li><a href="{{file.misp.search_tag_link}}{{event_tag_value.0}}" target="_blank" title="{{event_tag_value.1}}">{{event_tag}}</a></li>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
            {% if file.misp.links %}
            <tr>
                <th><span class="fas fa-external-link-alt"></span>External Analysis Link(s) [{{file.misp.links|length}}]</th>
                <td>
                    <ul>
                    {% for link in file.misp.links %}
                    <li><a href="{{link}}" target="_blank">{{link}}</a></li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
{% endif %}
