{% load pdf_tags %}
{% load key_tags %}
{% load i18n %}
<section id="static_analysis">
    {% if file.pdf %}
        {% if file.pdf.Info %}
        <div>
            <h4>{% trans "PDF Information" %}</h4>
            <div id="PDF_Info">
                <table class="table table-striped table-bordered">
                    <colgroup>
                        <col width="250" />
                        <col width="*" />
                    </colgroup>
                    {% if file.pdf.Info.Creator %}
                        <tr>
                            <th>{% trans "Creator" %}</th>
                            <td><span class="mono">{{file.pdf.Info.Creator}}</span></td>
                        </tr>
                    {% endif %}
                    {% if file.pdf.Info.Producer %}
                        <tr>
                            <th>{% trans "Producer" %}</th>
                            <td><span class="mono">{{file.pdf.Info.Producer}}</span></td>
                        </tr>
                    {% endif %}
                    {% if file.pdf.Info.Author %}
                        <tr>
                            <th>{% trans "Author" %}</th>
                            <td><span class="mono">{{file.pdf.Info.Author}}</span></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>{% trans "Total Entropy" %}</th>
                        <td><span class="mono">{{file.pdf.Info|getkey:"Total Entropy"}}</span></td>
                    </tr>
                    <tr>
                        <th>{% trans "Entropy In Streams" %}</th>
                        <td><span class="mono">{{file.pdf.Info|getkey:"Entropy In Streams"}}</span></td>
                    </tr>
                    <tr>
                        <th>{% trans "Entropy Out of Streams" %}</th>
                        <td><span class="mono">{{file.pdf.Info|getkey:"Entropy Out Streams"}}</span></td>
                    </tr>
                    <tr>
                        <th>{% trans "Count of '%% EOF'" %}</th>
                        <td><span class="mono">{{file.pdf.Info|getkey:"Count %% EOF"}}</span></td>
                    </tr>
                    <tr>
                        <th>{% trans "PDF Header" %}</th>
                        <td><span class="mono">{{file.pdf.Info|getkey:"PDF Header"}}</span></td>
                    </tr>
                    <tr>
                        <th>{% trans "Data After EOF" %}</th>
                        <td><span class="mono">{{file.pdf.Info|getkey:"Data After EOF"}} bytes</span></td>
                    </tr>
                    <tr>
                        <th>{% trans "File Size" %}</th>
                        <td><span class="mono">{{file.size}} bytes</span></td>
                    </tr>
                    {% if file.pdf.Keywords|getkey:"/Page" %}
                    <tr>
                        <th>{% trans "Number of Pages" %}</th>
                        <td><span class="mono">{{file.pdf.Keywords|getkey:"/Page"}}</span></td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <hr />
        {% endif %}

        {% if file.pdf.Dates %}
        <div>
            <h4>{% trans "PDF Date(s)" %}</h4>
            <div id="date">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Value" %}</th>
                    </tr>
                    {% for date in file.pdf.Dates %}
                    <tr>
                       <td>{{date.name}}</td>
                       <td>{{date.value|datefmt}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <hr />
        {% endif %}

        {% if file.pdf.Keywords %}
        <div>
            <h4>{% trans "Keyword Counts" %}</h4>
            <div id="keywords">
                <table class="table table-striped table-bordered">
                    <colgroup>
                        <col width="250" />
                        <col width="*" />
                    </colgroup>
                    <tr>
                        <th>{% trans "Keyword" %}</th>
                        <th>{% trans "Count" %}</th>
                    </tr>
                    {% for keyword, count in file.pdf.Keywords.items %}
                    <tr>
                        <td>{{keyword}}</td>
                        <td>{{count}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <hr />
        {% endif %}
        {% if file.pdf.Annot_URLs %}
        <div>
            <h4>{% trans "Link Annotation URLs" %}</h4>
            <div class="card card-body">
                {% for url in file.pdf.Annot_URLs %}
                    {{url}}<br />
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if file.pdf.JS_URLs %}
        <div>
            <h4>{% trans "Javascript URLs" %}</h4>
            <div class="card card-body">
                {% for url in file.pdf.JS_URLs %}
                    {{url}}<br />
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if file.pdf.JSStreams %}
        <div>
            <h4>{% trans "Javascript Streams" %}</h4>
            <div id="objects">
                {% for obj in file.pdf.JSStreams %}
                <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="250" />
                    <col width="*" />
                </colgroup>
                <tr>
                    <td>{% trans "Object ID" %}</td>
                    <td>{{obj|getkey:"Object ID"}}</td>
                </tr>
                <tr>
                    <td>{% trans "Size" %}</td>
                    {% if obj.Size == 1 %}
                    <td>{{obj.Size}} byte</td>
                    {% else %}
                    <td>{{obj.Size}} bytes</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{% trans "Offset" %}</td>
                    <td>{{obj.Offset}}</td>
                </tr>
                <tr>
                    <td>{% trans "Data" %}</td>
                    <td><a class="accordion-toggle" data-toggle="collapse" href="#JSStream_{{obj|getkey:'Object ID'}}_Data">{% trans "Data Extracted" %}</a></td>
                </tr>
                </table>
                <div id="JSStream_{{obj|getkey:'Object ID'}}_Data" class="collapse">
                    <pre>{{obj.Data|linebreaksbr}}</pre>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    {% else %}
        {% trans "Nothing to display." %}
    {% endif %}
</section>
