<section id="static_analysis_pe" class="mb-4">
    {% load key_tags %}
    {% if file.pe %}
    <div class="card bg-dark border-secondary">
        <div class="card-header border-secondary">
            <h5 class="mb-0 text-white"><i class="fab fa-windows me-2 text-info"></i> PE Information</h5>
        </div>
        <div class="card-body">
            
            <div class="mb-4">
                <h6 class="text-white border-bottom pb-2 mb-3">General Information</h6>
                <div class="table-responsive">
                    <table class="table table-dark table-striped table-sm mb-0">
                        <tr>
                            {% if file.pe.imagebase %}
                            <th>Image Base</th><td>{{file.pe.imagebase}}</td>
                            {% endif %}
                            {% if file.pe.entrypoint %}
                            <th>Entry Point</th><td>{{file.pe.entrypoint}}</td>
                            {% endif %}
                            {% if file.pe.osversion %}
                            <th>Min OS</th><td>{{file.pe.osversion}}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if file.pe.timestamp %}
                            <th>Compile Time</th><td>{{file.pe.timestamp}}</td>
                            {% endif %}
                            {% if file.pe.pdbpath %}
                            <th>PDB Path</th><td class="text-break">{{file.pe.pdbpath}}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if file.pe.imphash %}
                            <th>Import Hash</th><td>{{file.pe.imphash}}</td>
                            {% endif %}
                            {% if file.pe.icon_hash %}
                            <th>Icon Hash</th><td>{{file.pe.icon_hash}}</td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            </div>

            {% if file.pe.versioninfo %}
            <div class="mb-4">
                <h6 class="text-white border-bottom pb-2 mb-3">Version Info</h6>
                <div class="table-responsive">
                    <table class="table table-dark table-striped table-sm mb-0">
                        {% for info in file.pe.versioninfo %}
                        {% if info.name %}
                            <tr>
                                <th style="width: 30%;">{{info.name}}</th>
                                <td class="text-break">{{info.value}}</td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}

            {% if file.pe.peid_signatures %}
            <div class="mb-4">
                <h6 class="text-white border-bottom pb-2 mb-3">PEiD Signatures</h6>
                <ul class="list-group list-group-flush">
                {% for sig in file.pe.peid_signatures %}
                    <li class="list-group-item bg-dark text-white border-secondary">{{sig}}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if file.pe.sections %}
            <div class="mb-4">
                <h6 class="text-white border-bottom pb-2 mb-3">Sections</h6>
                <div class="table-responsive">
                    <table class="table table-dark table-striped table-sm mb-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>RAW Addr</th>
                                <th>Virt Addr</th>
                                <th>Virt Size</th>
                                <th>Raw Size</th>
                                <th>Characteristics</th>
                                <th>Entropy</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for section in file.pe.sections %}
                            <tr>
                                <td>{{section.name}}</td>
                                <td>{{section.raw_address}}</td>
                                <td>{{section.virtual_address}}</td>
                                <td>{{section.virtual_size}}</td>
                                <td>{{section.size_of_data}}</td>
                                <td>{{section.characteristics}}</td>
                                <td>{{section.entropy}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}

            {% if file.pe.resources %}
            <div class="mb-4">
                <div class="card bg-dark border-0">
                    <div class="card-header p-0" id="headingResources">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-start p-3 text-white text-decoration-none shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pe_resources_{{file.sha256}}" aria-expanded="false">
                                <i class="fas fa-box-open me-2"></i> Resources
                            </button>
                        </h2>
                    </div>
                    <div id="pe_resources_{{file.sha256}}" class="collapse">
                        <div class="card-body bg-dark p-0">
                            <div class="table-responsive">
                                <table class="table table-dark table-striped table-sm mb-0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Offset</th>
                                            <th>Size</th>
                                            <th>Language</th>
                                            <th>Entropy</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for section in file.pe.resources %}
                                        <tr>
                                            <td>{{section.name}}</td>
                                            <td>{{section.offset}}</td>
                                            <td>{{section.size}}</td>
                                            <td>{{section.language}}</td>
                                            <td>{{section.entropy}}</td>
                                            <td>{{section.filetype}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if file.pe.imports %}
            <div class="mb-4">
                <h6 class="text-white border-bottom pb-2 mb-3">Imports</h6>
                <div class="accordion" id="peImportsAccordion">
                {% for dll, library in file.pe.imports.items %}
                    <div class="card bg-dark border-bottom border-secondary rounded-0">
                        <div class="card-header p-0" id="headingImport{{forloop.counter}}">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-start p-3 text-white text-decoration-none shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#import_{{dll|slugify}}" aria-expanded="false">
                                    <i class="fas fa-code-branch me-2 text-warning"></i> {{dll}}
                                </button>
                            </h2>
                        </div>
                        <div id="import_{{dll|slugify}}" class="collapse" data-bs-parent="#peImportsAccordion">
                            <div class="card-body bg-dark text-white p-0">
                                <div class="table-responsive">
                                    <table class="table table-dark table-striped table-sm mb-0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Address</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for function in library.imports %}
                                            <tr>
                                                <td><a href="https://docs.microsoft.com/en-us/search/?terms={{function.name}}" target="_blank" class="text-info">{{function.name}}</a></td>
                                                <td>{{function.address}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if file.pe.exports %}
            <div class="mb-4">
                <h6 class="text-white border-bottom pb-2 mb-3">Exports</h6>
                <div class="table-responsive">
                    <table class="table table-dark table-striped table-sm mb-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Ordinal</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for export in file.pe.exports %}
                            <tr>
                                <td>{{export.name}}</td>
                                <td>{{export.address}}</td>
                                <td>{{export.ordinal}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}

            {% if file.pe.digital_signers %}
            <div class="mb-4">
                <div class="card bg-dark border-0">
                    <div class="card-header p-0">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-start p-3 text-white text-decoration-none shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pe_digital_signers" aria-expanded="false">
                                <i class="fas fa-certificate me-2 text-success"></i> Digital Signers
                            </button>
                        </h2>
                    </div>
                    <div id="pe_digital_signers" class="collapse">
                        <div class="card-body bg-dark text-white p-3">
                            {% for cert in file.pe.digital_signers %}
                            <div class="table-responsive mb-3">
                                <table class="table table-dark table-striped table-sm mb-0">
                                    {% if cert.subject_commonName %}<tr><th style="width: 30%;">Common Name</th><td>{{cert.subject_commonName}}</td></tr>{% endif %}
                                    {% if cert.issuer_commonName %}<tr><th>Issuer</th><td>{{cert.issuer_commonName}}</td></tr>{% endif %}
                                    {% if cert.serial_number %}<tr><th>Serial</th><td>{{cert.serial_number}}</td></tr>{% endif %}
                                    {% if cert.not_before %}<tr><th>Valid From</th><td>{{cert.not_before}}</td></tr>{% endif %}
                                    {% if cert.not_after %}<tr><th>Valid To</th><td>{{cert.not_after}}</td></tr>{% endif %}
                                    {% if cert.sha1_fingerprint %}<tr><th>SHA1 Fingerprint</th><td class="text-break">{{cert.sha1_fingerprint}}</td></tr>{% endif %}
                                </table>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
    {% else %}
        <div class="text-white-50">Nothing to display.</div>
    {% endif %}
</section>
