<section id="static_analysis_rdp">
{% if file.rdp %}
    <h4>RDP file details</h4>
    <div id="rdp_information">
        <table class="table table-striped table-bordered" style="table-layout: fixed;">
            <tr>
                <th style="border-top: 0; width: 15%;">Name</th>
                <td style="border-top: 0; word-wrap: break-word;"><b>Value </td>
            </tr>
        {% for key, value in file.rdp.items %}
            {% if key != "certificates" %}
                <tr>
                    <td><strong>{{key}}</strong></td>
                    <td>{{value}}</td>
                </tr>
            {% else %}
                </table>
                {% for cert in value %}
                    <table class="table table-striped table-bordered" style="table-layout: fixed;">
                    <tr>
                        <th style="border-top: 0; width: 15%;">Certificate</th>
                        <td style="border-top: 0; word-wrap: break-word;"><b>Value </td>
                    </tr>
                    {% if cert.subject %}
                        <th>Subject Organization Name</th> <td>{{cert.subject}}</td>
                    {% endif %}
                    {% if cert.issuer %}
                    <tr>
                        <th>Issuer</th>
                        <td>{{cert.issuer}}</td>
                    </tr>
                    {% endif %}
                    {% if cert.not_before %}
                    <tr>
                        <th>Not valid before</th>
                        <td>{{cert.not_before}}</td>
                    </tr>
                    {% endif %}
                    {% if cert.not_after %}
                    <tr>
                        <th>Not valid after</th>
                        <td>{{cert.not_after}}</td>
                    </tr>
                    {% endif %}
                    {% if cert.serial_number %}
                    <tr>
                        <th>Serial number</th>
                        <td>{{cert.serial_number}}</td>
                    </tr>
                    {% endif %}
                    {% if cert.fingerprint_sha256 %}
                    <tr>
                        <th>Cert's sha256 fingerprint</th>
                        <td>{{cert.fingerprint_sha256}}</td>
                    </tr>
                    {% endif %}
                    {% if cert.fingerprint_sha1 %}
                    <tr>
                        <th>Cert's sha1 fingerprint</th>
                        <td>{{cert.fingerprint_sha1}}</td>
                    </tr>
                    {% endif %}
                    </table>
                {% endfor %}
            {% endif %}
        {% endfor %}
{% else %}
    Nothing to display.
{% endif %}
</section>
