<section id="static_analysis">
    {% load key_tags %}
    <div>
        <h4>Yara Details</h4>
        <p></p>
        <div id="yara_details">
            {% for hit in sub_file.yara %}
            <div class="card">
                <div class="card-header">
                    <h5>
                        <a class="accordion-toggle" data-toggle="collapse" href="#{{hit.name}}"
                            data-target="#{{hit.name}}" aria-expanded="false">
                            {{hit.name}}</a>
                    </h5>
                </div>
                <div id="{{hit.name}}" class="collapse">
                    <div class="card-body">
                        <table class="table table-striped table-bordered" style="table-layout: fixed;">
                            {% if hit.strings %}
                            <tr>
                                <th style="border-top: 0; width: 15%;">Strings</th>
                                <td>
                                    <ul style="margin-bottom: 0;">
                                        {% for string in hit.strings %}
                                        <li>{{string}}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endif %}
                            {% if hit.addresses %}
                            <tr>
                                <th style="border-top: 0; width: 15%;">String Name: Address</th>
                                <td>
                                    <ul style="margin-bottom: 0;">
                                        {% for key, value in hit.addresses.items %}
                                        <li>{{key}}: {{value}}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
