<!--this file is identical copy of _file_info.html but just changes "file." to "sub_file." to allow show the same info as subtab-->
{% load key_tags %}
<div class="panel panel-default">
    <table class="table table-striped table-bordered" style="table-layout: fixed;width: 50%;margin-left: auto;margin-right: auto;">
        {% if sub_file.cape_type %}
            <tr>
                <th style="border-top: 0; width: 15%;">Type</th>
                <td style="border-top: 0; word-wrap: break-word;"><b>{{sub_file.cape_type}}</b></td>
            </tr>
        {% endif %}
        <tr>
            <th style="border-top: 0; width: 15%;">Filename</th>
            <td>
                {% for name in sub_file.name|str2list %}
                <div style="border-top: 0; word-wrap: break-word;"><b>{{name|safe}}</b></div>
                {% endfor %}
            </td>
        </tr>
        {% if sub_file.type %}
            <tr>
                <th style="border-top: 0; width: 15%;">File Type</th>
                <td style="border-top: 0; word-wrap: break-word;"><b>{{sub_file.type}}</b></td>
            </tr>
        {% endif %}
        {% if sub_file.guest_paths %}
            <tr>
                <th style="border-top: 0; width: 15%;">Associated Filenames</th>
                <td style="border-top: 0; word-wrap: break-word;">
                    {% for path in sub_file.guest_paths|str2list %}
                        <div>{{path}}</div>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <th style="border-top: 0; width: 15%;">File Size</th>
            <td style="border-top: 0; word-wrap: break-word;"><b>{{sub_file.size}} bytes</b></td>
        </tr>
        {% if sub_file.module_path and sub_file.process_path != sub_file.module_path %}
            <tr>
                <th>Module Path</th>
                <td>{{sub_file.module_path}}</td>
            </tr>
        {% endif %}
        {% if sub_file.cape_type_code == 8 or sub_file.cape_type_code == 9 %}
                <tr>
                    <th>Virtual Address</th>
                    <td>{{sub_file.virtual_address}}</td>
                </tr>
            {% endif %}
            {% if sub_file.cape_type_code == 5 %}
                <tr>
                    <th>Section Handle</th>
                    <td>{{sub_file.section_handle}}</td>
                </tr>
            {% endif %}
            {% if sub_file.cape_type_code == 3 or sub_file.cape_type_code == 4 %}
                <tr>
                    <th>Target Process</th>
                    <td>{{sub_file.target_process}}</td>
                </tr>
                <tr>
                    <th>Target PID</th>
                    <td>{{sub_file.target_pid}}</td>
                </tr>
                <tr>
                    <th>Target Path</th>
                    <td>{{sub_file.target_path}}</td>
                </tr>
                <tr>
                    <th>Injecting Process</th>
                    <td>{{sub_file.process_name}}</td>
                </tr>
                <tr>
                    <th>Injecting PID</th>
                    <td>{{sub_file.pid}}</td>
                </tr>
                <tr>
                    <th>Path</th>
                    <td>{{sub_file.process_path}}</td>
                </tr>
            {% else %}
                {% if sub_file.process_name %}
                <tr>
                    <th>Process</th>
                    <td>{{sub_file.process_name}}</td>
                </tr>
                {% endif %}
                {% if sub_file.pid %}
                <tr>
                    <th>PID</th>
                    <td>{{sub_file.pid}}</td>
                </tr>
                {% endif %}
                {% if sub_file.process_path %}
                <tr>
                    <th>Path</th>
                    <td>{{sub_file.process_path}}</td>
                </tr>
                {% endif %}
            {% endif %}
        {% if sub_file.timestamp %}
            <tr>
                <th>PE timestamp</th>
                <td style="word-wrap: break-word;">{{sub_file.timestamp}}</td>
            </tr>
        {% endif %}
        <tr>
            <th>MD5</th>
            <td style="word-wrap: break-word;">{{sub_file.md5}}</td>
        </tr>
        <tr>
            <th>SHA1</th>
            <td style="word-wrap: break-word;">{{sub_file.sha1}}</td>
        </tr>
        <tr>
            <th>SHA256</th>
            <td style="word-wrap: break-word;">{{sub_file.sha256}}
                <a href="https://www.virustotal.com/gui/file/{{sub_file.sha256}}/" style="color: #e74c3c">[VT]</a>
                <a href="https://mwdb.cert.pl/file/{{sub_file.sha256}}" style="color: #e74c3c">[MWDB]</a>
                <a href="https://bazaar.abuse.ch/sample/{{sub_file.sha256}}/" style="color: #e74c3c">[Bazaar]</a>
            </td>
        </tr>
        {% if sub_file.sha3_384 %}
        <tr>
            <th>SHA3-384</th>
            <td style="word-wrap: break-word;">{{sub_file.sha3_384}}</td>
        </tr>
        {% endif %}
        {% if sub_file.rh_hash %}
            <tr>
                <th>RichHeader Hash</th>
                <td style="word-wrap: break-word;">{{sub_file.rh_hash}}</td>
            </tr>
        {% endif %}
        <tr>
            <th>CRC32</th>
            <td>{{sub_file.crc32}}</td>
        </tr>
        {% if sub_file.tlsh %}
        <tr>
            <th>TLSH</th>
            <td style="word-wrap: break-word;">{{sub_file.tlsh}}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Ssdeep</th>
            <td style="word-wrap: break-word;">{{sub_file.ssdeep}}</td>
        </tr>
        {% if sub_file.clamav %}
        <tr>
            <th>ClamAV</th>
            <td>
                <ul style="margin-bottom: 0;">
                {% for sign in sub_file.clamav %}
                    <li>{{sign}}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if sub_file.yara %}
        <tr>
            <th>
            {% if config.yara_detail %}
                <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#yara_{{sub_file.sha256}}" role="button" aria-expanded="false" aria-controls="yara_{{sub_file.sha256}}"  data-bs-toggle="tooltip" title="Display Yara details"><span class="fas fa-file-lines"></span> Yara</a>
            {% else %}
                Yara
            {% endif %}
            </th>
            <td>
                <ul style="margin-bottom: 0;">
                {% for sign in sub_file.yara %}
                    <li>
                    <a href="/analysis/search/yaraname:{{sign.name}}">{{sign.name}}</a>  - {{sign.meta.description}}
                    {% if sign.meta.author %}
                        - Author: {{sign.meta.author}}
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if sub_file.cape_yara %}
        <tr>
            <th>
            {% if config.yara_detail %}
                <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#capeyara_{{sub_file.sha256}}" role="button" aria-expanded="false" aria-controls="capeyara_{{sub_file.sha256}}"  data-bs-toggle="tooltip" title="Display CAPE Yara details"><span class="fas fa-file-lines"></span> CAPE Yara</a>
            {% else %}
                CAPE Yara
            {% endif %}
            </th>
            <td>
                <ul style="margin-bottom: 0;">
                {% for sign in sub_file.cape_yara %}
                    <li>
                    <a href="/analysis/search/capeyara:{{sign.name}}">{{sign.name}}</a>
                    {% if sign.meta.cape_type %} - {{sign.meta.cape_type}}
                    {% elif sign.meta.description %} - {{sign.meta.description}}
                    {% endif %}
                    {% if sign.meta.author %} - Author: {{sign.meta.author}}{% endif %}
                    </li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if sub_file.trid %}
        <tr>
            <th>TriD</th>
            <td>
            <ul style="margin-top: 0;margin-bottom: 0;">
                {% for str in sub_file.trid %}
                    <li>{{str}}</li>
                {% endfor %}
            </ul>
            </td>
        </tr>
        {% endif %}

        {% if sub_file.die %}
        <tr>
            <th>Detect It Easy</th>
            <td>
            <ul style="margin-top: 0;margin-bottom: 0;">
                {% for str in sub_file.die %}
                    <li>{{str}}</li>
                {% endfor %}
            </ul>
            </td>
        </tr>
        {% endif %}

        {% if sub_file.dropdir %}
        <tr>
            <th></th>
            <td><a href="{% url "file" tab_name id sub_file.dropdir %}" class="btn btn-secondary btn-sm">Download</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <th>
                {% if file.pe %}<a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#pe_{{sub_file.sha256}}" role="button" aria-expanded="false" aria-controls="pe_{{sub_file.sha256}}"  data-bs-toggle="tooltip" title="Display PE info"><span class="fas fa-file-lines"></span> PE</a>{% endif %}
                {% if file.dotnet %}<a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#dotnet_{{sub_file.sha256}}" role="button" aria-expanded="false" aria-controls="dotnet_{{sub_file.sha256}}"  data-bs-toggle="tooltip" title="Display DotNet info"><span class="fas fa-file-lines"></span> DotNET</a>{% endif %}
                {% if file.pdf %}<a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#pdf_{{sub_file.sha256}}" role="button" aria-expanded="false" aria-controls="pdf_{{sub_file.sha256}}"  data-bs-toggle="tooltip" title="Display PDF info"><span class="fas fa-file-lines"></span> PDF</a>{% endif %}
                {% if file.lnk %}<a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#lnk_{{sub_file.sha256}}" role="button" aria-expanded="false" aria-controls="lnk_{{sub_file.sha256}}"  data-bs-toggle="tooltip" title="Display LNK info"><span class="fas fa-file-lines"></span> LNK</a>{% endif %}
                {% if file.java %}<a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#java_{{sub_file.sha256}}" role="button" aria-expanded="false" aria-controls="java_{{sub_file.sha256}}"  data-bs-toggle="tooltip" title="Display Java info"><span class="fas fa-file-lines"></span> Java</a>{% endif %}
                {% if file.office %}<a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#office_{{sub_file.sha256}}" role="button" aria-expanded="false" aria-controls="office_{{sub_file.sha256}}"  data-bs-toggle="tooltip" title="Display Office info"><span class="fas fa-file-lines"></span> Office</a>{% endif %}
                <!--ToDo missed URL-->
            </th>

            </th>
            <td>
                {% if not config.zipped_download %}
                    {% if tab_name == "static" %}
                        <a href="{% url "file" "dropped" id sub_file.sha256 %}" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" title="Download file"><span class="fas fa-download"></span></a>
                    {% else %}
                        <a href="{% url "file" tab_name id sub_file.sha256 %}" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" title="Download file"><span class="fas fa-download"></span></a>
                    {% endif %}
                {% endif %}
                {% if tab_name == "static" %}
                     <a href="{% url "file" "droppedzip" id sub_file.sha256 %}" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" title="Download password-protected file archive"><span class="fas fa-file-archive"></span> <span class="fas fa-download"></span></a>
                {% else %}
                    <a href="{% url "file" tab_name|add:"zip" id sub_file.sha256 %}" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" title="Download password-protected file archive"><span class="fas fa-file-archive"></span> <span class="fas fa-download"></span></a>
                {% endif %}
                    <a class="btn btn-secondary btn-sm" href="/submit/resubmit/{{id}}/{{sub_file.sha256}}" data-bs-toggle="tooltip" title="Re-submit file for analysis"><span class="fas fa-sync"></span> File</a>
                {% if config.flare_capa %}
                    {% if not sub_file.flare_capa and on_demand.flare_capa %}
                        <a class="btn btn-secondary btn-sm" href="{% url "on_demand" "flare_capa" id tab_name sub_file.sha256 %}" role="button" data-bs-toggle="tooltip" title="Generate CAPA findings"><span class="fas fa-cogs"></span> CAPA</a>
                    {% elif sub_file.flare_capa %}
                        <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#flare_capa_{{sub_file.sha256}}" role="button" aria-expanded="false" aria-controls="flare_capa_{{sub_file.sha256}}">FLARE CAPA</a>
                    {% endif %}
                {% endif %}
                {% if config.strings %}
                    {% if "strings" not in sub_file %}
                        <a class="btn btn-secondary btn-sm" href="{% url "on_demand" "strings" id "static" sub_file.sha256 %}" role="button" data-bs-toggle="tooltip" title="Generate strings"><span class="fas fa-cogs"></span> Strings</a>
                    {% elif sub_file.strings %}
                        <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#strings_{{sub_file.sha256}}" role="button" aria-expanded="false" aria-controls="strings_{{sub_file.sha256}}"  data-bs-toggle="tooltip" title="Display strings"><span class="fas fa-envelope-open-text"></span> Strings</a>
                    {% endif %}
                {% endif %}
                {% if sub_file.dotnet_strings %}
                    <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#dotnet_strings_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="dotnet_strings_{{file.sha256}}"  data-bs-toggle="tooltip" title="Display strings"><span class="fas fa-envelope-open-text"></span> DotNet Strings</a>
                {% endif %}
                {% if config.floss %}
                    {% if not sub_file.floss %}
                        <a class="btn btn-secondary btn-sm" href="{% url "on_demand" "floss" id "static" sub_file.sha256 %}" role="button" data-bs-toggle="tooltip" title="Generate floss strings"><span class="fas fa-cogs"></span> Floss</a>
                    {% else %}
                        <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#floss_{{sub_file.sha256}}" role="button" aria-expanded="false" aria-controls="floss_{{sub_file.sha256}}"  data-bs-toggle="tooltip" title="Display floss strings"><span class="fas fa-envelope-open-text"></span> Floss</a>
                    {% endif %}
                {% endif %}

                {% if config.bingraph %}
                    {% if not graphs.bingraph.content|getkey:sub_file.sha256 and on_demand.bingraph %}
                        <a class="btn btn-secondary btn-sm" href="{% url "on_demand" "bingraph" id tab_name sub_file.sha256 %}" role="button" data-bs-toggle="tooltip" title="Generate Bingraph"><span class="fas fa-cogs"></span> Bingraph</a>
                    {% elif graphs.bingraph.content|getkey:sub_file.sha256 %}
                        <a href="{% url "file_nl" "bingraph" id sub_file.sha256 %}" class="btn btn-secondary btn-sm"><span class="fas fa-download"> BinGraph</a>
                    {% endif %}
                {% endif %}
                <!--add type check-->
                {% if graphs.vba2graph.enabled %}
                    {% if not graphs.vba2graph.content|getkey:sub_file.sha256 and on_demand.vba2graph %}
                        <a class="btn btn-secondary btn-sm" href="{% url "on_demand" "vba2graph" id "static" sub_file.sha256 %}" role="button" data-bs-toggle="tooltip" title="Generate vba2Graph"><span class="fas fa-cogs"></span> Vba2Graph</a>
                    {% elif graphs.vba2graph.content|getkey:sub_file.sha256 %}
                        <a href="{% url "file_nl" "vba2graph" id sub_file.sha256 %}" class="btn btn-secondary btn-sm"><span class="fas fa-download"> Vba2Graph</a>
                    {% endif %}
                {% endif %}
                {% if config.virustotal and not sub_file.virustotal and on_demand.virustotal %}
                    <a class="btn btn-secondary btn-sm" href="{% url "on_demand" "virustotal" id tab_name sub_file.sha256 %}" role="button" data-bs-toggle="tooltip" title="Fetch VirusTotal results"><span class="fas fa-cogs"></span> VirusTotal</a>
                {% endif %}
                {% if config.vtupload and analysis.info.tlp != "Red" %}
                    <a class="btn btn-secondary btn-sm" href="{% url "vtupload" tab_name id sub_file.name sub_file.sha256 %}"><span class="fas fa-exclamation-triangle"></span> <span class="fas fa-upload"></span> VirusTotal</a>
                {% endif %}
                {% if sub_file.data %}
                    <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#text_{{sub_file.sha256}}" role="button" aria-expanded="false" aria-controls="text_{{sub_file.sha256}}"  data-bs-toggle="tooltip" title="Display text"><span class="fas fa-envelope-open-text"></span> Text</a>
                {% endif %}
                {% if sub_file.decoded_files %}
                    <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#decoded_files_{{sub_file.sha256}}" role="button" aria-expanded="false" aria-controls="decoded_files_{{sub_file.sha256}}"  data-bs-toggle="tooltip" title="Display text"><span class="fas fa-envelope-open-text"></span> {{sub_file.decoded_files_tool}}</a>
                {% endif %}
                {% if sub_file.extracted_files %}
                    <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#extracted_files_{{sub_file.sha256}}" role="button" aria-expanded="false" aria-controls="extracted_files_{{sub_file.sha256}}"  data-bs-toggle="tooltip" title="Display extracted files"><span class="fas fa-archive"></span> {{sub_file.extracted_files_tool}}</a>
                {% endif %}
            </td>
        </tr>
        {% endif %}
    </table>
    {% if sub_file.flare_capa %}
            <tr>
                <th></th><td>
                <div class="collapse" id="flare_capa_{{sub_file.sha256}}">
                    <div>
                    <!--Inspired by @snemes trick, code placed in web/views/templateatgs/analysis_tags.py-->
                    {% if sub_file.flare_capa.CAPABILITY %}
                        {{sub_file.flare_capa|flare_capa_capability}}
                    {% endif %}
                    {% if sub_file.flare_capa.ATTCK %}
                        {{sub_file.flare_capa|flare_capa_attck}}
                    {% endif %}
                    {% if sub_file.flare_capa.MBC %}
                        {{sub_file.flare_capa|flare_capa_mbc}}
                    {% endif %}
                    </div>
                </div>
            </td>
            </tr>
            </br>
        {% endif %}
        {% if graphs.vba2graph.enabled and graphs.vba2graph.content|getkey:sub_file.sha256 %}
            <tr><th></th>
                <td>{{ graphs.vba2graph.content|getkey:sub_file.sha256|safe }}</td>
            </tr>
        {% endif %}
        {% if sub_file.virustotal %}
            <tr>
                <th></th>
                <td>{% include "analysis/generic/_virustotal.html" %}</td>
            </tr>
        {% endif %}
        {% if sub_file.strings %}
            <tr>
                <th></th><td>
                <div class="collapse" id="strings_{{sub_file.sha256}}">
                    <div>
                    {{sub_file.strings|safe}}
                    </div>
                </div>
            </td>
            </tr>
        {% endif %}
        {% if sub_file.dotnet_strings %}
            <tr>
                <th></th><td>
                <div class="collapse" id="dotnet_strings_{{file.sha256}}">
                    <div>
                    {% for string in sub_file.dotnet_strings %}
                        <div>{{string|safe}}</div>
                    {% endfor %}
                    </div>
                </div>
            </td>
            </tr>
        {% endif %}
        {% if sub_file.data %}
            <tr>
                <th></th><td>
                <div class="collapse" id="text_{{sub_file.sha256}}">
                    <div>
                    <pre>{{sub_file.data|escape}}</pre>
                    </div>
                </div>
            </td>
            </tr>
        {% endif %}
        {% if sub_file.decoded_files %}
            <tr>
                <th></th><td>
                <div class="collapse" id="decoded_files_{{sub_file.sha256}}">
                    <div>
                    <p>{{sub_file.decoded_files|escape}}</p>
                    </div>
                </div>
            </td>
            </tr>
        {% endif %}
        {% if sub_file.extracted_files %}
            <tr>
                <th></th><td>
                <div class="collapse" id="extracted_files_{{sub_file.sha256}}">
                    <div>
                        {% for sub_file in sub_file.extracted_files %}
                            {% include "analysis/generic/_subfile_info.html" %}
                        {% endfor %}
                    </div>
                </div>
            </td>
            </tr>
            </br>
        {% endif %}
    {% if config.yara_detail and subfile.yara %} <div class="collapse" id="yara_{{sub_file.sha256}}"> <div> {% include "analysis/generic/_yara.html" %}</div></div></br>{% endif %}
    {% if config.yara_detail and subfile.cape_yara %} <div class="collapse" id="capeyara_{{sub_file.sha256}}"> <div> {% include "analysis/generic/_capeyara.html" %}</div></div></br>{% endif %}
    {% if subfile.pe %} <div class="collapse" id="pe_{{sub_file.sha256}}"> <div> {% include "analysis/generic/_pe.html" %}</div></div></br>{% endif %}
    {% if subfile.dotnet %} <div class="collapse" id="dotnet_{{sub_file.sha256}}"> <div> {% include "analysis/generic/_dotnet.html" %}</div></div></br>{% endif %}
    {% if subfile.pdf %} <div class="collapse" id="pdf_{{sub_file.sha256}}"> <div> {% include "analysis/generic/_pdf.html" %}</div></div></br>{% endif %}
    {% if subfile.lnk %} <div class="collapse" id="lnk_{{sub_file.sha256}}"> <div> {% include "analysis/generic/_lnk.html" %}</div></div></br>{% endif %}
    {% if subfile.java %} <div class="collapse" id="java_{{sub_file.sha256}}"> <div> {% include "analysis/generic/_java.html" %}</div></div></br>{% endif %}
    {% if subfile.office %} <div class="collapse" id="office_{{sub_file.sha256}}"> <div> {% include "analysis/generic/_office.html" %}</div></div></br>{% endif %}
    {% if subfile.floss %} <div class="collapse" id="floss_{{sub_file.sha256}}"> <div> {% include "analysis/generic/_floss.html" %}</div></div></br>{% endif %}
    {% if graphs.bingraph.enabled and graphs.bingraph.content|getkey:sub_file.sha256 %}<center><td>{{ graphs.bingraph.content|getkey:sub_file.sha256|safe }}</td></center></br>{% endif %}
</div>
