{% load i18n %}
{% if file.virustotal and not file.virustotal.error == True %}
<div class="card-header">
    <center><a class="accordion-toggle" data-toggle="collapse" aria-expanded="false" href="#virustotal_binary"><i class="fas fa-shield-virus"></i> {% blocktrans with pos=file.virustotal.positives total=file.virustotal.total %}VirusTotal ({{ pos }}/{{ total }}){% endblocktrans %} {% if file.virustotal.detection %} - {{file.virustotal.detection}} {% endif %}</a></center>
</div>

<div class="collapse" id="virustotal_binary">
    <div class="card card-body">
        {% if file.virustotal.resource %}
            <h4><a href="https://www.virustotal.com/en/file/{{file.virustotal.resource}}/analysis/">{% trans "Full Results" %}</a></h4>
        {% endif %}

        <table class="table table-striped table-bordered">
            <tr>
                <th>{% trans "Engine" %}</th><th>{% trans "Result" %}</th><th>{% trans "Engine" %}</th><th>{% trans "Result" %}</th><th>{% trans "Engine" %}</th><th>{% trans "Result" %}</th>
            </tr>

            {% for av, values in file.virustotal.scans.items %}
                <td>{{av}}</td>
                <td>
                    {% if not values.result %}
                        <span class="text-muted">{% trans "Clean" %}</span>
                    {% else %}
                        <span class="text-danger">{{values.result}}
                        {% if values.moloch %}
                        <a href="{{values.moloch}}" target="_blank">[MLCH]</a>
                        {% endif %}
                        </span>
                    {% endif %}
                </td>
            {% if forloop.counter|divisibleby:"3" %}
                </tr>
            {% elif forloop.last %}
                </tr>
            {% endif %}
            {% endfor %}

        </table>
    </div>
</div>
{% endif %}
