<div class="mt-4">
    <div class="section-title">
        <h4>Behavioral Analysis</h4>
    </div>

    {% if results.behavior and results.behavior.anomaly %}
    <div class="card mt-3">
        <div class="card-header" id="headingAnomalies">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAnomalies" aria-expanded="true" aria-controls="collapseAnomalies">
                    Anomalies
                </button>
            </h5>
        </div>
        <div id="collapseAnomalies" class="collapse show" aria-labelledby="headingAnomalies">
            <div class="card-body">
                <ul>
                    {% for anomaly in results.behavior.anomaly %}
                    <li><span class="mono">
                        <b>{{anomaly.category}} {{anomaly.funcname}}</b>
                        {{anomaly.message}}
                        (pid={{anomaly.pid}}, process={{anomaly.name}})
                    </span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

    {% if results.behavior and results.behavior.summary %}
    <div class="card mt-3">
        <div class="card-header" id="headingBehaviorSummary">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseBehaviorSummary" aria-expanded="true" aria-controls="collapseBehaviorSummary">
                    Behavior Summary
                </button>
            </h5>
        </div>
        <div id="collapseBehaviorSummary" class="collapse show" aria-labelledby="headingBehaviorSummary">
            <div class="card-body">
                <div class="card mt-2">
                    <div class="card-header">
                        <h6 class="mb-0">
                            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#mutexes_collapse" aria-expanded="true" aria-controls="mutexes_collapse">
                                Mutexes
                            </button>
                        </h6>
                    </div>
                    <div id="mutexes_collapse" class="collapse show">
                        <div class="card-body">
                            {% if results.behavior.summary.mutexes %}
                                <ul>
                                    {% for mutex in results.behavior.summary.mutexes %}
                                    <li><span class="mono">{{mutex}}</span></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nothing to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h6 class="mb-0">
                            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#executed_commands_collapse" aria-expanded="false" aria-controls="executed_commands_collapse">
                                Executed Commands
                            </button>
                        </h6>
                    </div>
                    <div id="executed_commands_collapse" class="collapse">
                        <div class="card-body">
                            {% if results.behavior.summary.executed_commands %}
                                <ul>
                                    {% for cmd in results.behavior.summary.executed_commands %}
                                    <li><span class="mono">{{cmd}}</span></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nothing to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h6 class="mb-0">
                            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#created_services_collapse" aria-expanded="false" aria-controls="created_services_collapse">
                                Created Services
                            </button>
                        </h6>
                    </div>
                    <div id="created_services_collapse" class="collapse">
                        <div class="card-body">
                            {% if results.behavior.summary["created_services"] %}
                                <ul>
                                    {% for service in results.behavior.summary["created_services"] %}
                                    <li><span class="mono">{{service}}</span></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nothing to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h6 class="mb-0">
                            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#started_services_collapse" aria-expanded="false" aria-controls="started_services_collapse">
                                Started Services
                            </button>
                        </h6>
                    </div>
                    <div id="started_services_collapse" class="collapse">
                        <div class="card-body">
                            {% if results.behavior.summary["started_services"] %}
                                <ul>
                                    {% for service in results.behavior.summary["started_services"] %}
                                    <li><span class="mono">{{service}}</span></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nothing to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="card mt-3">
        <div class="card-header" id="headingProcesses">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseProcesses" aria-expanded="true" aria-controls="collapseProcesses">
                    Processes
                </button>
            </h5>
        </div>
        <div id="collapseProcesses" class="collapse show" aria-labelledby="headingProcesses">
            <div class="card-body">
                {% if results.behavior and results.behavior.processes %}
                    <div id="accordionProcesses">
                        {% for process in results.behavior.processes %}
                        <div class="card mt-2">
                            <div class="card-header" id="headingProcess{{process.process_id}}">
                                <h6 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseProcess{{process.process_id}}" aria-expanded="{% if loop.first %}true{% else %}false{% endif %}" aria-controls="collapseProcess{{process.process_id}}">
                                        {{process.process_name}} <small>PID: {{process.process_id}}, Parent PID: {{process.parent_id}}</small>
                                    </button>
                                </h6>
                            </div>
                            <div id="collapseProcess{{process.process_id}}" class="collapse {% if loop.first %}show{% endif %}" aria-labelledby="headingProcess{{process.process_id}}" data-parent="#accordionProcesses">
                                <div class="card-body">
                                    <p>Full Path: <b>{{process.module_path}}</b></p>
                                    {% if process.environ and process.environ.CommandLine %}
                                    <p>Command Line: <b>{{ process.environ.CommandLine }}</b></p>
                                    {% endif %}
                                    {% if results.local_conf.apicalls %}
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-sm" style="table-layout: fixed;">
                                            <thead>
                                                <tr>
                                                    <th width="10%">Timestamp</th>
                                                    <th width="5%">Thread</th>
                                                    <th width="15%">Function</th>
                                                    <th width="50%">Arguments</th>
                                                    <th width="5%">Status</th>
                                                    <th width="10%">Return</th>
                                                    <th width="5%">Repeated</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for call in process.calls %}
                                                <tr class="{{call.category}}">
                                                    <td>{{call.timestamp[11:]}}</td>
                                                    <td>{{call.thread_id}}</td>
                                                    <td><span class="mono">{{call.api}}</span></td>
                                                    <td style="word-wrap: break-word;">
                                                    {% for argument in call.arguments %}
                                                        {% if argument.pretty_value %}
                                                            {{argument.name}} => <span class="mono" title="{{argument.value}}">{{argument.pretty_value}}</span><br />
                                                        {% else %}
                                                            {{argument.name}} => <span class="mono">{{argument.value}}</span><br />
                                                        {% endif %}
                                                    {% endfor %}
                                                    </td>
                                                    <td>{% if call.status %}SUCCESS{% else %}FAILURE{% endif %}</td>
                                                    {% if call.pretty_return %}
                                                        <td style="word-wrap: break-word;"><span class="mono" title="{{call.return}}">{{call.pretty_return}}</span></td>
                                                    {% else %}
                                                        <td><span class="mono">{{call.return}}</span></td>
                                                    {% endif %}
                                                    <td>
                                                    {% if call.repeated and call.repeated > 0 %}
                                                        {{call.repeated}}
                                                        {% if call.repeated == 1 %}
                                                         time
                                                        {% elif call.repeated > 1 %}
                                                         times
                                                        {% endif %}
                                                    {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Nothing to display.</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% if results.behavior and results.behavior.summary %}
    <div class="card mt-3">
        <div class="card-header" id="headingAdditionalBehaviorSummary">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAdditionalBehaviorSummary" aria-expanded="true" aria-controls="collapseAdditionalBehaviorSummary">
                    Additional Behavior Summary
                </button>
            </h5>
        </div>
        <div id="collapseAdditionalBehaviorSummary" class="collapse show">
            <div class="card-body">
                <div class="card mt-2">
                    <div class="card-header">
                        <h6 class="mb-0">
                            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#accessed_files_collapse" aria-expanded="false" aria-controls="accessed_files_collapse">
                                Accessed Files
                            </button>
                        </h6>
                    </div>
                    <div id="accessed_files_collapse" class="collapse">
                        <div class="card-body">
                            {% if results.behavior.summary.files %}
                                <ul>
                                    {% for file in results.behavior.summary.files %}
                                    <li><span class="mono">{{file}}</span></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nothing to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h6 class="mb-0">
                            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#read_files_collapse" aria-expanded="false" aria-controls="read_files_collapse">
                                Read Files
                            </button>
                        </h6>
                    </div>
                    <div id="read_files_collapse" class="collapse">
                        <div class="card-body">
                            {% if results.behavior.summary.read_files %}
                                <ul>
                                    {% for file in results.behavior.summary.read_files %}
                                    <li><span class="mono">{{file}}</span></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nothing to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h6 class="mb-0">
                            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#modified_files_collapse" aria-expanded="false" aria-controls="modified_files_collapse">
                                Modified Files
                            </button>
                        </h6>
                    </div>
                    <div id="modified_files_collapse" class="collapse">
                        <div class="card-body">
                            {% if results.behavior.summary.write_files %}
                                <ul>
                                    {% for file in results.behavior.summary.write_files %}
                                    <li><span class="mono">{{file}}</span></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nothing to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h6 class="mb-0">
                            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#deleted_files_collapse" aria-expanded="false" aria-controls="deleted_files_collapse">
                                Deleted Files
                            </button>
                        </h6>
                    </div>
                    <div id="deleted_files_collapse" class="collapse">
                        <div class="card-body">
                            {% if results.behavior.summary.delete_files %}
                                <ul>
                                    {% for file in results.behavior.summary.delete_files %}
                                    <li><span class="mono">{{file}}</span></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nothing to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h6 class="mb-0">
                            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#registry_keys_collapse" aria-expanded="false" aria-controls="registry_keys_collapse">
                                Registry Keys
                            </button>
                        </h6>
                    </div>
                    <div id="registry_keys_collapse" class="collapse">
                        <div class="card-body">
                            {% if results.behavior.summary["keys"] %}
                                <ul>
                                    {% for key in results.behavior.summary["keys"] %}
                                    <li><span class="mono">{{key}}</span></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nothing to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h6 class="mb-0">
                            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#read_registry_keys_collapse" aria-expanded="false" aria-controls="read_registry_keys_collapse">
                                Read Registry Keys
                            </button>
                        </h6>
                    </div>
                    <div id="read_registry_keys_collapse" class="collapse">
                        <div class="card-body">
                            {% if results.behavior.summary["read_keys"] %}
                                <ul>
                                    {% for key in results.behavior.summary["read_keys"] %}
                                    <li><span class="mono">{{key}}</span></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nothing to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h6 class="mb-0">
                            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#modified_registry_keys_collapse" aria-expanded="false" aria-controls="modified_registry_keys_collapse">
                                Modified Registry Keys
                            </button>
                        </h6>
                    </div>
                    <div id="modified_registry_keys_collapse" class="collapse">
                        <div class="card-body">
                            {% if results.behavior.summary["write_keys"] %}
                                <ul>
                                    {% for key in results.behavior.summary["write_keys"] %}
                                    <li><span class="mono">{{key}}</span></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nothing to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h6 class="mb-0">
                            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#deleted_registry_keys_collapse" aria-expanded="false" aria-controls="deleted_registry_keys_collapse">
                                Deleted Registry Keys
                            </button>
                        </h6>
                    </div>
                    <div id="deleted_registry_keys_collapse" class="collapse">
                        <div class="card-body">
                            {% if results.behavior.summary["delete_keys"] %}
                                <ul>
                                    {% for key in results.behavior.summary["delete_keys"] %}
                                    <li><span class="mono">{{key}}</span></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nothing to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h6 class="mb-0">
                            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#resolved_apis_collapse" aria-expanded="false" aria-controls="resolved_apis_collapse">
                                Resolved APIs
                            </button>
                        </h6>
                    </div>
                    <div id="resolved_apis_collapse" class="collapse">
                        <div class="card-body">
                            {% if results.behavior.summary.resolved_apis %}
                                <ul>
                                    {% for api in results.behavior.summary.resolved_apis %}
                                    <li><span class="mono">{{api}}</span></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nothing to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
