<div class="mt-4">
    {% set proctree_details = False %}
    {% include "sections/proctree.html" %}
    <div class="section-title">
        <h4>Debugger Log</h4>
    </div>
    {% if debugger %}
        <div class="accordion" id="accordionDebugger">
        {% for pid, log in debugger.items() %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingLog{{pid}}">
                    <button class="accordion-button {% if not loop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLog{{pid}}" aria-expanded="{% if loop.first %}true{% else %}false{% endif %}" aria-controls="collapseLog{{pid}}">
                        Process with PID {{pid}}
                    </button>
                </h2>
                <div id="collapseLog{{pid}}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" aria-labelledby="headingLog{{pid}}" data-bs-parent="#accordionDebugger">
                    <div class="accordion-body">
                        <pre>{{log}}</pre>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>No debugger log available.</p>
    {% endif %}
</div>
