<div class="mt-4">
    <div class="card">
        <div class="card-header">
            <h4>Dropped Files</h4>
        </div>
        <div class="card-body">
            {% set tab_name = 'dropped' %}
            {% if results.dropped %}
                {% for file in results.dropped %}
                    {% if not loop.first %}<hr>{% endif %}
                    {% include "generic/_file_info.html" %}
                {% endfor %}
            {% else %}
                <p>Nothing to display.</p>
            {% endif %}
        </div>
    </div>
</div>
