<section id="file">
    <div class="section-title">
        <h4>File Details  {% if results.info.parent_sample %} -
        <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#static_parent_file" role="button" aria-expanded="false" aria-controls="static_parent_file"  data-bs-toggle="tooltip" title="Display text"><span class="fas fa-envelope-open-text"></span> Parent file</a>
        {% endif %}
        </h4>
        {% if results.info.parent_sample %}
        <div class="collapse" id="static_parent_file">
            {% for file in results.info.parent_sample|parentfixup|dict2list %}
                {% include "generic/_file_info.html" %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% set tab_name = 'static' %}
    {% if results.target.file %}
        {% set file = results.target.file %}
        {% include "generic/_file_info.html" %}
    {% endif %}
</section>
