<section id="misp">
    <div class="section-title">
        <h4>MISP Threat Intelligence</h4>
    </div>
    <table class="table table-striped table-bordered" style="table-layout: fixed;">
        {% if results.target.file.event_link %}
        <tr>
            <th style="width: 15%;">MISP Event</th>
            <td><span class="mono" style="word-wrap: break-word;"><a href="{{results.target.file.event_link}}" target="_blank" ><b>{{results.target.file.event_info}}</b></a></span></td>
        </tr>
        {% if results.target.file.threat_actor %}
        <tr>
            <th>Threat Actor(s)</th>
            <td>
                <span class="mono">
                <ul>
                {% for threat_actor_name in results.target.file.threat_actor %}
                <li><b><u>{{threat_actor_name}}</u></b> 
                </li>
                {% endfor %}
                </ul>
                </span>
            </td>
        </tr>
        {% endif %}
        {% if results.target.file.links %}
        <tr>
            <th>Relevant Event Analysis Links</th>
            <td>
                <ul>
                {% for link in results.target.file.links %}
                <li><a href="{{link}}" target="_blank">{{link}}</a></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% endif %}
    </table>
</section>
