<div class="mt-4">
    <div class="section-title">
        <h4>Network Analysis</h4>
    </div>
    {% if results.network %}
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-hosts-tab" data-bs-toggle="pill" href="#pills-hosts" role="tab" aria-controls="pills-hosts" aria-selected="true">Hosts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-dns-tab" data-bs-toggle="pill" href="#pills-dns" role="tab" aria-controls="pills-dns" aria-selected="false">DNS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-tcp-tab" data-bs-toggle="pill" href="#pills-tcp" role="tab" aria-controls="pills-tcp" aria-selected="false">TCP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-udp-tab" data-bs-toggle="pill" href="#pills-udp" role="tab" aria-controls="pills-udp" aria-selected="false">UDP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-http-tab" data-bs-toggle="pill" href="#pills-http" role="tab" aria-controls="pills-http" aria-selected="false">HTTP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-smtp-tab" data-bs-toggle="pill" href="#pills-smtp" role="tab" aria-controls="pills-smtp" aria-selected="false">SMTP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-irc-tab" data-bs-toggle="pill" href="#pills-irc" role="tab" aria-controls="pills-irc" aria-selected="false">IRC</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-icmp-tab" data-bs-toggle="pill" href="#pills-icmp" role="tab" aria-controls="pills-icmp" aria-selected="false">ICMP</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-hosts" role="tabpanel" aria-labelledby="pills-hosts-tab">
            {% include "generic/_network_hosts.html" %}
        </div>
        <div class="tab-pane fade" id="pills-dns" role="tabpanel" aria-labelledby="pills-dns-tab">
            {% include "generic/_network_dns.html" %}
        </div>
        <div class="tab-pane fade" id="pills-tcp" role="tabpanel" aria-labelledby="pills-tcp-tab">
            {% include "generic/_network_tcp.html" %}
        </div>
        <div class="tab-pane fade" id="pills-udp" role="tabpanel" aria-labelledby="pills-udp-tab">
            {% include "generic/_network_udp.html" %}
        </div>
        <div class="tab-pane fade" id="pills-http" role="tabpanel" aria-labelledby="pills-http-tab">
            {% include "generic/_network_http.html" %}
        </div>
        <div class="tab-pane fade" id="pills-smtp" role="tabpanel" aria-labelledby="pills-smtp-tab">
            {% include "generic/_network_smtp.html" %}
        </div>
        <div class="tab-pane fade" id="pills-irc" role="tabpanel" aria-labelledby="pills-irc-tab">
            {% include "generic/_network_irc.html" %}
        </div>
        <div class="tab-pane fade" id="pills-icmp" role="tabpanel" aria-labelledby="pills-icmp-tab">
            {% include "generic/_network_icmp.html" %}
        </div>
    </div>
    {% else %}
        <p>Nothing to display.</p>
    {% endif %}
</div>
