{% if results.behavior.processtree %}
<div class="card mt-4" id="process-tree-container">
    <div class="card-header">
        <h4>Process Tree</h4>
    </div>
    <div class="card-body">
        <ul>
        {% for process in results.behavior.processtree %}
            <li>
                <a href="#proctree-{{ process.pid }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="proctree-{{ process.pid }}">
                    <strong>{{process.name}}</strong> (PID: {{process.pid}})
                </a>
                {% if process.children %}
                <ul id="proctree-{{ process.pid }}" class="collapse">
                    {% for child in process.children %}
                        <li><strong>{{child.name}}</strong> (PID: {{child.pid}})</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
