<div class="card mt-4">
    <div class="card-header">
        Signatures
    </div>
    <div class="card-body">
        {% if results.signatures %}
            <ul class="list-group">
                {% for sign in results.signatures %}
                    {% if sign.severity == 1 %}
                        <li class="list-group-item list-group-item-success">{{sign.description}}</li>
                    {% elif sign.severity == 2 %}
                        <li class="list-group-item list-group-item-warning">{{sign.description}}</li>
                    {% elif sign.severity >= 3 %}
                        <li class="list-group-item list-group-item-danger">{{sign.description}}</li>
                    {% else %}
                        <li class="list-group-item list-group-item-info">{{sign.description}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No signatures matched.</p>
        {% endif %}
    </div>
</div>
