<div class="mt-4">
    <div class="card">
        <div class="card-header">
            <h4>URL Details</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="150" />
                    <col width="*" />
                </colgroup>
                <tr>
                    <th>URL</th>
                    <td><span class="mono">{{results.url_analysis.url}}</span></td>
                </tr>
                <tr>
                    <th>VirusTotal</th>
                    <td>
                        {% if results.virustotal %}
                            {% if results.virustotal.response_code == 1 %}
                                <a href={{results.virustotal.permalink}}>Permalink</a><br>
                                VirusTotal Scan Date: {{results.virustotal.scan_date}}<br>
                                Detection Rate: {{results.virustotal.positives}}/{{results.virustotal.total}}
                                <button class="btn btn-link btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#virustotal_collapse" aria-expanded="false" aria-controls="virustotal_collapse">
                                    Expand
                                </button>
                                <div id="virustotal_collapse" class="collapse mt-3">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Antivirus</th>
                                            <th>Result</th>
                                        </tr>
                                        {% for key in results.virustotal.scans|sort %}
                                        <tr>
                                            <td>{{key}}</td>
                                            {% if results["virustotal"]["scans"][key]["detected"] %}
                                                <td><span class="text-danger">
                                            {% else %}
                                                <td><span class="text-muted">
                                            {% endif %}
                                            {{ results["virustotal"]["scans"][key]["result"]|title }}</span></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            {% else %}
                                <p>Domain not found on VirusTotal</p>
                            {% endif %}
                        {% else %}
                            <p>VirusTotal lookup disabled, add your API key to the module</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
