{% if not summary_report %}
<section id="volatility">

    <!-- Added: Added Volatility Display for Memory Dumps Before and During Analysis -->
    {% if results.befmemory %}
    <div class="section-title">
        <h4>Volatility (Before Analysis)</h4>
    </div>

        <!-- Malfind -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_malfind');"><b>Malfind</b></a>
            <small>
                Scanning for injections
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#malfind" target="_blank">help</a>)
            </small>
            <div id="befvolatility_malfind" style="display: none;">
                {% if results.befmemory.malfind %}
                    {% include "sections/befmemory/_malfind.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Yarascan -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_yarascan');"><b>Yarascan</b></a>
            <small>
                Scanning for rule matches
                (<a href="https://code.google.com/p/volatility/wiki/CommandReferenceMal23#yarascan" target="_blank">help</a>)
            </small>
            <div id="befvolatility_yarascan" style="display: none;">
                {% if results.befmemory.yarascan %}
                    {% include "sections/befmemory/_yarascan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- APIHooks -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_apihooks');"><b>Apihooks</b></a>
            <small>
                Listing API hooks
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#apihooks" target="_blank">help</a>)
            </small>
            <div id="befvolatility_apihooks" style="display: none;">
                {% if results.befmemory.apihooks %}
                    {% include "sections/befmemory/_apihooks.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Pslist -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_pslist');"><b>PSList</b></a>
            <small>
                Listing processes
                (<a href="http://code.google.com/p/volatility/wiki/CommandReference23#pslist" target="_blank">help</a>)
            </small>
            <div id="befvolatility_pslist" style="display: none;">
                {% if results.befmemory.pslist %}
                    {% include "sections/befmemory/_pslist.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Callbacks -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_callbacks');"><b>Callbacks</b></a>
            <small>
                Listing registered callbacks
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#callbacks" target="_blank">help</a>)
            </small>
            <div id="befvolatility_callbacks" style="display: none;">
                {% if results.befmemory.callbacks %}
                    {% include "sections/befmemory/_callbacks.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Messagehooks -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_messagehooks');"><b>Messagehooks</b></a>
            <small>
                Registered Messagehooks
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceGui23#messagehooks" target="_blank">help</a>)
            </small>
            <div id="befvolatility_messagehooks" style="display: none;">
                {% if results.befmemory.messagehooks %}
                    {% include "sections/befmemory/_messagehooks.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Devicetree -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_devicetree');"><b>Devicetree</b></a>
            <small>
                Listing devices and drivers
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#devicetree" target="_blank">help</a>)
            </small>
            <div id="befvolatility_devicetree" style="display: none;">
                {% if results.befmemory.devicetree %}
                    {% include "sections/befmemory/_devicetree.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Svcscan -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_svcscan');"><b>Svcscan</b></a>
            <small>
                Scanning for services
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#svcscan" target="_blank">help</a>)
            </small>
            <div id="befvolatility_svcscan" style="display: none;">
                {% if results.befmemory.svcscan %}
                    {% include "sections/befmemory/_svcscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Modscan -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_modscan');"><b>Modscan</b></a>
            <small>
                Scan for (hidden) kernel drivers
                (<a href="http://code.google.com/p/volatility/wiki/CommandReference23#modscan" target="_blank">help</a>)
            </small>
            <div id="befvolatility_modscan" style="display: none;">
                {% if results.befmemory.modscan %}
                    {% include "sections/befmemory/_modscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- idt -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_idt');"><b>IDT</b></a>
            <small>
                Listing IDTs
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#idt" target="_blank">help</a>)
            </small>
            <div id="befvolatility_idt" style="display: none;">
                {% if results.befmemory.idt %}
                    {% include "sections/befmemory/_idt.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- timers -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_timers');"><b>Timers</b></a>
            <small>
                Listing timers
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#timers" target="_blank">help</a>)
            </small>
            <div id="befvolatility_timers" style="display: none;">
                {% if results.befmemory.timers %}
                    {% include "sections/befmemory/_timers.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- gdt -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_gdt');"><b>GDT</b></a>
            <small>
                Listing GDTs
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#gdt" target="_blank">help</a>)
            </small>
            <div id="befvolatility_gdt" style="display: none;">
                {% if results.befmemory.gdt %}
                    {% include "sections/befmemory/_gdt.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

            <!-- SSDT -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_ssdt');"><b>SSDT</b></a>
            <small>
                Listing SSDT
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#ssdt" target="_blank">help</a>)
            </small>
            <div id="befvolatility_ssdt" style="display: none;">
                {% if results.befmemory.ssdt %}
                    {% include "sections/befmemory/_ssdt.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- netscan -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_netscan');"><b>Netscan</b></a>
            <small>
                Listing netscan
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#netscan" target="_blank">help</a>)
            </small>
            <div id="befvolatility_netscan" style="display: none;">
                {% if results.befmemory.netscan %}
                    {% include "sections/befmemory/_netscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- sockscan -->
        <div class="card card-body">
            <a href="javascript:showHide('befvolatility_sockscan');"><b>Sockscan</b></a>
            <small>
                Listing sockscan
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#sockscan" target="_blank">help</a>)
            </small>
            <div id="befvolatility_sockscan" style="display: none;">
                {% if results.befmemory.sockscan %}
                    {% include "sections/befmemory/_sockscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if results.midmemory %}
    <div class="section-title">
        <h4>Volatility (During Analysis)</h4>
    </div>

        <!-- Malfind -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_malfind');"><b>Malfind</b></a>
            <small>
                Scanning for injections
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#malfind" target="_blank">help</a>)
            </small>
            <div id="midvolatility_malfind" style="display: none;">
                {% if results.midmemory.malfind %}
                    {% include "sections/midmemory/_malfind.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Yarascan -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_yarascan');"><b>Yarascan</b></a>
            <small>
                Scanning for rule matches
                (<a href="https://code.google.com/p/volatility/wiki/CommandReferenceMal23#yarascan" target="_blank">help</a>)
            </small>
            <div id="midvolatility_yarascan" style="display: none;">
                {% if results.midmemory.yarascan %}
                    {% include "sections/midmemory/_yarascan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- APIHooks -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_apihooks');"><b>Apihooks</b></a>
            <small>
                Listing API hooks
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#apihooks" target="_blank">help</a>)
            </small>
            <div id="midvolatility_apihooks" style="display: none;">
                {% if results.midmemory.apihooks %}
                    {% include "sections/midmemory/_apihooks.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Pslist -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_pslist');"><b>PSList</b></a>
            <small>
                Listing processes
                (<a href="http://code.google.com/p/volatility/wiki/CommandReference23#pslist" target="_blank">help</a>)
            </small>
            <div id="midvolatility_pslist" style="display: none;">
                {% if results.midmemory.pslist %}
                    {% include "sections/midmemory/_pslist.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Callbacks -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_callbacks');"><b>Callbacks</b></a>
            <small>
                Listing registered callbacks
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#callbacks" target="_blank">help</a>)
            </small>
            <div id="midvolatility_callbacks" style="display: none;">
                {% if results.midmemory.callbacks %}
                    {% include "sections/midmemory/_callbacks.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Messagehooks -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_messagehooks');"><b>Messagehooks</b></a>
            <small>
                Registered Messagehooks
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceGui23#messagehooks" target="_blank">help</a>)
            </small>
            <div id="midvolatility_messagehooks" style="display: none;">
                {% if results.midmemory.messagehooks %}
                    {% include "sections/midmemory/_messagehooks.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Devicetree -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_devicetree');"><b>Devicetree</b></a>
            <small>
                Listing devices and drivers
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#devicetree" target="_blank">help</a>)
            </small>
            <div id="midvolatility_devicetree" style="display: none;">
                {% if results.midmemory.devicetree %}
                    {% include "sections/midmemory/_devicetree.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Svcscan -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_svcscan');"><b>Svcscan</b></a>
            <small>
                Scanning for services
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#svcscan" target="_blank">help</a>)
            </small>
            <div id="midvolatility_svcscan" style="display: none;">
                {% if results.midmemory.svcscan %}
                    {% include "sections/midmemory/_svcscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Modscan -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_modscan');"><b>Modscan</b></a>
            <small>
                Scan for (hidden) kernel drivers
                (<a href="http://code.google.com/p/volatility/wiki/CommandReference23#modscan" target="_blank">help</a>)
            </small>
            <div id="midvolatility_modscan" style="display: none;">
                {% if results.midmemory.modscan %}
                    {% include "sections/midmemory/_modscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- idt -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_idt');"><b>IDT</b></a>
            <small>
                Listing IDTs
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#idt" target="_blank">help</a>)
            </small>
            <div id="midvolatility_idt" style="display: none;">
                {% if results.midmemory.idt %}
                    {% include "sections/midmemory/_idt.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- timers -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_timers');"><b>Timers</b></a>
            <small>
                Listing timers
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#timers" target="_blank">help</a>)
            </small>
            <div id="midvolatility_timers" style="display: none;">
                {% if results.midmemory.timers %}
                    {% include "sections/midmemory/_timers.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- gdt -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_gdt');"><b>GDT</b></a>
            <small>
                Listing GDTs
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#gdt" target="_blank">help</a>)
            </small>
            <div id="midvolatility_gdt" style="display: none;">
                {% if results.midmemory.gdt %}
                    {% include "sections/midmemory/_gdt.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

            <!-- SSDT -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_ssdt');"><b>SSDT</b></a>
            <small>
                Listing SSDT
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#ssdt" target="_blank">help</a>)
            </small>
            <div id="midvolatility_ssdt" style="display: none;">
                {% if results.midmemory.ssdt %}
                    {% include "sections/midmemory/_ssdt.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- netscan -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_netscan');"><b>Netscan</b></a>
            <small>
                Listing netscan
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#netscan" target="_blank">help</a>)
            </small>
            <div id="midvolatility_netscan" style="display: none;">
                {% if results.midmemory.netscan %}
                    {% include "sections/midmemory/_netscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- sockscan -->
        <div class="card card-body">
            <a href="javascript:showHide('midvolatility_sockscan');"><b>Sockscan</b></a>
            <small>
                Listing sockscan
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#sockscan" target="_blank">help</a>)
            </small>
            <div id="midvolatility_sockscan" style="display: none;">
                {% if results.midmemory.sockscan %}
                    {% include "sections/midmemory/_sockscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if results.midmemory2 %}
    <div class="section-title">
        <h4>Volatility (During Analysis [2])</h4>
    </div>

        <!-- Malfind -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_malfind');"><b>Malfind</b></a>
            <small>
                Scanning for injections
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#malfind" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_malfind" style="display: none;">
                {% if results.midmemory2.malfind %}
                    {% include "sections/midmemory2/_malfind.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Yarascan -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_yarascan');"><b>Yarascan</b></a>
            <small>
                Scanning for rule matches
                (<a href="https://code.google.com/p/volatility/wiki/CommandReferenceMal23#yarascan" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_yarascan" style="display: none;">
                {% if results.midmemory2.yarascan %}
                    {% include "sections/midmemory2/_yarascan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- APIHooks -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_apihooks');"><b>Apihooks</b></a>
            <small>
                Listing API hooks
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#apihooks" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_apihooks" style="display: none;">
                {% if results.midmemory2.apihooks %}
                    {% include "sections/midmemory2/_apihooks.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Pslist -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_pslist');"><b>PSList</b></a>
            <small>
                Listing processes
                (<a href="http://code.google.com/p/volatility/wiki/CommandReference23#pslist" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_pslist" style="display: none;">
                {% if results.midmemory2.pslist %}
                    {% include "sections/midmemory2/_pslist.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Callbacks -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_callbacks');"><b>Callbacks</b></a>
            <small>
                Listing registered callbacks
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#callbacks" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_callbacks" style="display: none;">
                {% if results.midmemory2.callbacks %}
                    {% include "sections/midmemory2/_callbacks.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Messagehooks -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_messagehooks');"><b>Messagehooks</b></a>
            <small>
                Registered Messagehooks
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceGui23#messagehooks" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_messagehooks" style="display: none;">
                {% if results.midmemory2.messagehooks %}
                    {% include "sections/midmemory2/_messagehooks.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Devicetree -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_devicetree');"><b>Devicetree</b></a>
            <small>
                Listing devices and drivers
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#devicetree" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_devicetree" style="display: none;">
                {% if results.midmemory2.devicetree %}
                    {% include "sections/midmemory2/_devicetree.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Svcscan -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_svcscan');"><b>Svcscan</b></a>
            <small>
                Scanning for services
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#svcscan" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_svcscan" style="display: none;">
                {% if results.midmemory2.svcscan %}
                    {% include "sections/midmemory2/_svcscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Modscan -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_modscan');"><b>Modscan</b></a>
            <small>
                Scan for (hidden) kernel drivers
                (<a href="http://code.google.com/p/volatility/wiki/CommandReference23#modscan" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_modscan" style="display: none;">
                {% if results.midmemory2.modscan %}
                    {% include "sections/midmemory2/_modscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- idt -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_idt');"><b>IDT</b></a>
            <small>
                Listing IDTs
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#idt" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_idt" style="display: none;">
                {% if results.midmemory2.idt %}
                    {% include "sections/midmemory2/_idt.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- timers -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_timers');"><b>Timers</b></a>
            <small>
                Listing timers
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#timers" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_timers" style="display: none;">
                {% if results.midmemory2.timers %}
                    {% include "sections/midmemory2/_timers.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- gdt -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_gdt');"><b>GDT</b></a>
            <small>
                Listing GDTs
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#gdt" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_gdt" style="display: none;">
                {% if results.midmemory2.gdt %}
                    {% include "sections/midmemory2/_gdt.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

            <!-- SSDT -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_ssdt');"><b>SSDT</b></a>
            <small>
                Listing SSDT
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#ssdt" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_ssdt" style="display: none;">
                {% if results.midmemory2.ssdt %}
                    {% include "sections/midmemory2/_ssdt.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- netscan -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_netscan');"><b>Netscan</b></a>
            <small>
                Listing netscan
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#netscan" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_netscan" style="display: none;">
                {% if results.midmemory2.netscan %}
                    {% include "sections/midmemory2/_netscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- sockscan -->
        <div class="card card-body">
            <a href="javascript:showHide('mid2volatility_sockscan');"><b>Sockscan</b></a>
            <small>
                Listing sockscan
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#sockscan" target="_blank">help</a>)
            </small>
            <div id="mid2volatility_sockscan" style="display: none;">
                {% if results.midmemory2.sockscan %}
                    {% include "sections/midmemory2/_sockscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>
    {% endif %}


    {% if results.memory %}
    <div class="section-title">
        <h4>Volatility (After Analysis)</h4>
    </div>

        <!-- Malfind -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_malfind');"><b>Malfind</b></a>
            <small>
                Scanning for injections
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#malfind" target="_blank">help</a>)
            </small>
            <div id="volatility_malfind" style="display: none;">
                {% if results.memory.malfind %}
                    {% include "sections/memory/_malfind.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Yarascan -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_yarascan');"><b>Yarascan</b></a>
            <small>
                Scanning for rule matches
                (<a href="https://code.google.com/p/volatility/wiki/CommandReferenceMal23#yarascan" target="_blank">help</a>)
            </small>
            <div id="volatility_yarascan" style="display: none;">
                {% if results.memory.yarascan %}
                    {% include "sections/memory/_yarascan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- APIHooks -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_apihooks');"><b>Apihooks</b></a>
            <small>
                Listing API hooks
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#apihooks" target="_blank">help</a>)
            </small>
            <div id="volatility_apihooks" style="display: none;">
                {% if results.memory.apihooks %}
                    {% include "sections/memory/_apihooks.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Pslist -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_pslist');"><b>PSList</b></a>
            <small>
                Listing processes
                (<a href="http://code.google.com/p/volatility/wiki/CommandReference23#pslist" target="_blank">help</a>)
            </small>
            <div id="volatility_pslist" style="display: none;">
                {% if results.memory.pslist %}
                    {% include "sections/memory/_pslist.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Callbacks -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_callbacks');"><b>Callbacks</b></a>
            <small>
                Listing registered callbacks
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#callbacks" target="_blank">help</a>)
            </small>
            <div id="volatility_callbacks" style="display: none;">
                {% if results.memory.callbacks %}
                    {% include "sections/memory/_callbacks.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Messagehooks -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_messagehooks');"><b>Messagehooks</b></a>
            <small>
                Registered Messagehooks
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceGui23#messagehooks" target="_blank">help</a>)
            </small>
            <div id="volatility_messagehooks" style="display: none;">
                {% if results.memory.messagehooks %}
                    {% include "sections/memory/_messagehooks.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Devicetree -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_devicetree');"><b>Devicetree</b></a>
            <small>
                Listing devices and drivers
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#devicetree" target="_blank">help</a>)
            </small>
            <div id="volatility_devicetree" style="display: none;">
                {% if results.memory.devicetree %}
                    {% include "sections/memory/_devicetree.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Svcscan -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_svcscan');"><b>Svcscan</b></a>
            <small>
                Scanning for services
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#svcscan" target="_blank">help</a>)
            </small>
            <div id="volatility_svcscan" style="display: none;">
                {% if results.memory.svcscan %}
                    {% include "sections/memory/_svcscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- Modscan -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_modscan');"><b>Modscan</b></a>
            <small>
                Scan for (hidden) kernel drivers
                (<a href="http://code.google.com/p/volatility/wiki/CommandReference23#modscan" target="_blank">help</a>)
            </small>
            <div id="volatility_modscan" style="display: none;">
                {% if results.memory.modscan %}
                    {% include "sections/memory/_modscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- idt -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_idt');"><b>IDT</b></a>
            <small>
                Listing IDTs
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#idt" target="_blank">help</a>)
            </small>
            <div id="volatility_idt" style="display: none;">
                {% if results.memory.idt %}
                    {% include "sections/memory/_idt.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- timers -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_timers');"><b>Timers</b></a>
            <small>
                Listing timers
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#timers" target="_blank">help</a>)
            </small>
            <div id="volatility_timers" style="display: none;">
                {% if results.memory.timers %}
                    {% include "sections/memory/_timers.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- gdt -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_gdt');"><b>GDT</b></a>
            <small>
                Listing GDTs
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#gdt" target="_blank">help</a>)
            </small>
            <div id="volatility_gdt" style="display: none;">
                {% if results.memory.gdt %}
                    {% include "sections/memory/_gdt.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

            <!-- SSDT -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_ssdt');"><b>SSDT</b></a>
            <small>
                Listing SSDT
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#ssdt" target="_blank">help</a>)
            </small>
            <div id="volatility_ssdt" style="display: none;">
                {% if results.memory.ssdt %}
                    {% include "sections/memory/_ssdt.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- netscan -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_netscan');"><b>Netscan</b></a>
            <small>
                Listing netscan
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#netscan" target="_blank">help</a>)
            </small>
            <div id="volatility_netscan" style="display: none;">
                {% if results.memory.netscan %}
                    {% include "sections/memory/_netscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>

        <!-- sockscan -->
        <div class="card card-body">
            <a href="javascript:showHide('volatility_sockscan');"><b>Sockscan</b></a>
            <small>
                Listing sockscan
                (<a href="http://code.google.com/p/volatility/wiki/CommandReferenceMal23#sockscan" target="_blank">help</a>)
            </small>
            <div id="volatility_sockscan" style="display: none;">
                {% if results.memory.sockscan %}
                    {% include "sections/memory/_sockscan.html" %}
                {% else %}
                    Nothing to display.
                {% endif %}
            </div>
        </div>
    {% endif %}
</section>
{% endif %}
