{% load key_tags %}
<section id="file">
    <h4>File Details  {% if analysis.info.parent_sample %} <label for="parent_file"><a href="#parent_file" data-toggle="collapse"> Parent file</a></label> {% endif %} </h4>
    {% if analysis.info.parent_sample %}
    <div class="form-group">
        <div id="parent_file" class="collapse">
            <table class="table table-striped table-dark" style="table-layout: fixed;">
                <tr>
                    <th style="border-top: 0; width: 15%;">File Size</th>
                    <td style="border-top: 0; word-wrap: break-word;">{{analysis.info.parent_sample.file_size}} bytes</td>
                </tr>
                <tr>
                    <th>File Type</th>
                    <td style="word-wrap: break-word;">{{analysis.info.parent_sample.file_type}}</td>
                </tr>
                <tr>
                    <th>MD5</th>
                    <td style="word-wrap: break-word;">{{analysis.info.parent_sample.md5}}</td>
                </tr>
                <tr>
                    <th>SHA1</th>
                    <td style="word-wrap: break-word;">{{analysis.info.parent_sample.sha1}}</td>
                </tr>
                <tr>
                    <th>SHA256</th>
                    <td style="word-wrap: break-word;">{{analysis.info.parent_sample.sha256}}</td>
                </tr>
                <tr>
                    <th>SHA512</th>
                    <td style="word-wrap: break-word;">{{analysis.info.parent_sample.sha512}}</td>
                </tr>
                <tr>
                    <th>CRC32</th>
                    <td>{{analysis.info.parent_sample.crc32}}</td>
                </tr>
                {% if analysis.info.parent_sample.ssdeep %}
                <tr>
                    <th>Ssdeep</th>
                    <td style="word-wrap: break-word;">{{analysis.info.parent_sample.ssdeep}}</td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
    {% endif %}

        <table class="table table-striped table-dark" style="table-layout: fixed;">
            {% if analysis.info.source_url %}
            <tr>
                <th style="border-top: 0; width: 15%;">File downloaded from</th>
                <td style="border-top: 0; word-wrap: break-word;">{{analysis.info.source_url|safe}}</td>
            </tr>
            {% endif %}
            <tr>
                <th style="border-top: 0; width: 15%;">File Name</th>
                <td style="border-top: 0; word-wrap: break-word;">{{analysis.target.file.name}}</td>
            </tr>
            <tr>
                <th>File Size</th>
                <td>{{analysis.target.file.size}} bytes</td>
            </tr>
            <tr>
                <th>File Type</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.type}}</td>
            </tr>
            {% if analysis.target.file.timestamp %}
            <tr>
                <th>PE timestamp</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.timestamp}}</td>
            </tr>
            {% endif %}
            <tr>
                <th>MD5</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.md5}}</td>
            </tr>
            <tr>
                <th>SHA1</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.sha1}}</td>
            </tr>
            <tr>
                <th>SHA256</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.sha256}}</td>
            </tr>
            <tr>
                <th>SHA512</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.sha512}}</td>
            </tr>
            {% if analysis.target.file.sha3_384 %}
            <tr>
                <th>SHA3-384</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.sha3_384}}</td>
            </tr>
            {% endif %}
            <tr>
                <th>CRC32</th>
                <td>{{analysis.target.file.crc32}}</td>
            </tr>
            {% if analysis.target.file.tlsh %}
            <tr>
                <th>TLSH</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.tlsh}}</td>
            </tr>
            {% endif %}

            {% if analysis.target.file.ssdeep %}
            <tr>
                <th>Ssdeep</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.ssdeep}}</td>
            </tr>
            {% endif %}
            {% if analysis.trid %}
            <tr>
                <th>TrID</th>
                <td style="word-wrap: break-word;">
                    <ul style="margin-top: 0;margin-bottom: 0;">
                        {% for str in analysis.trid %}
                        <li>{{str}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% if analysis.target.file.clamav %}
            <tr>
                <th>ClamAV</th>
                <td>
                    <ul style="margin-bottom: 0;">
                        {% for sign in analysis.target.file.clamav %}
                        <li>{{sign}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% if analysis.target.file.yara %}
            <tr>
                <th>Yara</th>
                <td>
                    <ul style="margin-bottom: 0;">
                        {% for sign in analysis.target.file.yara %}
                        <li>{{sign.name}} - {{sign.meta.description}}
                            {% if sign.meta.author %}
                            - Author: {{sign.meta.author}}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% if analysis.target.file.cape_yara %}
            <tr>
                <th>CAPE Yara</th>
                <td>
                    <ul style="margin-bottom: 0;">
                        {% for sign in analysis.target.file.cape_yara %}
                        <li>
                            {{sign.name}} -
                            {% if sign.meta.cape_type %}
                                {{sign.meta.cape_type}}
                            {% elif sign.meta.description %}
                                {{sign.meta.description}}
                            {% endif %}
                            {% if sign.meta.author %}
                                - Author: {{sign.meta.author}}
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}

            <tr>
                <th></th>
                <td>
                    {% if not config.zipped_download %}
                        <a class="btn btn-secondary btn-sm" href="{% url "file" "sample" analysis.info.id analysis.target.file.sha256 %}" data-bs-toggle="tooltip" title="Download file"><span class="fas fa-download"></span></a>
                    {% endif %}
                    <a class="btn btn-secondary btn-sm" href="{% url "file" "samplezip" analysis.info.id analysis.target.file.sha256 %}"><span class="fas fa-file-archive" data-bs-toggle="tooltip" title="Download password-protected archive"></span> <span class="fas fa-download"></span></a>
                    <a class="btn btn-secondary btn-sm" href="/submit/resubmit/{{analysis.target.file.sha256 }}" data-bs-toggle="tooltip" title="Re-submit file for analysis"><span class="fa fa-sync"></span> File</a>
                    {% if "PE32" in analysis.target.file.type or "MS-DOS executable" in analysis.target.file.type %}
                        {% if config.flare_capa %}
                            {% if not analysis.static.flare_capa and on_demand.flare_capa %}
                                <a class="btn btn-secondary  btn-sm" href="{% url "on_demand" "flare_capa" analysis.info.id "static" analysis.target.file.sha256 %}" role="button" data-bs-toggle="tooltip" title="Generate CAPA findings"><span class="fas fa-cogs"></span> CAPA</a>
                            {% elif analysis.static.flare_capa %}
                                <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#flare_capa_{{analysis.target.file.sha256}}" role="button" aria-expanded="false" aria-controls="flare_capa">FLARE CAPA</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                        {% if config.xlsdeobf %}
                            {% if not analysis.static.office.XLMMacroDeobfuscator and on_demand.xlsdeobf %}
                                <a class="btn btn-secondary  btn-sm" href="{% url "on_demand" "xlsdeobf" analysis.info.id "static" analysis.target.file.sha256 %}" role="button" data-bs-toggle="tooltip" title="Generate XLMMacroDeobfuscator findings"><span class="fas fa-cogs"></span> <i class="far fa-file-excel"></i></a>
                            {% elif analysis.static.office.XLMMacroDeobfuscator %}
                                <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#main_XLMMacroDeobfuscator" role="button" aria-expanded="false" aria-controls="main_XLMMacroDeobfuscator"><i class="far fa-file-excel"></i></a>
                             {% endif %}
                            <div id="main_XLMMacroDeobfuscator" class="collapse" style="text-align: left;">
                                {% if analysis.static.office.XLMMacroDeobfuscator.msg %}
                                    <pre>No results</pre>
                                {% else %}
                                    <pre>
                                        {% for line in analysis.static.office.XLMMacroDeobfuscator.Code %}
                                            {{line}}
                                        {% endfor %}
                                    </pre>
                                {% endif %}
                            </div>
                        {% endif %}

                    {% if graphs.bingraph.enabled %}
                        {% if not graphs.bingraph.content|getkey:analysis.target.file.sha256 and on_demand.bingraph %}
                            <a class="btn btn-secondary btn-sm" href="{% url "on_demand" "bingraph" analysis.info.id "static" analysis.target.file.sha256 %}" role="button" data-bs-toggle="tooltip" title="Generate Bingraph"><span class="fas fa-cogs"></span> Bingraph</a>
                        {% elif graphs.bingraph.content|getkey:analysis.target.file.sha256 %}
                            <a href="{% url "file_nl" "bingraph" analysis.info.id analysis.target.file.sha256 %}" class="btn btn-secondary btn-sm"><span class="fas fa-download"> BinGraph</a>
                        {% endif %}
                    {% endif %}
                    {% if graphs.vba2graph.enabled and analysis.static.office %}
                        {% if not graphs.vba2graph.content|getkey:analysis.target.file.sha256 and on_demand.vba2graph %}
                            <a class="btn btn-secondary btn-sm" href="{% url "on_demand" "vba2graph" analysis.info.id "static" analysis.target.file.sha256 %}" role="button" data-bs-toggle="tooltip" title="Generate vba2Graph"><span class="fas fa-cogs"></span> Vba2Graph</a>
                        {% elif graphs.vba2graph.content|getkey:analysis.target.file.sha256 %}
                            <a href="{% url "file_nl" "vba2graph" analysis.info.id analysis.target.file.sha256 %}" class="btn btn-secondary btn-sm"><span class="fas fa-download"> Vba2Graph</a>
                        {% endif %}
                    {% endif %}
                    {% if config.virustotal and not analysis.virustotal and on_demand.virustotal %}
                        <a class="btn btn-secondary btn-sm" href="{% url "on_demand" "virustotal" analysis.info.id "static" analysis.target.file.sha256 %}" role="button" data-bs-toggle="tooltip" title="Fetch VirusTotal results"><span class="fas fa-cogs"></span> VirusTotal</a>
                    {% endif %}
                    {% if config.vtupload and analysis.info.tlp != "Red" %}
                        <a class="btn btn-secondary btn-sm" href="{% url "vtupload" "sample" analysis.info.id analysis.target.file.name analysis.target.file.sha256 %}"><span class="fas fa-exclamation-triangle" data-bs-toggle="tooltip" title="Upload file to VirusTotal"></span> <span class="fas fa-upload"></span> VirusTotal</a>
                    {% endif %}
                    {% if config.evtx_download %}
                    <a class="btn btn-secondary btn-sm" href="{% url "file" "evtx"  analysis.info.id analysis.target.file.sha256 %}" data-bs-toggle="tooltip" title="Download evtx files"><span class="fas fa-eye"></span> Evtx</a>
                {% endif %}

                </td>
            </tr>
            {% if graphs.bingraph.enabled and graphs.bingraph.content|getkey:analysis.target.file.sha256 %}
                <tr><th></th>
                    <td>{{ graphs.bingraph.content|getkey:analysis.target.file.sha256|safe }}</td>
                </tr>
            {% endif %}
            {% if graphs.vba2graph.enabled and graphs.vba2graph.content|getkey:analysis.target.file.sha256 %}
                <tr><th></th>
                    <td>{{ graphs.vba2graph.content|getkey:analysis.target.file.sha256|safe }}</td>
                </tr>
            {% endif %}

            {% if analysis.static.flare_capa %}
                <tr><th></th><td>
                <div class="collapse" id="flare_capa_{{analysis.target.file.sha256}}">
                    <div class="card card-body">
                    <!--Inspired by @snemes trick, code placed in web/views/templateatgs/analysis_tags.py-->
                    {% if analysis.static.flare_capa.CAPABILITY %}
                        {{analysis.static.flare_capa|flare_capa_capability}}
                    {% endif %}

                    {% if analysis.static.flare_capa.ATTCK %}
                        {{analysis.static.flare_capa|flare_capa_attck}}
                    {% endif %}

                    {% if analysis.static.flare_capa.MBC %}
                        {{analysis.static.flare_capa|flare_capa_mbc}}
                    {% endif %}
                    </div>
                </div>
                </td>
            </tr>
            {% endif %}

            {% if existent_tasks %}
            <tr><th></th><td>
            <div id="existent_tasks" class="collapse bg-dark" style="text-align: left;">
                    <p>
                        {% for te_id, malware_detection in existent_tasks.items %}
                            <li><a href="{% url "report" te_id %}"><span class="mono">{{te_id}}</span></a> {% if malware_detection %} - <a href="/analysis/search/detections:{{malware_detection}}"><span style="color:#EE1B2F;font-weight: bold;">{{malware_detection}}</span></a>{% endif %}</li>
                        {% endfor %}
                    </p>
                </div>
                </td>
            {% endif %}
        </table>
</section>
