<section id="file">
    <h4>File Details</h4>
    {% if analysis.info.parent_sample %}
    <div class="form-group">
        <label for="parent_file"><a href="#parent_file" data-toggle="collapse">Parent file</a></label>
        <div id="parent_file" class="collapse">
            <table class="table table-striped table-dark" style="table-layout: fixed;">
                <tr>
                    <th style="border-top: 0; width: 15%;">File Size</th>
                    <td style="border-top: 0; word-wrap: break-word;">{{analysis.info.parent_sample.file_size}} bytes</td>
                </tr>
                <tr>
                    <th>File Type</th>
                    <td style="word-wrap: break-word;">{{analysis.info.parent_sample.file_type}}</td>
                </tr>
                <tr>
                    <th>MD5</th>
                    <td style="word-wrap: break-word;">{{analysis.info.parent_sample.md5}}</td>
                </tr>
                <tr>
                    <th>SHA1</th>
                    <td style="word-wrap: break-word;">{{analysis.info.parent_sample.sha1}}</td>
                </tr>
                <tr>
                    <th>SHA256</th>
                    <td style="word-wrap: break-word;">{{analysis.info.parent_sample.sha256}}</td>
                </tr>
                <tr>
                    <th>SHA512</th>
                    <td style="word-wrap: break-word;">{{analysis.info.parent_sample.sha512}}</td>
                </tr>
                <tr>
                    <th>CRC32</th>
                    <td>{{analysis.info.parent_sample.crc32}}</td>
                </tr>
                {% if analysis.info.parent_sample.ssdeep %}
                <tr>
                    <th>Ssdeep</th>
                    <td style="word-wrap: break-word;">{{analysis.info.parent_sample.ssdeep}}</td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
    {% endif %}

        <table class="table table-striped table-dark" style="table-layout: fixed;">
            {% if analysis.info.source_url %}
            <tr>
                <th style="border-top: 0; width: 15%;">File downloaded from</th>
                <td style="border-top: 0; word-wrap: break-word;">{{analysis.info.source_url|safe}}</td>
            </tr>
            {% endif %}
            <tr>
                <th style="border-top: 0; width: 15%;">File Name</th>
                <td style="border-top: 0; word-wrap: break-word;">{{analysis.target.file.name}}</td>
            </tr>
            <tr>
                <th>File Size</th>
                <td>{{analysis.target.file.size}} bytes</td>
            </tr>
            <tr>
                <th>File Type</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.type}}</td>
            </tr>
            {% if analysis.target.file.timestamp %}
            <tr>
                <th>PE timestamp</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.timestamp}}</td>
            </tr>
            {% endif %}
            <tr>
                <th>MD5</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.md5}}</td>
            </tr>
            <tr>
                <th>SHA1</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.sha1}}</td>
            </tr>
            <tr>
                <th>SHA256</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.sha256}}</td>
            </tr>
            <tr>
                <th>SHA512</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.sha512}}</td>
            </tr>
            {% if analysis.target.file.sha3_384 %}
            <tr>
                <th>SHA3-384</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.sha3_384}}</td>
            </tr>
            {% endif %}
            <tr>
                <th>CRC32</th>
                <td>{{analysis.target.file.crc32}}</td>
            </tr>
            {% if analysis.target.file.tlsh %}
            <tr>
                <th>TLSH</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.tlsh}}</td>
            </tr>
            {% endif %}

            {% if analysis.target.file.ssdeep %}
            <tr>
                <th>Ssdeep</th>
                <td style="word-wrap: break-word;">{{analysis.target.file.ssdeep}}</td>
            </tr>
            {% endif %}
            {% if analysis.trid %}
            <tr>
                <th>TrID</th>
                <td style="word-wrap: break-word;">
                    <ul style="margin-top: 0;margin-bottom: 0;">
                        {% for str in analysis.trid %}
                        <li>{{str}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% if analysis.target.file.clamav %}
            <tr>
                <th>ClamAV</th>
                <td>
                    <ul style="margin-bottom: 0;">
                        {% for sign in analysis.target.file.clamav %}
                        <li>{{sign}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% if analysis.target.file.yara %}
            <tr>
                <th>Yara</th>
                <td>
                    <ul style="margin-bottom: 0;">
                        {% for sign in analysis.target.file.yara %}
                        <li>{{sign.name}} - {{sign.meta.description}}
                            {% if sign.meta.author %}
                            - Author: {{sign.meta.author}}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% if analysis.target.file.cape_yara %}
            <tr>
                <th>CAPE Yara</th>
                <td>
                    <ul style="margin-bottom: 0;">
                        {% for sign in analysis.target.file.cape_yara %}
                        <li>
                            {% if sign.meta.cape_type %}
                                {{sign.meta.cape_type}}
                            {% elif sign.meta.description %}
                                {{sign.meta.description}}
                            {% endif %}
                            {% if sign.meta.author %}
                                - Author: {{sign.meta.author}}
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th></th>
                <td>
                    <a class="btn btn-secondary btn-small" href="{% url "file" "sample" analysis.info.id analysis.target.file.sha256 %}">Download</a>
                    <a class="btn btn-secondary btn-small" href="{% url "file" "samplezip" analysis.info.id analysis.target.file.sha256 %}">Download ZIP</a>
                    <a class="btn btn-secondary btn-small" href="/submit/resubmit/{{analysis.target.file.sha256 }}"><span class="fa fa-refresh" aria-hidden="true"></span> Resubmit sample</a>
                </td>
                {% if config.vtupload %}
                {% if analysis.info.tlp != "Red" %}
                <td>
                    <a class="btn btn-secondary btn-small" href="{% url "vtupload" "sample" analysis.info.id analysis.target.file.name analysis.target.file.sha256 %}">Submit to VirusTotal</a>
                </td>
                {% endif %}
                {% endif %}
            </tr>
        </table>
</section>
