<section id="information">
    <div class="row">
    {% if analysis.malfamily_tag and analysis.detections %}
    <div class="col-lg-1" style="padding-right: 0px;">
        <div class="panel panel-primary" style="height: 114px;">
            <div class="panel-heading">
                <h4 class="panel-title" style="text-align: center;">Detections</h4>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 style="text-align:center;font-size: 16px";>{{analysis.malfamily_tag}}:</h5>
                    <h5 style="text-align:center; font-size: 16px%;font-weight-bold";><span class="badge badge-danger">{{analysis.detections}}</span></h4>
                </div>
              </div>

        </div>
    </div>
    {% endif %}

    {% if children|length > 0 %}
    <div class="col-lg-1" style="padding-right: 0px;">
        <div class="panel panel-primary" style="height: 114px;">
            <div class="panel-heading">
                <h4 class="panel-title" style="text-align: center;">Auto Tasks</h4>
            </div>
            <div class="card">
                <div class="card-body">
                    {% for child in children %}
                        <h4 style="text-align:center; font-size: 100%;font-weight-bold" ;><a href="/submit/status/{{ child.0 }}/">#{{ child.0 }}: {{ child.1 }}</a></h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if analysis.detections and children|length > 0 %}
        <div class="col-lg-10">
    {% elif analysis.detections or children|length > 0 %}
        <div class="col-lg-11">
    {% else %}
        <div class="col-lg-12">
    {% endif %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Analysis</h4>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Package</th>
                    <th>Started</th>
                    <th>Completed</th>
                    <th>Duration</th>
                    {% if analysis.info.options %}
                        <th>Options</th>
                    {% endif %}
                    {% if analysis.distributed %}
                        <th>Distributed</th>
                    {% endif %}
                    <th>Log</th>
                    {% if config.malscore and analysis.malscore %}
                        <th>MalScore</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{analysis.info.category|upper}}</td>
                    <td>{{analysis.info.package}}</td>
                    <td>{{analysis.info.started}}</td>
                    <td>{{analysis.info.ended}}</td>
                    <td>{{analysis.info.duration}} seconds</td>
                    {% if analysis.info.options %}
                        <td><a class="accordion-toggle" data-toggle="collapse" href="#options">Show Options</a></td>
                    {% endif %}
                    {% if analysis.distributed %}
                        <td>{{analysis.distributed.name}} - {{analysis.distributed.task_id}}</td>
                    {% endif %}
                    <td><a class="accordion-toggle" data-toggle="collapse" href="#info-log">Show Log</a></td>
                    {% if config.malscore and analysis.malscore %}
                    <td>
                        {% if analysis.malscore > 6.0 %}
                           <span class="label badge-danger">{{analysis.malscore|floatformat:1}}</span>
                            {% elif analysis.malscore > 2.0 %}
                            <span class="label badge-warning">{{analysis.malscore|floatformat:1}}</span>
                            {% else %}
                            <span class="label badge-success">{{analysis.malscore|floatformat:1}}</span>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>

    {% if analysis.debug.errors %}
        <ul style="font-size: 16px;">
        {% for error in analysis.debug.errors %}
            <li class="text-info"><b>Info:</b> {{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if analysis.info.options %}
        <div id="options" class="collapse">
            <pre>{% for key, val in analysis.info.options.items %}{{ key }}={{ val }}<br>{% endfor %}</pre>
        </div>
    {% endif %}
    <div id="info-log" class="collapse">
        <pre>{{analysis.debug.log}}</pre>
    </div>
    </div>
</section>

{% if analysis.info.machine and analysis.info.machine.name %}
    <section id="machine">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Machine</h4>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Label</th>
                        <th>Manager</th>
                        <th>Started On</th>
                        <th>Shutdown On</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{analysis.info.machine.name}}</td>
                        <td>{{analysis.info.machine.label}}</td>
                        <td>{{analysis.info.machine.manager}}</td>
                        <td>{{analysis.info.machine.started_on}}</td>
                        <td>{{analysis.info.machine.shutdown_on}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endif %}
