<link href="{{ STATIC_URL }}css/guac-playback.css" rel="stylesheet" type="text/css"/>
<script src="{{ STATIC_URL }}js/guac-playback.js"></script>
<script src="{{ STATIC_URL }}js/guacamole-1.4.0-all.min.js"></script>

<div class="card bg-dark border-secondary mb-3">
    <div class="card-header border-secondary" id="headingPlayback">
        <h5 class="mb-0">
            <button class="btn btn-link btn-block text-start text-white text-decoration-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#playback" aria-expanded="false" aria-controls="playback" onclick="playit()">
                <i class="fas fa-video me-2 text-success"></i> Session Playback
                <i class="fas fa-chevron-down float-end mt-1"></i>
            </button>
        </h5>
    </div>
    <div id="playback" class="collapse" aria-labelledby="headingPlayback">
        <div class="card-body bg-black p-0">
            {% if analysis.info.options.interactive %}
                <div id="terminal" style="width: 100%; height: 600px; position: relative;">
                    <!--
                        Guacamole recording player
                        http://www.apache.org/licenses/LICENSE-2.0
                    -->
                    <div id="player">
                        <!-- Player display -->
                        <div id="display">
                            <div class="notification-container">
                                <div class="seek-notification">
                                    <p>
                                        Seek in progress...
                                        <button id="cancel-seek" class="btn btn-sm btn-danger">Cancel</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Player controls -->
                        <div class="controls d-flex align-items-center bg-dark text-white p-2">
                            <button id="play-pause" class="btn btn-sm btn-primary me-3"><i class="fas fa-play"></i></button>
                            <input id="position-slider" type="range" class="form-control-range me-3 flex-grow-1">
                            <span id="position" class="me-1">00:00</span>
                            <span class="me-1">/</span>
                            <span id="duration">00:00</span>
                        </div>
                    </div>
                    <!-- -->
                    <script>
                        function playit() {initExamplePlayer("{{analysis.info.id|playback_url}}")}
                    </script>
                </div>
            {% else %}
                <div class="p-3 text-center text-white-50">
                    No playback available.
                </div>
            {% endif %}
        </div>
    </div>
</div>
