{% if analysis.statistics %}
    {% load analysis_tags %}
    <div class="card-header">
        <center><a class="accordion-toggle" data-toggle="collapse" aria-expanded="false" href="#stadistics"><i class="fas fa-stopwatch"></i> Statistics {% if stats_total.total %}({{stats_total.total}}) {% endif %}</a></center>
    </div>
    <div id="stadistics" class="collapse">
        {% if analysis.info.category != "pcap" and analysis.info.category != "static"  %}
            {% if config.usage %}
                <center>
                {% include "analysis/overview/_usage.html" %}
                </center>
                <hr />
            {% endif %}
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4>Processing&emsp;( {{ stats_total.processing }} seconds )</h4>
                    <ul class="list-group">
                        {% for stat in analysis.statistics.processing|dictsortreversed:"time" %}
                            {% if stat.time %}
                            <li class="list-group-item">
                                <span class="badge">{{stat.time}}</span>
                                {{stat.name}}
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm">
                <h4>Signatures&emsp;( {{ stats_total.signatures }} seconds )</h4>
                    <ul class="list-group">
                        {% for stat in analysis.statistics.signatures|dictsortreversed:"time" %}
                            {% if stat.time %}
                            <li class="list-group-item">
                                <span class="badge">{{stat.time}}</span>
                                {{stat.name}}
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm">
                    <h4>Reporting&emsp;( {{ stats_total.reporting }} seconds )</h4>
                <ul class="list-group">
                    {% for stat in analysis.statistics.reporting|dictsortreversed:"time" %}
                        {% if stat.time %}
                        <li class="list-group-item">
                            <span class="badge">{{stat.time}}</span>
                            {{stat.name}}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </div>
            </div>
        </div>

    </div>
{% endif %}
