flor==1.1.3
Pebble==4.6.1
pymisp==2.4.144
cryptography==3.3.2
requests[security,socks]==2.26.0
pyOpenSSL==20.0.1
pefile==2021.9.3
tldextract==3.1.0
oletools==0.60
olefile==0.46
networkx==2.5.1
mixbox==1.0.5
capstone==4.0.2
PyCrypto==2.6.1
voluptuous==0.12.1
xmltodict==0.12.0
future==0.18.2
python-dateutil==2.8.2
requests_file==1.5.1
gevent==20.4.0
orjson==3.6.0
pyinstaller==4.4
maec==4.1.0.17
regex==2021.7.6
SFlock2==0.3.27
https://github.com/doomedraven/socks5man/archive/7b335d027297b67abdf28f38cc7d5d42c9d810b5.zip
pyattck==4.1.1
distorm3==3.5.2
openpyxl==3.0.7
volatility3==1.0.1
https://github.com/DissectMalware/XLMMacroDeobfuscator/archive/c6e4cbcb84847e840322616220a65856bfa60820.zip
pyzipper==0.3.5
mwcp==3.2.1
malwareconfig==1.0.4
flare-capa==3.0.2
greenlet==0.4.16
cython==0.29.24
pyre2==0.3.6
https://github.com/CAPESandbox/peepdf/archive/20eda78d7d77fc5b3b652ffc2d8a5b0af796e3dd.zip
six>=1.12.0
django==3.2.5
sqlalchemy==1.4.22
sqlalchemy-utils==0.37.8
jinja2
markupsafe==2.0.1
chardet==4.0.0
pygal==2.4.0
jsbeautifier==1.14.0
dpkt==1.9.6
nose==1.3.7
dnspython==2.1.0
pytz==2021.1
python-magic==0.4.24
geoip==1.3.2
pillow>=8.2.0
python-whois==0.7.3
bs4==0.0.1
pydeep==0.4
https://github.com/CAPESandbox/httpreplay/archive/0d5a5b3144ab15f93189b83ca8188afde43db134.zip
django-recaptcha==2.0.6 # https://pypi.org/project/django-recaptcha/
django-allauth==0.45.0 # https://django-allauth.readthedocs.io/en/latest/configuration.html
django-crispy-forms==1.12.0
django-settings-export==1.2.1
django-csp==3.7
# django-otp==1.0.6
django-extensions==3.1.3
# qrcode==7.2
python-tlsh==4.5.0
djangorestframework==3.12.4
yara-python>=4.1.0
netstruct==1.1.2
pymongo>=3.12.0
django-ratelimit==3.0.1
psutil==5.8.0
https://github.com/CAPESandbox/binGraph/archive/552d1210ac6770f8b202d0d1fc4610cc14d878ec.zip
# theorically this is binGraph deps
matplotlib==3.3.0
numpy==1.19.1
