sqlalchemy
jinja2
markupsafe
libvirt-python
pymongo
bottle
pefile
django>=2.2.6, <3
simplejson
chardet
pygal
#clamd
pycrypto
jsbeautifier
dpkt
nose
dnspython
pytz
requests[socks]
python-magic
geoip
pillow
java-random
python-whois
bs4
git+https://github.com/crackinglandia/pype32.git
git+https://github.com/jsocol/django-ratelimit
git+https://github.com/kbandla/pydeep.git
pyvmomi>=6.0
imagehash
pyinstaller
# upx
maec
oletools==0.53.1
networkx>=2.1
regex
graphviz>=0.8.4
pydot>=1.2.4
olefile==0.45.1
mixbox
matplotlib==2.2.2
numpy==1.15.0
six==1.11.0
statistics==1.0.3.5
xmltodict
sflock
git+https://github.com/doomedraven/socks5man
git+https://github.com/swimlane/pyattck
malwareconfig
gevent>=1.2, <1.3
pyelftools

