flor
Pebble
pymisp
cryptography==3.3.2
requests[security,socks]
pyOpenSSL
pefile
tldextract
imagehash
oletools
olefile
networkx>=2.1
mixbox
capstone
PyCrypto
voluptuous
xmltodict
future
python-dateutil
requests_file
gevent==20.4.0
orjson
pyvmomi
pyinstaller
maec
regex
xmltodict
SFlock2==0.3.20
https://github.com/doomedraven/socks5man/archive/7b335d027297b67abdf28f38cc7d5d42c9d810b5.zip
pyattck==3.0.1
distorm3
openpyxl
volatility3==1.0.1
https://github.com/DissectMalware/XLMMacroDeobfuscator/archive/3128c35ebce0cf3ed0ea6b0efad252d4d2e8467a.zip
passlib
pyzipper
mwcp==3.3.1
malwareconfig==1.0.4
flare-capa==1.6.3
greenlet==0.4.16
cython
pyre2==0.3.6
https://github.com/CAPESandbox/peepdf/archive/20eda78d7d77fc5b3b652ffc2d8a5b0af796e3dd.zip
matplotlib>=2.2.2
numpy>=1.15.0
six>=1.12.0
statistics>=1.0.3.5
django>3
sqlalchemy
sqlalchemy-utils
jinja2
markupsafe
chardet
pygal
rarfile
jsbeautifier
dpkt==1.9.6
nose
dnspython
pytz
python-magic
geoip
pillow>=7
java-random
python-whois
bs4
pype32-py3
pydeep==0.4
pyvmomi
https://github.com/CAPESandbox/httpreplay/archive/refs/tags/0.3.0.zip
django-recaptcha==2.0.6 # https://pypi.org/project/django-recaptcha/
django-allauth # https://django-allauth.readthedocs.io/en/latest/configuration.html
django-crispy-forms
django-settings-export
django-csp
django-otp
django-extensions
qrcode
python-tlsh
djangorestframework
yara-python>=4.0.0
netstruct
pymongo>=3.11.3
django-ratelimit
psutil
