flor
Pebble
pymisp
cryptography>=3.1
requests[security]
pyOpenSSL
pefile
tldextract
imagehash
oletools
olefile
networkx>=2.1
mixbox
capstone
PyCrypto
voluptuous
xmltodict
future
python-dateutil
requests_file
gevent==20.4.0
simplejson
pyvmomi
pyinstaller
maec
regex
xmltodict
git+https://github.com/doomedraven/sflock.git
git+https://github.com/doomedraven/socks5man.git
git+https://github.com/swimlane/pyattck.git
distorm3
openpyxl
git+https://github.com/volatilityfoundation/volatility3
git+https://github.com/DissectMalware/XLMMacroDeobfuscator
passlib
pyzipper
git+https://github.com/Defense-Cyber-Crime-Center/DC3-MWCP.git
git+https://github.com/kevthehermit/RATDecoders.git
git+https://github.com/fireeye/capa.git
greenlet==0.4.16
cython
git+https://github.com/andreasvc/pyre2.git
git+https://github.com/CAPESandbox/peepdf.git
matplotlib>=2.2.2
numpy>=1.15.0
six>=1.12.0
statistics>=1.0.3.5
django>3
django-ratelimit
sqlalchemy
sqlalchemy-utils
jinja2
markupsafe
chardet
pygal
rarfile
jsbeautifier
dpkt
nose
dnspython
pytz
requests[socks]
python-magic
geoip
pillow>=7
java-random
python-whois
bs4
pype32-py3
git+https://github.com/kbandla/pydeep.git
flask
flask-restful
flask-sqlalchemy
pyvmomi
django-recaptcha==2.0.6 # https://pypi.org/project/django-recaptcha/
django-allauth # https://django-allauth.readthedocs.io/en/latest/configuration.html
django-crispy-forms
git+https://github.com/CAPESandbox/httpreplay
django-settings-export
django-csp
django-otp
qrcode
python-tlsh
djangorestframework
