{% load i18n %}
<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th width="150px">{% trans "Module" %}</th>
            <th width="150px">{% trans "Callback" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Details" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for x in memory.callbacks %}
        <tr>
            <td>{{x.Module}}</td>
            <td><span class="mono">{{x.Callback}}</span></td>
            <td>{{x.Type}}</td>
            <td>{{x.Details}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
