{% load i18n %}
<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>{% trans "CPU" %}</th>
            <th>{% trans "Selector" %}</th>
            <th>{% trans "Base" %}</th>
            <th>{% trans "Limit" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Dpl" %}</th>
            <th>{% trans "Granularity" %}</th>
            <th>{% trans "Present" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for x in memory.gdt.data %}
        <tr>
            <td>{{x.cpu_number}}</td>
            <td><span class="mono">{{x.selector}}</span></td>
            <td><span class="mono">{{x.base}}</span></td>
            <td><span class="mono">{{x.limit}}</span></td>
            <td>{{x.type}}</td>
            <td>{{x.dpl}}</td>
            <td>{{x.granularity}}</td>
            <td>{{x.present}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
