{% load i18n %}
<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>{% trans "PID" %}</th>
            <th>{% trans "Process" %}</th>
            <th>{% trans "SID" %}</th>
            <th>{% trans "Name" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for getsids in memory.getsids %}
        <tr>
            <td>{{getsids.PID}}</td>
            <td>{{getsids.Process}}</td>
            <td>{{getsids.SID}}</td>
            <td>{{getsids.Name}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
