{% load i18n %}
<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>{% trans "PID" %}</th>
            <th>{% trans "Process" %}</th>
            <th>{% trans "Offset" %}</th>
            <th>{% trans "Handle Value" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Granted Access" %}</th>
            <th>{% trans "Name" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for handles in memory.handles %}
        <tr>
            <td>{{handles.PID}}</td>
            <td>{{handles.Process}}</td>
            <td>{{handles.Offset}}</td>
            <td>{{handles.HandleValue}}</td>
            <td>{{handles.Type}}</td>
            <td>{{handles.GrantedAccess}}</td>
            <td>{{handles.Name}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
