{% load i18n %}
<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>{% trans "PID" %}</th>
            <th>{% trans "Process Name" %}</th>
            <th>{% trans "Start" %}</th>
            <th>{% trans "End" %}</th>
            <th>{% trans "Tag" %}</th>
            <th>{% trans "Protection" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for mal in memory.malfind %}
        <tr>
            <td>{{mal.PID}}</td>
            <td>{{mal.Process}}</td>
            <td><span class="mono">{% trans "ToDo" %}</span></td>
            <td><span class="mono">{% trans "ToDo" %}</span></td>
            <td>{{mal.Tag}}</td>
            <td>{{mal.Protection}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
