{% load i18n %}
<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>{% trans "Offset" %}</th>
            <th>{% trans "Session" %}</th>
            <th>{% trans "Desktop" %}</th>
            <th>{% trans "Thread" %}</th>
            <th>{% trans "Filter" %}</th>
            <th>{% trans "Flags" %}</th>
            <th>{% trans "Function" %}</th>
            <th>{% trans "Module" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for x in memory.messagehooks.data %}
        <tr>
            <td><span class="mono">{{x.offset}}</span></td>
            <td>{{x.session}}</td>
            <td>{{x.desktop}}</td>
            <td>{{x.thread}}</td>
            <td>{{x.filter}}</td>
            <td>{{x.flags}}</td>
            <td><span class="mono">{{x.function}}</span></td>
            <td>{{x.module}}</span></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
