{% load i18n %}
<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Display Name" %}</th>
            <th>{% trans "Binary Path" %}</th>
            <th>{% trans "PID" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Order" %}</th>
            <th>{% trans "Offset" %}</th>
            <th>{% trans "State" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for service in memory.svcscan %}
        <tr>
            <td>{{service.Name}}</td>
            <td>{{service.Display}}</td>
            <td>{{service.Binary}}</td>
            <td>{{service.Pid}}</td>
            <td>{{service.Type}}</td>
            <td>{{service.Order}}</td>
            <td><span class="mono">{{service.Offset}}</span></td>
            <td>{{service.State}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
