[Unit]
Description=CAPE fstab utils
Documentation=https://github.com/kevoreilly/CAPEv2

[Service]
WorkingDirectory=/opt/CAPEv2/utils/
ExecStartPre=/etc/poetry/bin/poetry config cache-dir /opt/CAPEv2/.cache/pypoetry
ExecStart=/etc/poetry/bin/poetry run python fstab.py -g cape
User=root
Group=root
Restart=always
RestartSec=5m

[Install]
WantedBy=multi-user.target
