[Unit]
Description=CAPE WSGI app
Documentation=https://github.com/kevoreilly/CAPEv2
Wants=cape-rooter.service
After=cape-rooter.service

[Service]
WorkingDirectory=/opt/CAPEv2/web
ExecStart=/etc/poetry/bin/poetry run python manage.py runserver_plus 0.0.0.0:8000 --traceback --keep-meta-shutdown
User=cape
Group=cape
Restart=always
RestartSec=5m
# In case if you behind of proxy, set your proxy in /etc/environment and uncomment next line
# EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
