[Unit]
Description=CAPE WSGI app using gunicorn for CAPE-CCC environment
Documentation=https://github.com/kevoreilly/CAPEv2
Wants=cape.service
After=cape.service

[Service]
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/CAPEv2/web
#ExecStart=/usr/bin/python3 manage.py runserver 0.0.0.0:8000
ExecStart=/usr/local/bin/gunicorn -b 0.0.0.0:8000 web.wsgi
User=cape
Group=cape
Restart=always
RestartSec=5m

[Install]
WantedBy=multi-user.target