[Unit]
Description=CAPE rooter
Documentation=https://github.com/kevoreilly/CAPEv2
Wants=network-online.target
After=syslog.target network.target

[Service]
WorkingDirectory=/opt/CAPEv2/utils/
ExecStartPre=/etc/poetry/bin/poetry config cache-dir /opt/CAPEv2/.cache/pypoetry
ExecStart=/etc/poetry/bin/poetry run python rooter.py -g cape
User=root
Group=root
Restart=always
RestartSec=5m

[Install]
WantedBy=multi-user.target
