[Unit]
Description=Cuckoo rooter
Documentation=https://github.com/kevoreilly/CAPEv2
Wants=network-online.target
After=syslog.target network.target

[Service]
WorkingDirectory=/opt/CAPEv2/utils/
ExecStart=/usr/bin/python3 rooter.py
#ExecStart=/opt/CAPE/venv/bin/python3 /opt/CAPE/utils/rooter.py
User=root
Group=root
Restart=always
RestartSec=5m

[Install]
WantedBy=multi-user.target
