[Unit]
Description=CAPE fstab utils
Documentation=https://github.com/kevoreilly/CAPEv2

[Service]
WorkingDirectory=/opt/CAPEv2/utils/
ExecStart=/opt/CAPEv2/.venv/bin/python3 fstab.py -g cape
User=root
Group=root
Restart=always
RestartSec=5m

[Install]
WantedBy=multi-user.target
