<footer class="footer mt-auto py-4 bg-dark text-white-50 border-top border-secondary">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4 text-center text-md-left mb-2 mb-md-0">
                <small>Powered by <a href="https://github.com/kevoreilly/CAPEv2/" target="_blank" class="text-light font-weight-bold">CAPE Sandbox</a></small>
            </div>
            <div class="col-md-4 text-center mb-2 mb-md-0">
                <a href="#" class="text-white-50 text-decoration-none"><i class="fas fa-chevron-up me-1"></i> Back to top</a>
            </div>
            <div class="col-md-4 text-center text-md-right">
                <a href="https://github.com/kevoreilly/CAPEv2/" target="_blank" class="text-white-50 me-3" data-bs-toggle="tooltip" title="GitHub Repository"><i class="fab fa-github fa-lg"></i></a>
                <a href="https://capev2.readthedocs.io/" target="_blank" class="text-white-50" data-bs-toggle="tooltip" title="Documentation"><i class="fas fa-book fa-lg"></i></a>
            </div>
        </div>
    </div>
</footer>
