    <!-- Footer
    ================================================== -->
    <footer>
        <div class="container-fluid center">
            <a href="#">Back to the top</a>
        </div>
    </footer>
    <div id="footer-extra">
        <div class="container-fluid center">
            <div><a href="https://github.com/kevoreilly/CAPEv2/" target="_blank">CAPE Sandbox on GitHub</a></div>
        </div>
    </div>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-fileupload.js"></script>
    <script src="{{ STATIC_URL }}js/lightbox.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/moment.min.js"></script>
</body>
</html>
