{% extends "base.html" %}
{% block content %}
{% if statistics %}

<h4>Information for {{days}} days. Total number of tasks: {{statistics.total}}, Average per day: {{statistics.average}}</h4>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Day</th>
        <th scope="col">Tasks Added</th>
        <th scope="col">Tasks Reported</th>
        <th scope="col">Tasks Failed</th>
      </tr>
    </thead>
    <tbody>
    {% for day, block in statistics.tasks.items %}
        <tr>
            <th scope="row">{{day}}</th>
            <td>{{block.added}}</td>
            <td>{{block.reported}}</td>
            <td>{{block.failed}}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

    <div class="row">
    <div class="well well-small col-md-6">
      <h4>Processing</h4>
        <ul class="list-group">
            {% for name, time in statistics.processing.items %}
                <li class="list-group-item"> {{name}} - {{time}} min</li>
            {% endfor %}
        </ul>
    </div>
    </div>
    <div class="row">
    <div class="well well-small col-md-6">
        <h4>Signatures</h4>
        <ul class="list-group">
            {% for name, time in statistics.signatures.items %}
                <li class="list-group-item"> {{name}} - {{time}} min</li>
            {% endfor %}
        </ul>
    </div>
    </div>
    <div class="row">
    <div class="well well-small col-md-6">
        <h4>Reporting</h4>
        <ul class="list-group">
            {% for name, time in statistics.reporting.items %}
            <li class="list-group-item"> {{name}} - {{time}} min</li>
            {% endfor %}
        </ul>
    </div>
    </div>
{% else %}
    <div class="alert alert-primary">No statistics found.</div>
{% endif %}

{% endblock %}
