{% extends "base.html" %}
{% block content %}
{% if statistics %}

<h4>Information for {{days}} days. Total number of tasks: {{statistics.total}}, Average per day: {{statistics.average}}</h4>

{% if statistics.detections %}
<h4>Top 20 detections</h4>
  <table class="table table-striped table-bordered">
    {% for block in statistics.detections %}
        <td>{{block.total}}: <span class="text-danger">{{block.family}}</span></td>
          <!--<form action="{% url "search" %}" method="post">
          <input type="hidden" id="search" type="text" name="search" value="malfamily:{{name}}">
          <input style="color:#EE1B2F;font-weight: bold;" class="btn btn-link btn-sm" type="submit" value="{{name}}">
        </form>
        -->

      {% if forloop.counter|divisibleby:"4" %}
          </tr>
      {% elif forloop.last %}
          </tr>
      {% endif %}
    {% endfor %}
</table>
{% endif %}

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Day</th>
        <th scope="col">Tasks Added</th>
        <th scope="col">Tasks Reported</th>
        <th scope="col">Tasks Failed</th>
      </tr>
    </thead>
    <tbody>
    {% for day, block in statistics.tasks.items %}
        <tr>
            <th scope="row">{{day}}</th>
            <td>{{block.added}}</td>
            <td>{{block.reported}}</td>
            <td>{{block.failed}}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>


{% if statistics.distributed_tasks %}
<h4>Cluster details</h4>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Node - Tasks</th>
    </tr>
  </thead>
  <tbody>
  {% for day, block in statistics.distributed_tasks.items %}
      <tr>
          <th scope="row">{{day}}</th>
          <td>
            {% for name, tasks in block.items %}
              <li>Node: {{name}} - Tasks {{tasks}}</li>
            {% endfor %}
          </td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

  {% if statistics.processing %}
    <h4>Processing</h4>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Total time in minutes</th>
          <th scope="col">Runs</th>
          <th scope="col">Average time in minutes(Total/runs)</th>
        </tr>
      </thead>
      <tbody>
      {% for name, time in statistics.processing.items %}
          <tr>
              <td>{{name}}</td>
              <td>{{time.total}}</td>
              <td>{{time.runs}}</td>
              <td>{{time.average}}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if statistics.signatures %}
    <h4>Signatures</h4>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Total time in minutes</th>
          <th scope="col">Runs</th>
          <th scope="col">Average time in minutes(Total/runs)</th>
        </tr>
      </thead>
      <tbody>
      {% for name, time in statistics.signatures.items %}
          <tr>
              <td>{{name}}</td>
              <td>{{time.total}}</td>
              <td>{{time.runs}}</td>
              <td>{{time.average}}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if statistics.reporting %}
    <h4>Reporting</h4>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Total time in minutes</th>
          <th scope="col">Runs</th>
          <th scope="col">Average time in minutes(Total/runs)</th>
        </tr>
      </thead>
      <tbody>
      {% for name, time in statistics.reporting.items %}
          <tr>
              <td>{{name}}</td>
              <td>{{time.total}}</td>
              <td>{{time.runs}}</td>
              <td>{{time.average}}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% else %}
    <div class="alert alert-primary">No statistics found.</div>
{% endif %}

{% endblock %}
