<section id="static_antivirus">
    {% if analysis.virustotal and analysis.virustotal.response_code %}
    {% if analysis.virustotal.resource %}
        <h4><a href="https://www.virustotal.com/en/{{analysis.info.category}}/{{analysis.virustotal.resource}}/analysis/">Full Results</a></h4>
    {% endif %}

    <table class="table table-striped table-bordered">
        <tr>
            <th>Engine</th>
            {% if analysis.info.category == "file" %}
                <th>Signature</th>
            {% else %}
                <th>Result</th>
            {% endif %}
            <th>Engine</th>
            {% if analysis.info.category == "file" %}
                <th>Signature</th>
            {% else %}
                <th>Result</th>
            {% endif %}
            <th>Engine</th>
            {% if analysis.info.category == "file" %}
                <th>Signature</th>
            {% else %}
                <th>Result</th>
            {% endif %}
        </tr>

        {% for av, values in analysis.virustotal.scans.items %}
            <td>{{av}}</td>
            <td>
                {% if analysis.info.category == "file" %}
                    {% if not values.result %}
                        <span class="text-muted">Clean</span>
                    {% else %}
                        <span class="text-danger">{{values.result}}
                        {% if values.moloch %}
                        <a href="{{values.moloch}}" target="_blank">[MLCH]</a>
                        {% endif %}
                        </span>
                    {% endif %}
                {% else %}
                    {% if not values.detected %}
                        <span class="text-muted">
                    {% else %}
                        <span class="text-danger">
                    {% endif %}
                    {{ values.result|title }}
                    </span>
                {% endif %}
            </td>
        {% if forloop.counter|divisibleby:"3" %}
            </tr>
        {% elif forloop.last %}
            </tr>
        {% endif %}
        {% endfor %}

    </table>
    {% else %}
    No antivirus signatures available.
    {% endif %}
</section>
