<section id="static_analysis">
    {% load key_tags %}
    {% if graphs.bingraph.enabled and graphs.bingraph.content|getkey:analysis.target.file.sha256 %}
        <h4>Binary Entropy <a href="{% url "file_nl" "bingraph" analysis.info.id analysis.target.file.sha256 %}" class="btn btn-secondary btn-small">Download graph</a></h4>
        {{ graphs.bingraph.content|getkey:analysis.target.file.sha256|safe }}
    </br></br>
    {% else %}
        {% if graphs.bingraph.enabled %}
        <h4>BinGraph</h4>
            <p><a class="btn btn-secondary btn-small" href="{% url "on_demand" "bingraph" analysis.info.id "static" analysis.target.file.sha256 %}" role="button">Generate Bingraph</a></p>
        {% endif %}
    {% endif %}
    {% if analysis.static %}
        {% if analysis.static.office %}
            {% if analysis.mmbot %}
                <div>
                    <div id="mmbot_results">
                        <h4>Malicious Macro Bot Results</h4>
                        <table class="table table-striped table-bordered">
                            <colgroup>
                                <col width="250" />
                                <col width="*" />
                            </colgroup>
                            {% for key, value in analysis.mmbot.items|dictsort:"0.lower" %}
                                <tr>
                                    <td>{{key}}</td>
                                    <td>{{value}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if analysis.static.office.Metadata %}
                {% if analysis.static.office.Metadata.SummaryInformation %}
                <div>
                    <div id="si_metadata">
                        <h4>SummaryInformation Metadata</h4>
                        <table class="table table-striped table-bordered">
                            <colgroup>
                                <col width="250" />
                                <col width="*" />
                            </colgroup>
                            {% if analysis.static.office.Metadata.SummaryInformation.creating_application %}
                            <tr>
                                <td>Creating Application</td>
                                <td>{{analysis.static.office.Metadata.SummaryInformation.creating_application}}</td>
                            </tr>
                            {% endif %}
                            {% if analysis.static.office.Metadata.SummaryInformation.author %}
                            <tr>
                                <td>Author</td>
                                <td>{{analysis.static.office.Metadata.SummaryInformation.author}}</td>
                            </tr>
                            {% endif %}
                            {% if analysis.static.office.Metadata.SummaryInformation.last_saved_by %}
                            <tr>
                                <td>Last Saved By</td>
                                <td>{{analysis.static.office.Metadata.SummaryInformation.last_saved_by}}</td>
                            </tr>
                            {% endif %}
                            {% if analysis.static.office.Metadata.SummaryInformation.create_time %}
                            <tr>
                                <td>Creation Time</td>
                                <td>{{analysis.static.office.Metadata.SummaryInformation.create_time}}</td>
                            </tr>
                            {% endif %}
                            {% if analysis.static.office.Metadata.SummaryInformation.last_saved_time %}
                            <tr>
                                <td>Last Saved Time</td>
                                <td>{{analysis.static.office.Metadata.SummaryInformation.last_saved_time}}</td>
                            </tr>
                            {% endif %}
                            {% if analysis.static.office.Metadata.SummaryInformation.total_edit_time %}
                            <tr>
                                <td>Total Edit Time</td>
                                <td>{{analysis.static.office.Metadata.SummaryInformation.total_edit_time}}</td>
                            </tr>
                            {% endif %}
                            {% if analysis.static.office.Metadata.SummaryInformation.title %}
                            <tr>
                                <td>Document Title</td>
                                <td>{{analysis.static.office.Metadata.SummaryInformation.title}}</td>
                            </tr>
                            {% endif %}
                            {% if analysis.static.office.Metadata.SummaryInformation.subject %}
                            <tr>
                                <td>Document Subject</td>
                                <td>{{analysis.static.office.Metadata.SummaryInformation.subject}}</td>
                            </tr>
                            {% endif %}
                            {% if analysis.static.office.Metadata.SummaryInformation.num_pages %}
                            <tr>
                                <td>Amount of Pages</td>
                                <td>{{analysis.static.office.Metadata.SummaryInformation.num_pages}}</td>
                            </tr>
                            {% endif %}
                            {% if analysis.static.office.Metadata.SummaryInformation.num_words %}
                            <tr>
                                <td>Amount of Words</td>
                                <td>{{analysis.static.office.Metadata.SummaryInformation.num_words}}</td>
                            </tr>
                            {% endif %}
                            {% if analysis.static.office.Metadata.SummaryInformation.num_chars %}
                            <tr>
                                <td>Amount of Characters</td>
                                <td>{{analysis.static.office.Metadata.SummaryInformation.num_chars}}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
                <hr />
                {% endif %}
                {% if analysis.static.office.Metadata.DocumentSummaryInformation %}
                <div>
                    <div id="dsi_metadata">
                        <h4>DocumentSummaryInformation Metadata</h4>
                        <table class="table table-striped table-bordered">
                            <colgroup>
                                <col width="250" />
                                <col width="*" />
                            </colgroup>
                            {% if analysis.static.office.Metadata.DocumentSummaryInformation.company %}
                            <tr>
                                <td>Company</td>
                                <td>{{analysis.static.office.Metadata.DocumentSummaryInformation.company}}</td>
                            </tr>
                            {% endif %}
                            {% if analysis.static.office.Metadata.DocumentSummaryInformation.doc_version %}
                            <tr>
                                <td>Document Version</td>
                                <td>{{analysis.static.office.Metadata.DocumentSummaryInformation.doc_version}}</td>
                            </tr>
                            {% endif %}
                            {% if analysis.static.office.Metadata.DocumentSummaryInformation.dig_sig %}
                            <tr>
                                <td>Digital Signature</td>
                                <td>{{analysis.static.office.Metadata.DocumentSummaryInformation.dig_sig}}</td>
                            </tr>
                            {% endif %}
                            {% if analysis.static.office.Metadata.DocumentSummaryInformation.language %}
                            <tr>
                                <td>Language</td>
                                <td>{{analysis.static.office.Metadata.DocumentSummaryInformation.language}}</td>
                            </tr>
                            {% endif %}
                            {% if analysis.static.office.Metadata.DocumentSummaryInformation.notes %}
                            <tr>
                                <td>Notes</td>
                                <td>{{analysis.static.office.Metadata.DocumentSummaryInformation.notes}}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
                <hr />
                {% endif %}
            {% endif %}
            {% if analysis.static.office.Macro %}
                {% if analysis.static.office.Macro.Analysis %}
                    <div id="analysis_sigs">
                        <h4>File Analysis (Signatures)</h4>
                        {% for detection in analysis.static.office.Macro.Analysis %}
                        <div>
                            <div class="panel" id="accordion" style="margin-top: 20px;">
                            <div class="card-header">
                                <a class="accordion-toggle" data-parent="#analysis_sigs" data-toggle="collapse" href="#{{detection}}" aria-expanded="false"><i class="icon icon-cog"></i>{{detection}}</a>
                            </div>
                            <div id="{{detection}}" class="panel-collapse collapse" style="text-align: left;">
                                <table class="table table-striped table-bordered">
                                <colgroup>
                                    <col width="200">
                                    <col width="*">
                                </colgroup>
                                <th colspan="2">{{detection}}</th>
                                {% for indicator, description in analysis.static.office.Macro.Analysis|getkey:detection %}
                                    <tr>
                                        <td>{{indicator}}</td>
                                        <td>{{description}}</td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr />
                {% endif %}
                {% if analysis.static.office.Macro.Code and not analysis.static.office.XLMMacroDeobfuscator %}
                <div>
                    <div id="macro">
                    <h4>Extracted Macros</h4>
                    {% for macrodata in analysis.static.office.Macro.Code %}
                    <table class="table table-striped table-bordered">
                        <col style="width:20%">
                        <col style="width:60%">
                        <col style="width:20%">
                        {% for name, code in analysis.static.office.Macro.Code|getkey:macrodata %}
                        <tr>
                            <td>VBA Filename</td>
                            <td>{{name}}</td>
                            <td><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{macrodata}}">Extracted Macro</a></td>
                        </tr>
                        </table>
                        <div id="{{macrodata}}" class="collapse">
                            <pre>{{code}}</pre>
                        </div>
                        {% endfor %}
                    {% endfor %}
                    </div>
                </div>
                <hr />
                {% if graphs.vba2graph.enabled %}
                    {% if graphs.vba2graph.content %}
                        <h4>Vba2Graph</h4>
                        {{ graphs.vba2graph.content|safe }}
                        </br>
                    {% else %}
                        <h4>Vba2Graph</h4>
                        <p><a class="btn btn-secondary  btn-sm" href="{% url "on_demand" "vba2graph" analysis.info.id "static" analysis.target.file.sha256 %}" role="button">Generate VBA2Graph</a></p>
                    {% endif %}
                {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if analysis.static.office_rtf %}
            <div>
                <div id="si_metadata">
                    <h4>RTF document details</h4>
                    <table class="table table-striped table-bordered">
                        {% for key, value in analysis.static.office_rtf.items %}
                            <h5>Object ID: {{key}}</h5>
                            <tr>
                                <th width=10%>Filename</th>
                                <td>Size</td>
                                <th>Index</th>
                                <td>Class Name</td>
                                <td>Type Embed</td>
                                <th>CVE</th>
                            </tr>
                            {% for block in value %}
                                <tr>
                                    {% if block.sha256 %}
                                        <td><a href={% url "file" "rtf" analysis.info.id block.sha256 %} class="btn btn-secondary btn-small">{{block.filename}}</a></td>
                                    {% else %}
                                        <td>{{block.filename}}</td>
                                    {% endif %}
                                    <td>{{block.size}}</td>
                                    <td>{{block.index}}</td>
                                    <td>{{block.class_name}}</td>
                                    <td>{{block.type_embed}}</td>
                                    <td>{{block.CVE}}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <hr />
        {% endif %}
        {% if analysis.static.office_dde %}
        <div id="si_metadata">
        <table class="table table-striped table-bordered">
            <colgroup>
                <col width="200" />
                <col width="*" />
            </colgroup>
            <tr>
                <td><h4>DDE Detected</h4></td>
                <td>{{analysis.static.office_dde}}</td>
            </tr>
        </table>
        </div>
        {% endif %}
        {% if analysis.static.office.XLMMacroDeobfuscator %}
        <div id="xmlmacro">
        <h4>XLMMacroDeobfuscator</h4>
        <table class="table table-striped table-bordered">
            <tr>
                <td><a class="accordion-toggle" data-toggle="collapse"  data-parent="#accordion" href="#XLMMacroDeobfuscator">Decoded XLM Macro</a></td>
            </tr>
        </table>
        <div id="XLMMacroDeobfuscator" class="collapse" style="text-align: left;">
            <pre>
                {% for line in analysis.static.office.XLMMacroDeobfuscator.Code%}
                    {{line}}
                {% endfor %}
            </pre>
        </div>
        </div>
        <hr />
        {% endif %}
    {% endif %}
</section>
