<section id="static_analysis">
    {% load key_tags %}
    {% if graphs.bingraph.enabled and graphs.bingraph.content|getkey:analysis.target.file.sha256 %}
        <h4>BinGraph <a href="{% url "file_nl" "bingraph" analysis.info.id analysis.target.file.sha256 %}" class="btn btn-secondary btn-small">Download graph</a></h4>
        {{ graphs.bingraph.content|getkey:analysis.target.file.sha256|safe }}
    </br></br>
    {% else %}
        {% if graphs.bingraph.enabled %}
        <h4>BinGraph
            <p><a class="btn btn-secondary btn-sm" href="{% url "on_demand" "bingraph" analysis.info.id "static" analysis.target.file.sha256 %}" role="button">Generate Bingraph</a></p>
        </h4>
        {% endif %}
    {% endif %}
    {% if analysis.static.flare_capa %}
    <p><a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#flare_capa" role="button" aria-expanded="false" aria-controls="flare_capa">FLARE CAPA</a></p>
        <div class="collapse" id="flare_capa">
            <div class="card card-body">
            <!--Inspired by @snemes trick, code placed in web/views/templateatgs/analysis_tags.py-->
            {% if analysis.static.flare_capa.CAPABILITY %}
                {{analysis.static.flare_capa|flare_capa_capability}}
            {% endif %}

            {% if analysis.static.flare_capa.ATTCK %}
                {{analysis.static.flare_capa|flare_capa_attck}}
            {% endif %}

            {% if analysis.static.flare_capa.MBC %}
                {{analysis.static.flare_capa|flare_capa_mbc}}
            {% endif %}
            </div>
        </div>
    </br>
    {% else %}
        <p><a class="btn btn-secondary  btn-sm" href="{% url "on_demand" "flare_capa" analysis.info.id "static" analysis.target.file.sha256 %}" role="button">Generate CAPA</a></p>
    {% endif %}
    {% if analysis.static and analysis.static.pe %}
            <div>
                <h4>PE Information</h4>
                <div id="pe_information">
                    <table class="table table-striped table-bordered" style="table-layout: fixed;">
                        {% if analysis.static.pe.imagebase %} <th style="width: 15%;">Image Base</th> {% endif %}
                        {% if analysis.static.pe.entrypoint %} <th style="width: 15%;">Entry Point</th> {% endif %}
                        {% if analysis.static.pe.reported_checksum %} <th style="width: 15%;">Reported Checksum</th> {% endif %}
                        {% if analysis.static.pe.actual_checksum %} <th style="width: 15%;">Actual Checksum</th> {% endif %}
                        {% if analysis.static.pe.osversion %} <th style="width: 15%;">Minimum OS Version</th> {% endif %}
                        {% if analysis.static.pe.pdbpath %} <th style="width: 15%;">PDB Path</th> {% endif %}
                        {% if analysis.static.pe.timestamp %} <th style="width: 15%;">Compile Time</th> {% endif %}
                        {% if analysis.static.pe.imphash %} <th style="width: 15%;">Import Hash</th> {% endif %}
                        {% if analysis.static.pe.icon %} <th style="width: 15%;">Icon</th>{% endif %}
                        {% if analysis.static.pe.icon_hash %} <th style="width: 15%;">Icon Exact Hash</th> {% endif %}
                        {% if analysis.static.pe.icon_fuzzy %} <th style="width: 15%;">Icon Similarity Hash</th> {% endif %}
                        {% if analysis.static.pe.exported_dll_name %} <th style="width: 15%;">Exported DLL Name</th> {% endif %}

                        <tr>
                            {% if analysis.static.pe.imagebase %}
                            <td>{{analysis.static.pe.imagebase}}</td>
                            {% endif %}
                            {% if analysis.static.pe.entrypoint %}
                            <td>{{analysis.static.pe.entrypoint}}</td>
                            {% endif %}
                            {% if analysis.static.pe.reported_checksum %}
                            <td>{{analysis.static.pe.reported_checksum}}</td>
                            {% endif %}
                            {% if analysis.static.pe.actual_checksum %}
                            <td>{{analysis.static.pe.actual_checksum}}</td>
                            {% endif %}
                            {% if analysis.static.pe.osversion %}
                            <td>{{analysis.static.pe.osversion}}</td>
                            {% endif %}
                            {% if analysis.static.pe.pdbpath %}
                            <td>{{analysis.static.pe.pdbpath}}</td>
                            {% endif %}
                            {% if analysis.static.pe.timestamp %}
                            <td>{{analysis.static.pe.timestamp}}</td>
                            {% endif %}
                            {% if analysis.static.pe.imphash %}
                            <td>{{analysis.static.pe.imphash}}</td>
                            {% endif %}
                            {% if analysis.static.pe.icon %}
                            <td><img src="data:image/jpeg;base64,{{analysis.static.pe.icon}}" /></td>
                            {% endif %}
                            {% if analysis.static.pe.icon_hash %}
                            <td>{{analysis.static.pe.icon_hash}}</td>
                            {% endif %}
                            {% if analysis.static.pe.icon_fuzzy %}
                            <td>{{analysis.static.pe.icon_fuzzy}}</td>
                            {% endif %}
                            {% if analysis.static.pe.exported_dll_name %}
                            <td>{{analysis.static.pe.exported_dll_name}}</td>
                            {% endif %}
                        </tr>
                     </table>
                </div>
            </div>
            <hr />
        {% if analysis.static.pe.versioninfo %}
            <div>
                <h4>Version Infos</h4>
                <div id="pe_versioninfo">
                    <table class="table table-striped table-bordered">
                        <colgroup>
                            <col width="150" />
                            <col width="*" />
                        </colgroup>
                        {% for info in analysis.static.pe.versioninfo %}
                        {% if info.name %}
                            <tr>
                                <th>{{info.name}}</th>
                                <td><span class="mono">{{info.value}}</span></td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <hr />
        {% endif %}
        {% if analysis.static.pe.peid_signatures%}
        <div>
            <h4>PEiD Signatures</h4>
            <div id="peid_signatures">
                <table class="table table-striped table-bordered">
                {% for sig in analysis.static.pe.peid_signatures %}
                    <tr><td>{{sig}}</td></tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <hr />
        {% endif %}
        {% if analysis.static.pe.digital_signers %}
        <div>
            <h4>Digital Signers</h4>
            <div id="digital_signers">
                {% for cert in analysis.static.pe.digital_signers %}
                <table class="table table-striped table-bordered">
                    <colgroup>
                        <col width="250" />
                        <col width="*" />
                    </colgroup>
                    <tr>
                        <th>Certificate Common Name</th>
                        <td>{{cert.subject_commonName}}</td>
                    </tr>
                    <tr>
                        <th>Subject Organization Name</th>
                        <td>{{cert.subject_commonName}}</td>
                    </tr>
                    <tr>
                        <th>Subject Organization Unit Name</th>
                        <td>{{cert.subject_organizationalUnitName}}</td>
                    </tr>
                    <tr>
                        <th>Subject Street Address</th>
                        <td>{{cert.subject_streetAddress}}</td>
                    </tr>
                    <tr>
                        <th>Subject Locality</th>
                        <td>{{cert.subject_localityName}}</td>
                    </tr>
                    <tr>
                        <th>Subject State or Province</th>
                        <td>{{cert.subject_stateOrProvinceName}}</td>
                    </tr>
                    <tr>
                        <th>Subject Postal Code</th>
                        <td>{{cert.subject_postalCode}}</td>
                    </tr>
                    <tr>
                        <th>Subject Country</th>
                        <td>{{cert.subject_countryName}}</td>
                    </tr>
                    <tr>
                        <th>Issuer Common Name</th>
                        <td>{{cert.issuer_commonName}}</td>
                    </tr>
                    <tr>
                        <th>Issuer Organization Name</th>
                        <td>{{cert.issuer_organizationName}}</td>
                    </tr>
                    <tr>
                        <th>Issuer Organization Unit Name</th>
                        <td>{{cert.issuer_organizationalUnitName}}</td>
                    </tr>
                    <tr>
                        <th>Issuer Locality</th>
                        <td>{{cert.issuer_localityName}}</td>
                    </tr>
                    <tr>
                        <th>Issuer State or Province</th>
                        <td>{{cert.issuer_stateOrProvinceName}}</td>
                    </tr>
                    <tr>
                        <th>Issuer Country</th>
                        <td>{{cert.issuer_countryName}}</td>
                    </tr>
                    <tr>
                        <th>Serial Number</th>
                        <td>{{cert.serial_number}}</td>
                    </tr>
                    <tr>
                        <th>SHA256 Fingerprint</th>
                        <td>{{cert.sha256_fingerprint}}</td>
                    </tr>
                    <tr>
                        <th>SHA1 Fingerprint</th>
                        <td>{{cert.sha1_fingerprint}}</td>
                    </tr>
                    <tr>
                        <th>MD5 Fingerprint</th>
                        <td>{{cert.md5_fingerprint}}</td>
                    </tr>
                    <tr>
                        <th>Not valid before</th>
                        <td>{{cert.not_before}}</td>
                    </tr>
                    <tr>
                        <th>Not valid after</th>
                        <td>{{cert.not_after}}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
        {% if analysis.static.pe.guest_signers and analysis.static.pe.guest_signers.aux_signers %}
        <div>
            <h4>Microsoft Certificate Validation (Sign Tool)</h4>
            <div id="digital_signers_validation">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th width="20%">SHA1</th>
                        <th width="20%">Timestamp</th>
                        <th width="5%">Valid</th>
                        <th width="55%">Error</th>
                    </tr>
                    <tr>
                        <td>{{analysis.static.pe.guest_signers.aux_sha1}}</td>
                        <td>{{analysis.static.pe.guest_signers.aux_timestamp}}</td>
                        {% if analysis.static.pe.guest_signers.aux_valid %}
                        <td><center><span class="badge badge-success">Yes</span></center></td>
                        <td>None</td>
                        {% else %}
                        <td><center><span class="badge badge-danger">No</span></center></td>
                        <td>{{analysis.static.pe.guest_signers.aux_error_desc}}</td>
                        {% endif %}
                    </tr>
                </table>
                {% for signer in analysis.static.pe.guest_signers.aux_signers %}
                <table class="table table-striped table-bordered">
                    <colgroup>
                        <col style="width:15%">
                        <col style="width:85%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td><b>Chain</b></td>
                            <td>{{signer.name}}</td>
                        </tr>
                        <tr>
                            <td><b>Issued to</b></td>
                            <td>{{signer|getkey:"Issued to"}}</td>
                        </tr>
                        <tr>
                            <td><b>Issued by</b></td>
                            <td>{{signer|getkey:"Issued by"}}</td>
                        </tr>
                        <tr>
                            <td><b>Expires</b></td>
                            <td>{{signer.Expires}}</td>
                        </tr>
                        <tr>
                            <td><b>SHA1 Hash</b></td>
                            <td>{{signer|getkey:"SHA1 hash"}}</td>
                        </tr>
                    </tbody>
                 </table>
                 {% endfor %}
            </div>
        </div>
        <hr />
        {% endif %}
        {% if analysis.static.pe.sections %}
            <div>
                <h4>Sections</h4>
                <div id="pe_sections">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>RAW Address</th>
                            <th>Virtual Address</th>
                            <th>Virtual Size</th>
                            <th>Size of Raw Data</th>
                            <th>Characteristics</th>
                            <th>Entropy</th>
                        </tr>
                        {% for section in analysis.static.pe.sections %}
                            <tr>
                                <td>{{section.name}}</td>
                                <td>{{section.raw_address}}</td>
                                <td>{{section.virtual_address}}</td>
                                <td>{{section.virtual_size}}</td>
                                <td>{{section.size_of_data}}</td>
                                <td>{{section.characteristics}}</td>
                                <td>{{section.entropy}}</td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
        <hr />
        {% endif %}

        {% if analysis.static.pe.overlay %}
        <div>
            <h4>Overlay</h4>
            <div id="pe_overlay">
                <table class="table table-striped table-bordered">
                    <colgroup>
                        <col width="150" />
                        <col width="*" />
                    </colgroup>
                    <tr>
                        <td><strong>Offset</strong></td>
                        <td>{{analysis.static.pe.overlay.offset}}</td>
                    </tr>
                    <tr>
                        <td><strong>Size</strong></td>
                        <td>{{analysis.static.pe.overlay.size}}</td>
                    </tr>
                    </table>
                </div>
            </div>
            <hr />
        {% endif %}

        {% if analysis.static.pe.resources %}
        <div>
            <h4>Resources</h4>
            <div id="pe_resources">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Offset</th>
                        <th>Size</th>
                        <th>Language</th>
                        <th>Sub-language</th>
                        <th>Entropy</th>
                        <th>File type</th>
                    </tr>
                    {% for section in analysis.static.pe.resources %}
                        <tr>
                            <td>{{section.name}}</td>
                            <td>{{section.offset}}</td>
                            <td>{{section.size}}</td>
                            <td>{{section.language}}</td>
                            <td>{{section.sublanguage}}</td>
                            <td>{{section.entropy}}</td>
                            <td>{{section.filetype}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <hr />
        {% endif %}

        {% if analysis.static.pe.imports %}
        <div id="accordion">
            {% for library in analysis.static.pe.imports %}
            <div class="card">
                <div class="card-header" id="h_{{library.dll}}">
                    <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" href="#{{library.dll}}" data-target="#{{library.dll}}" aria-expanded="false" aria-controls="{{library.dll}}">
                        <strong>Library {{library.dll}}</strong>:</a>
                    </button>
                    </h5>
                </div>

                <div id="{{library.dll}}" class="collapse show" aria-labelledby="h_{{library.dll}}" data-parent="#accordion">
                    <div class="card-body">
                        {% for function in library.imports %}
                        <div>&bull; <span class="mono">{{function.address}} <a href="http://social.msdn.microsoft.com/Search/en-US/windows/desktop?query={{function.name}}">{{function.name}}</a></span></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <hr />

        {% if analysis.static.pe.exports %}
            <div>
                <h4>Exports</h4>
                <div id="pe_exports">
                    <table class="table table-striped table-bordered table-dark">
                        <tr>
                            <th>Ordinal</th>
                            <th>Address</th>
                            <th>Name</th>
                        </tr>
                        {% for export in analysis.static.pe.exports %}
                            <tr>
                                <td>{{export.ordinal}}</td>
                                <td>{{export.address}}</td>
                                <td>{{export.name}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    {% else %}
        Nothing to display.
    {% endif %}
</section>


