{% load analysis_tags %}
<section id="static_ratconfig">
    {% if analysis.static and analysis.static.rat %}
            <div>
                <h4>RAT Configuration</h4>
                <div id="rat_configuration">
                    <table class="table table-striped table-bordered" style="table-layout: fixed;">
                        <tr>
                            <th style="width: 15%;">Name</th>
                            <td>{{analysis.static.rat.name}}</td>
                        </tr>
                        {% with analysis.static.rat.config|sort as sorted_config %}
                        {% for key, value in sorted_config.iteritems %}
                            <tr>
                                <th style="width: 15%;">{{key}}</th>
                                <td>{{value}}</td>
                            </tr>
                        {% endfor %}
                        {% endwith %}
                    </table>
                </div>
            </div>
    {% else %}
        Nothing to display.
    {% endif %}
</section>
