{% load generic_tags %}
<div class="tabbable tabs">
    <ul class="nav nav-pills" style="margin-bottom: 0;">
        {% if analysis.info.category in "file,static" %}
        <li class="active"><a href="#static_analysis_tab" data-toggle="tab">Static Analysis</a></li>
        {% if analysis.static and "PE32" in analysis.target.file.type and "Mono" in analysis.target.file.type %}
        <li><a href="#static_dotnet_tab" data-toggle="tab">.NET Static Analysis</a></li>
        {% endif %}
        <li><a href="#static_strings_tab" data-toggle="tab">Strings</a></li>
        {% endif %}
        {% if analysis.info.category == "url" %}
        <li class="active"><a href="#static_url_tab" data-toggle="tab">URL Analysis</a></li>
        {% endif %}
        {% if config.virustotal %}
        <li><a href="#static_antivirus_tab" data-toggle="tab">VirusTotal</a></li>
        {% endif %}
    </ul>
    <div class="tab-content">
        {% if analysis.info.category in "file,static" %}
        <div class="tab-pane fade in active" id="static_analysis_tab">
            {% if "PE32" in analysis.target.file.type or "MS-DOS executable" in analysis.target.file.type %}
                {% include "analysis/static/_pe32.html" %}
            {% elif analysis.info.package == "pdf" %}
                {% include "analysis/static/_pdf.html" %}
            {% elif analysis.target.file.type == "XML document text" or analysis.info.package == "wsf" or analysis.info.package == "hta" %}
                {% include "analysis/static/_script.html" %}
            {% elif analysis.info.package == "vbs" or analysis.info.package == "js" %}
                {% include "analysis/static/_script.html" %}
            {% elif analysis.info.package == "doc" or analysis.info.package == "ppt" or analysis.info.package == "xls" or analysis.info.package == "pub" %}
                {% include "analysis/static/_office.html" %}
            {% elif "Java Jar" in analysis.target.file.type or analysis.target.file.name|endswith:".jar" %}
                {% include "analysis/static/_java.html" %}
            {% else %}
                No static analysis available.
            {% endif %}
        </div>
        {% endif %}
        {% if analysis.info.category in "file,static" and analysis.static and "PE32" in analysis.target.file.type and "Mono" in analysis.target.file.type %}
        <div class="tab-pane fade" id="static_dotnet_tab">
            {% include "analysis/static/_dotnet.html" %}
        </div>
        {% endif %}
        {% if analysis.info.category in "file,static" %}
        <div class="tab-pane fade" id="static_strings_tab">
            {% include "analysis/static/_strings.html" %}
        </div>
        {% endif %}
        {% if analysis.info.category == "url" %}
        <div class="tab-pane fade in active" id="static_url_tab">
            {% include "analysis/static/_url.html" %}
        </div>
        {% endif %}
        {% if config.virustotal %}
        <div class="tab-pane fade" id="static_antivirus_tab">
            {% include "analysis/static/_antivirus.html" %}
        </div>
        {% endif %}
    </div>
</div>
