<table class="table table-bordered" style="table-layout: fixed;">
    <tbody>
        {% for block in analysis.tr_extractor %}
            <tr>
                   <td width="20%"><strong>Family</strong></td>
                   <td>{{block.family}}</td>
                </tr>
            {% if block.family == "andromeda" %}
                <tr>
                    <td><strong>Version</strong></td>
                    <td><strong>{{block.artifacts_raw.version}}</strong></td>
                </tr>
                {% if block.artifacts_raw.process %}
                <tr>
                    <td><strong>Process</strong></td>
                    <td><strong>{{block.artifacts_raw.process}}</strong></td>
                </tr>
                {% endif %}
                <tr>
                    <td><strong>Key</strong></td>
                    <td><strong class="text-danger">{{block.artifacts_raw.key}}</strong></td>
                </tr>
                {% if block.artifacts_raw.url %}
                <tr>
                    <td><strong>URLs</strong></td>
                    <td>
                        {% for url in block.artifacts_raw.url %}
                            <li>{{url}}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                <tr>
                   <td><strong>Format String</strong></td>
                   <td>{{block.artifacts_raw.fmt_str}}</td>
                </tr>
                {% if block.artifacts_raw.ioc %}
                <tr>
                    <td><strong>IOC</strong></td>
                    <td>{{block.artifacts_raw.ioc}}</td>
                </tr>
                {% endif %}


            {% elif block.family == "necurs" %}
                {%  for key, value in block.artifacts_raw.items %}
                    {% if key == "peers" %}
                        <tr>
                        <td width=130px>C&Cs</td>
                        <td>
                        {% for cnc in block.artifacts_raw.peers %}
                            <li>{{ cnc }}</li>
                        {% endfor %}
                        </td>
                        </tr>
                    {% else %}
                        <tr>
                        <td width=130px>{{key}}</td>
                        <td>{{value}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% elif block.family == "chanitor" %}
                {% if block.artifacts_raw.urls %}
                    <tr>
                    <td width=130px>C&Cs</td>
                    <td>
                    {% for cnc in block.artifacts_raw.urls %}
                            <li>{{ cnc }}</li>
                    {% endfor %}
                    </td>
                    </tr>
                {% endif %}
                {% if block.artifacts_raw.postdata %}
                    <tr>
                    <td width=130px>POST Data</td>
                    <td>
                    {% for key, value in block.artifacts_raw.postdata.items %}
                            <li>{{ key }} - {{ value }}</li>
                    {% endfor %}
                    </td>
                    </tr>
                {% endif %}
                {% if block.artifacts_raw.chanitor_config %}
                    <tr>
                    <td width=130px>Chanitor config</td>
                    <td>
                    {% for key, value in block.artifacts_raw.chanitor_config.items %}
                        <li>{{ key }}</li>
                        {% for dl in value %}
                            <li>{{ dl }}</li>
                        {% endfor %}  
                    {% endfor %}
                    </td>
                    </tr>
                {% endif %}
                {% if block.artifacts_raw.binaries %}
                    <tr>
                    <td width=130px>Binaries</td>
                    <td>
                    {% for key, value in block.artifacts_raw.binaries.items %}
                            <li>{{ value }}</li>
                            <li>{{ key }}</li>
                    {% endfor %}
                    </td>
                    </tr>
                {% endif %}

            {% elif block.family == "locky" %}
                {% for key, value in block.artifacts_raw.items %}

                    {% if key == "c2_servers" or key == "payment_urls"%}
                        <tr>
                            <td width=115px>{{ key }}</td>
                                <td>
                                    {% for cnc in value %}
                                         <li>{{ cnc }}</li>
                                    {% endfor %}
                                </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td width=130px>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}

            {% elif block.family == "nymaim" %}
                {% for key, value in block.artifacts_raw.items %}
                    <tr>
                        {% if key == "cncs" %}
                        <td width=115px>{{ key }}</td>
                        <td>
                        {% for cnc in value %}
                            <li>{{ cnc }}</li>
                        {% endfor %}
                        </td>
                        {% else %}
                        <td width=115px>{{ key }}</td>
                        <td>{{ value }}</td>
                    {% endif %}
                    </tr>
                {% endfor %}

            {% elif block.family == "tinba" %}
                {% for key, value in block.artifacts_raw.items %}
                <tr>
                    <td width=130px>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
               {% endfor %}

            {% elif block.family == "zeus" %}
                <tr>
                    <td><strong>Family</strong></td>
                    {% if block.artifacts_raw.malware_zbot %}
                        <td><strong class="text-danger">{{block.artifacts_raw.malware_zbot}}</strong></td>
                    {% elif artifacts_raw.family %}
                        <td><strong class="text-danger">{{block.family}}</strong></td>
                    {% endif %}
                </tr>
                <tr>
                    <td><strong>Version</strong></td>
                    {% if block.artifacts_raw.zbot_version %}
                        <td><strong class="text-danger">{{block.artifacts_raw.zbot_version}}</strong></td>
                    {% elif block.artifacts_raw.family %}
                        <td><strong class="text-danger">{{block.artifacts_raw.version}}</strong></td>
                    {% endif %}
                </tr>
                {% if block.artifacts_raw.botnet %}
                    <tr>
                    <td><strong>Botnet</strong></td>
                    <td><strong class="text-danger">{{block.artifacts_raw.botnet}}</strong></td>
                    </tr>
                {% endif %}
                {% if block.artifacts_raw.salt_rc4_initKey_hex %}
                    <tr>
                    <td><strong>salt rc4 initKey hex</strong></td>
                    <td>{{block.artifacts_raw.salt_rc4_initKey_hex}}</strong></td>
                    </tr>
                {% endif %}
                {% if block.artifacts_raw.xor_key %}
                    <tr>
                    <td><strong>xor key</strong></td>
                    <td>{{block.artifacts_raw.xor_key}}</strong></td>
                    </tr>
                {% endif %}
                {% if block.artifacts_raw.extra_xor_key %}
                    <tr>
                    <td><strong>Extra xor key</strong></td>
                    <td>{{block.artifacts_raw.extra_xor_key}}</strong></td>
                    </tr>
                {% endif %}
                {% if block.artifacts_raw.login_key %}
                    <tr>
                    <td><strong>Login key</strong></td>
                    <td>{{block.artifacts_raw.login_key}}</strong></td>
                    </tr>
                {% endif %}
                    {% if block.artifacts_raw.cncs or block.artifacts_raw.data.gates_urls %}
                    <tr>
                        <td><strong>C&C Urls</strong></td>
                        <td>
                            <ul>
                                {% if block.artifacts_raw.data.gates_urls %}
                                    {% for gate_url in block.artifacts_raw.data.gates_urls %}
                                        {{gate_url}}
                                    {% endfor %}
                                {% elif block.artifacts_raw.cncs %}
                                    {% for gate_url in block.artifacts_raw.cncs %}
                                        {{gate_url}}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
                {% if block.artifacts_raw.urls %}
                    <tr>
                        <td><strong>URLs</strong></td>
                        <td>
                            {% for url in block.artifacts_raw.urls %}
                                <li>{{url}}</li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
                {% if block.artifacts_raw.dgaconfigs %}
                    <tr>
                        <td><strong>DGA Configs</strong></td>
                        <td>
                            {% for url in block.artifacts_raw.dgaconfigs %}
                                <li>{{url}}</li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
                {% if block.artifacts_raw.fake_urls %}
                    <tr>
                        <td><strong>Fake URLs</strong></td>
                        <td>
                            {% for url in block.artifacts_raw.fake_urls %}
                                <li>{{url}}</li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td><strong>RC4 keystream</strong></td>
                    {% if block.artifacts_raw.config_rc4_keystream_plaintext %}
                        <td>{{block.artifacts_raw.config_rc4_keystream_plaintext}}</td>
                    {% elif block.artifacts_raw.Rc4key %}
                        <td>{{block.artifacts_raw.Rc4key}}</td>
                    {% elif block.artifacts_raw.rc4_keystream %}
                        <td>{{block.artifacts_raw.rc4_keystream}}</td>
                    {% endif %}
                </tr>
                {% if block.artifacts_raw.AESKey %}
                    <tr>
                    <td><strong>AESKey</strong></td>
                    <td>{{block.artifacts_raw.AESKey}}</td>
                    </tr>
                {% endif %}
                {% if block.artifacts_raw.rc6_keystream %}
                    <tr>
                    <td><strong>RC6 Keystream</strong></td>
                    <td>{{block.artifacts_raw.rc6_keystream}}</td>
                    </tr>
                {% endif %}
                {% if block.artifacts_raw.rc4_key_plain %}
                    <tr>
                    <td><strong>RC4 Key plaintext</strong></td>
                    <td>{{block.artifacts_raw.rc4_key_plain}}</td>
                    </tr>
                {% endif %}
                {% if block.artifacts_raw.data.web_injects %}
                    <tr>
                        <td><strong>Webinjects</strong></td>
                        <td>
                            <ul>
                                {% for web_injects in block.artifacts_raw.data.web_injects %}
                                <li>{{web_injects.affected_url}}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}

            {% elif block.family == "vawtrak" %}
                {% for bl in block.artifacts_raw %}
                    {% for key, value in bl.items %}
                    <tr>
                        {% if key == "cncs" %}
                            <td width=115px>{{ key }}</td>
                            <td>
                                {% for cnc in value %}
                                     <li>{{ cnc }}</li>
                                     {% if cnc.ips %}
                                         <ul>
                                         {% for ip in cnc.ips %}
                                             <li>{{ ip }}</li>
                                         {% endfor %}
                                         </ul>
                                     {% endif %}
                                     <dl>
                                {% endfor %}
                            </td>
                        {% elif key == 'registry_data' %}
                            <td width=115px>{{ key }}</td>
                            <td>
                                {% for regval, regdata in value.items %}
                                    <li>{{ regval }} ({{ regdata.meaning }}) (size: {{ regdata.data_len }})</li>
                                        <ul>
                                            {% if regdata.meaning == 'config_data' %}
                                                {% for conf_val, conf_data in regdata.data.items %}
                                                    <li>{{ conf_val }}</li>
                                                    <ul>
                                                        {% for data_item in conf_data %}
                                                            <li>{{ data_item }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endfor %}
                                            {% else %}
                                                <li>{{ regdata.data  }}</li>
                                            {% endif %}
                                        </ul>
                                {% endfor %}
                            </td>
                        {% elif key == 'parsed_config' %}
                            <td width=115px>{{ key }}</td>
                            <td>
                                <a href="{% url "analysis.views.file" "dropped" analysis.info.id value.sha256 %}" class="btn btn-secondary btn-small">Download</a>
                                {% if value.data %}
                                &emsp;<a class="btn btn-secondary btn-small" data-toggle="collapse" data-target="#{{value.sha256}}">Display Text</a>
                                {% endif %}
                            </td>
                            {% if value.data %}
                                </tr>
                                <tr class="collapse" id="{{value.sha256}}">
                                    <td colspan="2"><pre>{{value.data}}</pre></td>
                            {% endif %}
                        {% else %}
                            <td width=115px>{{ key }}</td>
                            <td>{{ value }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                {% endfor %}

            {% elif block.family == "ursnif" %}
                {% for key, value in block.artifacts_raw.items %}
                <tr>
                    <td width=130px>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}

            {% elif block.family == "dridex" %}
                {% for key, value in block.artifacts_raw.items %}

                    <tr>
                        {% if key == "controllers" %}
                            <td width=115px>{{ key }}</td>
                            <td>
                                {% for cnc in value %}
                                     <li>{{ cnc }}</li>
                                {% endfor %}
                            </td>
                        {% else %}
                            <tr>
                                <td width=130px>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endif %}
                    </tr>
                {% endfor %}

            {% elif block.family == "pony" or  block.family == "evilpony" %}
                {% for key, value in block.artifacts_raw.items %}
                    <tr>
                        <td width=115px>{{ key }}</td>
                            <td>
                                {% for cnc in value %}
                                     <li>{{ cnc }}</li>
                                {% endfor %}
                            </td>
                    </tr>
                    {% endfor %}

            {% elif block.family == "trickbot" %}
                <tr>
                    <td><strong>Version</strong></td>
                    <td><strong>{{block.artifacts_raw.ver}}</strong></td>
                </tr>
                {% if block.artifacts_raw.gtag %}
                <tr>
                    <td><strong>GTAG</strong></td>
                    <td><strong>{{block.artifacts_raw.gtag}}</strong></td>
                </tr>
                {% endif %}
                <tr>
                    <td><strong>autorun</strong></td>
                    <td><strong>{{block.artifacts_raw.autorun}}</strong></td>
                </tr>
                {% if block.artifacts_raw.servs %}
                <tr>
                    <td><strong>Servers</strong></td>
                    <td>
                        {% for url in block.artifacts_raw.servs %}
                            <li>{{url}}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}

            {% elif block.family == "loki" %}
                {% for key, value in block.artifacts_raw.items %}
                    <tr>
                        {% if key == "urls" %}
                            <td width=115px>{{ key }}</td>
                            <td>
                                {% for cnc in value %}
                                     <li>{{ cnc }}</li>
                                {% endfor %}
                            </td>
                        {% else %}
                            <tr>
                                <td width=130px>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endif %}
                    </tr>
                    {% endfor %}

            {% elif block.family == "emotet" %}
                {% for key, value in block.artifacts_raw.items %}
                    <tr>
                        {% if key == "cncs" %}
                            <td width=115px>{{ key }}</td>
                            <td>
                                {% for cnc in value %}
                                     <li>{{ cnc }}</li>
                                {% endfor %}
                            </td>
                        {% else %}
                            <tr>
                                <td width=130px>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endif %}
                    </tr>
                    {% endfor %}
            {% elif block.family == "backswap" %} 
                {% for block in block.artifacts_raw %}
                    {% for key, value in block.items %}
                    <tr>
                    <td width=115px>{{ key }}</td>
                    <td width=115px>{{ value }}</td>
                    </tr>
                     {% endfor %}
                 {% endfor %}
            {% else %}
                {# Generic config data handler for everything else - Sandor, 08/23/2017 #}
                {% for key, value in block.artifacts_raw.iteritems %}
                      <tr>
                        {% if key == "cncs" %}
                            <td width=115px>{{ key }}</td>
                            <td>
                                {% for cnc in value %}
                                     <li>{{ cnc }}</li>
                                {% endfor %}
                            </td>
                        {% else %}
                          <td width=115px>{{ key }}</td>
                          <td>{{ value }}</td>
                        {% endif %}
                      </tr>
                {% endfor %}
            {% endif %}

        {% endfor %}
    </tbody>
</table>
