{% extends "base.html" %}
{% block content %}
<p style="margin-bottom: 10px;"><img src="{{ STATIC_URL }}graphic/cape.png" /></p>
<ul class="nav nav-tabs">
    <li class="active"><a href="#shrike " data-toggle="tab">Shrike</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="shrike">
   {% if shrike.info.shrike_msg %}
        <table class="table table-striped table-bordered" style="table-layout: fixed;">
            <tr>
                <th width="25%">Url</th>
                <th width="25%">Referrer</th>
                <th width="25%">Sid</th>
                <th width="25%">Msg</th>
            </tr>
            <tr>
                    <td>
                    {%if shrike.info.shrike_url %}
                        {{shrike.info.shrike_url}}
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
                    <td>
                    {%if shrike.info.shrike_refer %}
                        {{shrike.info.shrike_refer}}
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
                    <td>
                    {%if shrike.info.shrike_sid %}
                        {{shrike.info.shrike_sid}}
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
                    <td>
                    {%if shrike.info.shrike_msg %}
                        {{shrike.info.shrike_msg}}
                    {% else %}
                        <span class="mono">None</span>
                    {% endif %}
                    </td>
            </tr>
        </table>
    {% else %}
        <p>No Shrike Data</p>
    {% endif %}
    </div>
</div>
{% endblock %}
