html {
    background: #1c1c1c;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding-top: 60px;
    background: #1c1c1c repeat-x;
}

@page {
    size: A3;
    margin: 1cm;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

a {
    color: white
}

.navbar-collapse.in {
    display: block !important;
}

.nav-link {
    padding: .5rem 1rem;
}

element.style {
    font-size: 14px;
}

.card-body {
    padding: 1.0rem;
}

a:hover {
    color: #EE1B2F
}

.btn-link {
    color: red
}

.btn-link:hover {
    color: #EE1B2F
}

.page-link {
    background-color: #444
}

.page-link-active {
    background-color: #EE1B2F;
}

.text-success {
    color: #62c462!important
}

.text-sucess:hover {
    color: #62c462
}

.page-item.active .page-link {
    z-index:3;
    color:#fff;
    background-color:#ee1b2f;
    border-color:transparent
}

footer {
    background: #292727;
    margin: 40px 0 0;
    padding: 20px 0 15px;
    width: 100%;
    color: #ccc;
}
footer a:link, footer a:visited {
    color: #ccc;
    text-decoration: none;
}
footer a:hover {
    color: #ccc;
    text-decoration: underline;
}
#footer-extra {
    background: #1c1c1c;
    padding: 10px 0;
    font-size: 11px;
    color: #999;
}
#footer-extra a:link, #footer-extra a:visited {
    color: #999;
    font-weight: bold;
    text-decoration: none;
}
#footer-extra a:hover {
    color: #ccc;
    text-decoration: underline;
}
.center {
    text-align: center;
}
.mono {
    font-family: monospace;
    font-size: medium;
}
.content {
    background-color: white;
    padding: 40px;
    padding-top: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
}
.section-title {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    margin-top: 20px;
    padding-bottom: 3px;
}
span.block-title {
    font-size: 18px;
    font-weight: bold;
}
img.opaque {
    opacity: 0.3;
    filter: alpha(opacity=30);
}
img.opaque:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.gray {
    color: #666;
}
.table-centered {
    margin: 0 auto !important;
    float: none !important;
}
a.tag-label {
    color: white;
}

h4, .h4 {
    font-size: 18px;
}

.filesystem {
    background-color: #ffe3c5;
    color: black;
}
.registry {
    background-color: #ffc5c5;
    color: black;
}
.process {
    background-color: #c5e0ff;
    color: black;
}
.threading {
    background-color: #d3e0ff;
    color: black;
}
.services {
    background-color: #ccc5ff;
    color: black;
}
.device {
    background-color: #d3c5cc;
    color: black;
}
.network {
    background-color: #d3ffc5;
    color: black;
}
.socket {
    background-color: #d3ffc5;
    color: black;
}
.synchronization {
    background-color: #f9c5ff;
    color: black;
}
.browser {
    background-color: #dfffdf;
    color: black;
}
.crypto {
    background-color: #f0f2c5;
    color: black;
}
.system {
    background-color: #fffcc5;
    color: black;
}
.windows {
    background-color: #ffc5ee;
    color: black;
}
.page-header {
    margin-bottom: 10px;
}
.filter-box {
    display : none;
    padding-top: 15px;
	height : auto;
	width : 40%;
}
/* Fix the icon tab override */
.nav-tabs > .active > a > [class^="icon-"],.nav-tabs>.active>a>[class*=" icon-"] { background-image:url("../img/glyphicons-halflings.png") !important; }

td {
    word-wrap: break-word;
}

.tab-content {
    margin-top: 25px;
}

.row-active {
    background-color:darkred;
}

pre {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.tcp-flow {
    list-style-type: none;
}
.tcp-flow li {
    margin-bottom: 20px;
}
.tcp-out {
}
.tcp-out pre {
    padding: 0;
    border: 0;
    background-color: white;
    color: #d9534f;
}
.tcp-in {
    padding-left: 100px;
}
.tcp-in pre {
    padding: 0;
    border: 0;
    background-color: white;
    color: #5bc0de;
}
#filter-toggle {
    display: inline-block;
    cursor: pointer;
}

.form-control {
    background-color: darkgray;
    color:black;
}
