<div class="card bg-dark border-secondary">
    <div class="card-header border-secondary">
        <h5 class="mb-0 text-white"><i class="fas fa-envelope me-2 text-info"></i>SMTP Traffic</h5>
    </div>
{% if network.smtp_ex %}
<div class="card-body">
<table class="table table-dark table-striped table-bordered" style="table-layout: fixed;">
    <tr>
        <th>Destination</th>
        <th>Data</th>
    </tr>
    {% for req in network.smtp_ex %}
    <tr>
        <td style="word-wrap: break-word;">{{req.dst}}:{{req.dport}}</td>
        <td style="word-wrap: break-word;">
            <table class="table table-dark table-striped table-bordered">
            {% if req %}
                <tr><td>
                    Request:
                    {% for key, value in req.req.items %}
                    {% if key in "headers,mail_body" %}
                        <li><b>{{key}}:</b> <pre style="display: inline-block;white-space: pre-wrap;overflow-x: auto;width: 100%;">{{value}}</pre></li>
                    {% else %}
                        <li><b>{{key}}:</b> <pre style="display: inline">{{value}}</pre></li>
                    {% endif %}
                    {% endfor %}
                </td></tr>
            {% endif %}
            <tr><td>
            {% if req.resp %}
                Response:
                {% for key, value in req.resp.items %}
                    {% if key in "banner" %}
                        <li><b>{{key}}:</b> <pre style="display: inline-block;white-space: pre-wrap;overflow-x: auto;width: 100%;">{{value}}</pre></li>
                    {% else %}
                        <li><b>{{key}}:</b> <pre style="display: inline">{{value}}</pre></li>
                    {% endif %}
                {% endfor %}
            {% else %}
                No response
            {% endif %}
            </td></tr>
            </table>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% elif network.smtp %}
<div class="card-body">
<table class="table table-dark table-striped table-bordered" style="table-layout: fixed;">
    <tr>
        <th>Destination</th>
        <th>Data</th>
    </tr>
    {% for req in network.smtp %}
    <tr>
        <td style="word-wrap: break-word;">{{req.dst}}</td>
        <td style="word-wrap: break-word;"><pre>{{req.raw}}</pre></td>
    </tr>
    {% endfor %}
</table>
</div>
{% else %}
<div class="card-body">
<div class="alert alert-info">No SMTP traffic performed.</div>
</div>
{% endif %}
</div>
