<section id="suri_alerts">
    <h4>Suricata Alerts</h4>
    {% if analysis.suricata.alerts %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>Timestamp</th>
                <th>Source IP</th>
                <th>Source Port</th>
                <th>Destination IP</th>
                <th>Destination Port</th>
                <th>Protocol</th>
                <th>GID</th>
                <th>SID</th>
                <th>REV</th>
                <th>Signature</th>
                <th>Category</th>
                <th>Severity</th>
            </tr>
            {% for alert in analysis.suricata.alerts %}
            <tr>
                <td>{{alert.timestamp}}</td>
                <td>{{alert.srcip}} 
                    <a href="https://www.virustotal.com/en/ip-address/{{alert.srcip}}/information/">[VT]</a> 
                    {% if config.display_et_portal %}
                        <a href="https://threatintel.proofpoint.com/search?q={{alert.srcip}}" target="_blank">[ET]</a> 
                    {% endif %}
                    {% if config.display_pt_portal %}
                    <a href="https://www.passivetotal.org/passive/{{alert.srcip}}" target="_blank">[PT]</a>
                    {% endif %}
                    {% if alert.moloch_src_ip_url %}
                        <a href={{alert.moloch_src_ip_url}} target="_blank">[MLCH]</a>
                    {% endif %}
                </td>
                <td>{{alert.srcport}} 
                    {% if alert.moloch_src_port_url %}
                        <a href={{alert.moloch_src_port_url}} target="_blank">[MLCH]</a>
                    {% endif %}
                </td>
                <td>{{alert.dstip}} 
                    <a href="https://www.virustotal.com/en/ip-address/{{alert.dstip}}/information/">[VT]</a> 
                    {% if config.display_et_portal %}
                        <a href="https://threatintel.proofpoint.com/search?q={{alert.dstip}}" target="_blank">[ET]</a> 
                    {% endif %}
                    {% if config.display_pt_portal %}
                    <a href="https://www.passivetotal.org/passive/{{alert.dstip}}" target="_blank">[PT]</a>
                    {% endif %}
                    {% if alert.moloch_dst_ip_url %}
                        <a href={{alert.moloch_dst_ip_url}} target="_blank">[MLCH]</a>
                    {% endif %}
                </td>
                <td>{{alert.dstport}} 
                    {% if alert.moloch_dst_port_url %}
                        <a href={{alert.moloch_dst_port_url}} target="_blank">[MLCH]</a>
                    {% endif %}
                </td>
                <td>{{alert.protocol}}</td>
                <td>{{alert.gid}}</td>
                <td>{{alert.sid}} 
                    {% if config.display_et_portal %}
                        <a href="https://threatintel.proofpoint.com/search?q={{alert.sid}}" target="_blank">[ET]</a> 
                    {% endif %}
                    {% if alert.moloch_sid_url %}
                        <a href={{alert.moloch_sid_url}} target="_blank">[MLCH]</a>
                    {% endif %}
                </td>
                <td>{{alert.rev}}</td>
                <td>{{alert.signature}} 
                    {% if config.display_et_portal %}
                        <a href="https://threatintel.proofpoint.com/search?q={{alert.signature}}" target="_blank">[ET]</a> 
                    {% endif %}
                    {% if alert.moloch_msg_url %}
                        <a href={{alert.moloch_msg_url}} target="_blank">[MLCH]</a>
                    {% endif %}
                </td>
                <td>{{alert.category}}</td>
                <td>{{alert.severity}}</td>
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>No Suricata Alerts</p>
    {% endif %}
</section>
