{% load i18n %}
<script src="{{ STATIC_URL }}js/hexdump.js"></script>
<section id="tcp" class="tcpudp">
    {% if network.tcp %}
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tr>
                        <th>{% trans "Source" %}</th>
                        <th>{% trans "Source Port" %}</th>
                        <th>{% trans "Destination" %}</th>
                        <th>{% trans "Destination Port" %}</th>
                    </tr>
                    {% for p in network.tcp %}
                        <tr class="connrow" data="{{p.src}},{{p.sport}},{{p.dst}},{{p.dport}},tcp">
                            <td>{{p.src}}</td>
                            <td>{{p.sport}}</td>
                            <td>{{p.dst}}
                                {% if network.iplookups %}
                                    {{ network.iplookups|get_item:p.dst }}
                                {% endif %}
                                </td>
                            <td>{{p.dport}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="stream col-md-6"></div>
        </div>
    {% else %}
        <p>{% trans "No TCP connections recorded." %}</p>
    {% endif %}
</section>
<script type='text/javascript'>
$(function () {
    var errorMessage = "{{ _('Error loading data. Please reload the page and if the error persists contact us.')|escapejs }}";
    var inboundTitle = "{{ _('Inbound')|escapejs }}";
    var outboundTitle = "{{ _('Outbound')|escapejs }}";
    $("section.tcpudp table tr.connrow").click(function(e) {
        var $section = $(this).closest("section");

        $section.find("table tr.connrow").removeClass("row-active");
        $(this).addClass("row-active");

        var choice = $(this).closest('tr').attr('data');

        $.get("/analysis/{{id}}/pcapstream/"+choice+"/", function(data, status, xhr) {
            if (status == "error") {
                $section.find("div.stream").html(errorMessage);
            } else {
                var out = $("<ul class=\"tcp-flow\">");
                var first = undefined;
                console.log("get result", data, status, xhr);
                for (var i in data) {
                    var p = data[i];
                    var tuple = p.src + ":" + p.sport + " &rarr; " + p.dst + ":" + p.dport;

                    if (first == undefined) first = tuple;
                    if (first != tuple) {
                        tcpclass = "tcp-in";
                        icon = "<i class=\"fa fa-chevron-down\" title=\"" + inboundTitle + "\"></i>";
                    } else {
                        tcpclass = "tcp-out";
                        icon = "<i class=\"fa fa-chevron-up\" title=\"" + outboundTitle + "\"></i>";
                    }

                    var li = $("<li class=\"" + tcpclass + "\">" + icon + tuple + "</li>").append("<pre>" + hexy(base64.decode(p.raw)) + "</pre>");
                    out.append(li);
                }
                $section.find("div.stream").html(out);
                console.log(out);
            }
        });
    });
    // autoload first one
    var $row = $("section#tcp table tr.connrow").first().click();
    var $row = $("section#udp table tr.connrow").first().click();
})
</script>
