{% load key_tags %}
<section id="whois_hosts">
    <h4>Hosts <a href="https://www.whoisxmlapi.com/" target="_blank">[WHOIS Information]</a></h4>
    {% if analysis.network.whois_hosts %}
        <table class="table table-striped table-bordered" style="width: 100%;margin-left: auto;margin-right: auto;">
            <tr>
                <th>Domain/IP <span class="fas fa-location-dot"></span></th>
                <th>Name Server <span class="fas fa-server"></span></th>
                <th>Registrar Name <span class="fas fa-user"></span></th>
                <th>Organization <span class="fas fa-building"></span></th>
                <th>Street <span class="fas fa-sign-hanging"></span></th>
                <th>City <span class="fas fa-city"></span></th>
                <th>Country <span class="fas fa-earth-americas"></span></th>
                <th>Email <span class="fas fa-envelope"></span></th>
                <th>Record Created On <span class="fas fa-calendar-days"></span></th>
                <th>Record Last Updated <span class="fas fa-calendar-days"></span></th>
            </tr>
            {% for host in analysis.network.whois_hosts %}
            {% if host|findkey:"WhoisRecord" %}
            <tr>
                <td>
                    {% if host|findkey:"domainName" %}
                    {{ host|findkey:"domainName" }} <a href="https://www.virustotal.com/gui/ip-address/{{host|findkey:'domainName'}}/detection" target="_blank">[VT]</a>
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if host|findkey:"hostNames" %}
                    <ul>
                        {% for hostName in host|findkey:"hostNames" %}
                        <li>{{ hostName }} <a href="https://www.virustotal.com/gui/domain/{{hostName}}/detection" target="_blank">[VT]</a></li> 
                        {% endfor %}
                    </ul>
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if host|findkey:"registrarName" %}
                    {{ host|findkey:"registrarName" }}
                    {% if host|findkey:"registrarIANAID" %}
                    (ID: {{ host|findkey:"registrarIANAID" }})
                    {% endif %}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if host|findkey:"organization" %}
                    {{ host|findkey:"organization" }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if host|findkey:"street1" and host|findkey:"street2" and host|findkey:"street3" %}
                    <ul>
                        <li>{{ host|findkey:"street1" }}</li>
                        <li>{{ host|findkey:"street2" }}</li>
                        <li>{{ host|findkey:"street3" }}</li>
                    </ul>
                    {% elif host|findkey:"street1" and host|findkey:"street2" %}
                    <ul>
                        <li>{{ host|findkey:"street1" }}</li>
                        <li>{{ host|findkey:"street2" }}</li>
                    </ul>
                    {% elif host|findkey:"street1" %}
                    {{ host|findkey:"street1" }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                
                <td>
                    {% if host|findkey:"city" %}
                    {{ host|findkey:"city" | title }}
                    {% if host|findkey:"postalCode" %}
                    (Postal Code: {{ host|findkey:"postalCode" }})
                    {% endif %}
                    {% else %}
                    -
                    {% endif %}
                </td>
                
                <td>
                    {% if host|findkey:"country" %}
                    {{ host|findkey:"country" | title }}
                    {% if host|findkey:"countryCode" %}
                    ({{ host|findkey:"countryCode" }})
                    {% endif %}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                {% if host|findkey:"email" %}
                {% with host|findkey:"email"|split:"," as emails %}
                <ul>
                    {% for email in emails %}
                    <li>
                        {{email}}
                    </li>
                    {% endfor %}
                </ul>
                {% endwith %}
                {% else %}
                -
                {% endif %}   
                </td>
                <td>
                    {% if host|findkey:"registryData" %}
                    {% if host|findkey:"registryData"|findkey:"createdDateNormalized" %}
                    {{ host|findkey:"registryData"|findkey:"createdDateNormalized" }}
                    {% endif %}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if host|findkey:"registryData" %}
                    {% if host|findkey:"registryData"|findkey:"updatedDateNormalized" %}
                    {{ host|findkey:"registryData"|findkey:"updatedDateNormalized" }}
                    {% endif %}
                    {% else %}
                    -
                    {% endif %}
                </td>       
            </tr>
            {% else %}
            <tr>
                <td colspan="10" class="text-center">A record was not found</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    {% else %}
        <p>No hosts contacted / WHOIS Query is disabled</p>
    {% endif %}
</section>