{% if network.pcap_sha256 %}

    <div class="alert alert-primary center">
        <a class="btn btn-secondary btn-sm" href="{% url "file" "pcap" id network.pcap_sha256 %}"><span class="fas fa-download"></span> PCAP</a>
        {% if config.pcap_ng %}
            <a class="btn btn-secondary btn-sm" title="PCAP with embedded TLS keys for use in WireShark." href="{% url "file" "pcapng" id "dump" %}"><span class="fas fa-download"></span> PCAP-NG</a>
        {% endif %}
            <a class="btn btn-secondary btn-sm" href="{% url "file" "pcapzip" id network.pcap_sha256 %}"><span class="fas fa-file-archive"></span><span class="fas fa-download"></span> PCAP</a>
        {% if tlskeys_exists %}
            <a class="btn btn-secondary btn-sm" href="{% url "file" "tlskeys" id network.pcap_sha256 %}"><span class="fas fa-download"></span> TLS keys</a>
        {% endif %}
        {% if mitmdump_exists %}
            <a class="btn btn-secondary btn-sm" href="{% url "file" "mitmdump" id 0 %}"><span class="fas fa-download"></span> Mitmdump </a>
        {% endif %}
    </div>
{% endif %}
    <ul class="nav nav-tabs flex-column flex-sm-row" style="margin-bottom: 0;">
        <li class="nav-item"><a class="nav-link active" href="#network_hosts_tab" data-bs-toggle="tab">Hosts ({{ network.hosts|length }})</a></li>
        <li class="nav-item"><a class="nav-link" href="#network_dns_tab" data-bs-toggle="tab">DNS ({{ network.domains|length }})</a></li>
        {% if network.tcp %}<li class="nav-item"><a class="nav-link" href="#network_tcp_tab" data-bs-toggle="tab">TCP ({{ network.tcp|length }})</a></li>{% endif %}
        {% if network.udp %}<li class="nav-item"><a class="nav-link" href="#network_udp_tab" data-bs-toggle="tab">UDP ({{ network.udp|length }})</a></li>{% endif %}
        {% if network.http_ex or network.https_ex or network.http %}
        <li class="nav-item"><a class="nav-link" href="#network_http_tab" data-bs-toggle="tab">
            {% if network.http_ex or network.https_ex %}
                HTTP(S) <span class="button-badge">({{ network.http_ex|add:network.https_ex|length }})</span>
            {% else %}
                HTTP <span class="button-badge">({{ network.http|length }})</span>
            {% endif %}
        </a></li>
        {% endif %}
        {% if network.smtp_ex or network.smtp %}<li class="nav-item"><a class="nav-link" href="#network_smtp_tab" data-bs-toggle="tab">SMTP ({{ network.smtp|length }})</a></li>{% endif %}
        {% if network.irc %}<li class="nav-item"><a class="nav-link" href="#network_irc_tab" data-bs-toggle="tab">IRC ({{ network.irc|length }})</a></li>{% endif %}
        {% if network.icmp %}<li class="nav-item"><a class="nav-link" href="#network_icmp_tab" data-bs-toggle="tab">ICMP ({{ network.icmp|length }})</a></li>{% endif %}
        {% if config.cif and cif %}<li class="nav-item"><a class="nav-link" href="#network_cif_tab" data-bs-toggle="tab">CIF Results ({{ cif|length }})</a></li>{% endif %}
        {% if config.suricata %}
            {% if suricata.alerts %}<li class="nav-item"><a class="nav-link" href="#network_suri_alerts_tab" data-bs-toggle="tab">Suricata Alerts ({{ suricata.alerts|length }})</a></li>{% endif %}
            {% if suricata.tls %}<li class="nav-item"><a class="nav-link" href="#network_suri_tls_tab" data-bs-toggle="tab">Suricata TLS ({{ suricata.tls|length }})</a></li>{% endif %}
            {% if suricata.http %}<li class="nav-item"><a class="nav-link" href="#network_suri_http_tab" data-bs-toggle="tab">Suricata HTTP ({{ suricata.http|length }})</a></li>{% endif %}
            {% if suricata.files %}<li class="nav-item"><a class="nav-link" href="#network_suri_files" data-bs-toggle="tab">Suricata Files ({{ suricata.files|length }})</a></li>{% endif %}
        {% endif %}
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="network_hosts_tab">{% include "analysis/network/_hosts.html" %}</div>
        <div class="tab-pane fade" id="network_tcp_tab">{% include "analysis/network/_tcp.html" %}</div>
        <div class="tab-pane fade" id="network_udp_tab">{% include "analysis/network/_udp.html" %}</div>
        <div class="tab-pane fade" id="network_dns_tab">{% include "analysis/network/_dns.html" %}</div>
        <div class="tab-pane fade" id="network_http_tab">{% include "analysis/network/_http.html" %}</div>
        <div class="tab-pane fade" id="network_smtp_tab">{% include "analysis/network/_smtp.html" %}</div>
        <div class="tab-pane fade" id="network_irc_tab">{% include "analysis/network/_irc.html" %}</div>
        <div class="tab-pane fade" id="network_icmp_tab">{% include "analysis/network/_icmp.html" %}</div>
        <div class="tab-pane fade" id="network_cif_tab">{% include "analysis/network/_cif.html" %}</div>
        <div class="tab-pane fade" id="network_suri_alerts_tab">{% include "analysis/network/_suricata_alerts.html" %}</div>
        <div class="tab-pane fade" id="network_suri_tls_tab">{% include "analysis/network/_suricata_tls.html" %}</div>
        <div class="tab-pane fade" id="network_suri_http_tab">{% include "analysis/network/_suricata_http.html" %}</div>
        <div class="tab-pane fade" id="network_suri_files">{% include "analysis/network/_suricata_files.html" %}</div>
    </div>
