{% if midmemory2 %}
    <div class="alert alert-primary center">
        <!-- <a class="btn btn-secondary btn-sm" href="{% url "full_midmemory2_dump_file" id %}" data-bs-toggle="tooltip" title="Download file"><span class="fas fa-download"></span> Full Memory Dump (Mid Analysis)</a> -->
        <a class="btn btn-secondary btn-sm" href="{% url "full_midmemory2_dump_strings" id %}" data-bs-toggle="tooltip" title="Download strings"><span class="fas fa-download" ></span> Full Memory Dump Strings (During Analysis)</a>
    </div>
    <div class="tabbable tabs">
        <ul class="nav nav-tabs" style="margin-bottom: 0;">
            {% if midmemory2.pslist %}<li class="nav-item active"><a class="nav-link" href="#midmemory2_pslist" data-toggle="tab">Process List</a></li>{% endif %}
            {% if midmemory2.svcscan %}<li class="nav-item"><a class="nav-link" href="#midmemory2_svcscan" data-toggle="tab">Services</a></li>{% endif %}
            {% if midmemory2.modscan %}<li class="nav-item"><a class="nav-link" href="#midmemory2_modscan" data-toggle="tab">Kernel Modules</a></li>{% endif %}
            {% if midmemory2.devicetree %}<li class="nav-item"><a class="nav-link" href="#midmemory2_devicetree" data-toggle="tab">Device Tree</a></li>{% endif %}
            {% if midmemory2.malfind %}<li class="nav-item"><a class="nav-link" href="#midmemory2_malfind" data-toggle="tab">Code Injection</a></li>{% endif %}
            {% if midmemory2.timers %}<li class="nav-item"><a class="nav-link" href="#midmemory2_timers" data-toggle="tab">Timers</a></li>{% endif %}
            {% if midmemory2.messagehooks %}<li class="nav-item"><a class="nav-link" href="#midmemory2_messagehooks" data-toggle="tab">Messagehooks</a></li>{% endif %}
            {% if midmemory2.apihooks %}<li class="nav-item"><a class="nav-link" href="#midmemory2_apihooks" data-toggle="tab">API Hooks</a></li>{% endif %}
            {% if midmemory2.callbacks %}<li class="nav-item"><a class="nav-link" href="#midmemory2_callbacks" data-toggle="tab">Callbacks</a></li>{% endif %}
            {% if midmemory2.yarascan %}<li class="nav-item"><a class="nav-link" href="#midmemory2_yarascan" data-toggle="tab">Yarascan</a></li>{% endif %}
            {% if midmemory2.ssdt %}<li class="nav-item"><a class="nav-link" href="#midmemory2_ssdt" data-toggle="tab">SSDT</a></li>{% endif %}
            {% if midmemory2.idt %}<li class="nav-item"><a class="nav-link" href="#midmemory2_idt" data-toggle="tab">IDT</a></li>{% endif %}
            {% if midmemory2.gdt %}<li class="nav-item"><a class="nav-link" href="#midmemory2_gdt" data-toggle="tab">GDT</a></li>{% endif %}
            {% if midmemory2.privs %}<li class="nav-item"><a class="nav-link" href="#midmemory2_privs" data-toggle="tab">Privilege</a></li>{% endif %}
            {% if midmemory2.handles %}<li class="nav-item"><a class="nav-link" href="#midmemory2_handles" data-toggle="tab">Handles</a></li>{% endif %}
            {% if midmemory2.getsids %}<li class="nav-item"><a class="nav-link" href="#midmemory2_getsids" data-toggle="tab">Sid by Process</a></li>{% endif %}
            {% if midmemory2.dlllist %}<li class="nav-item"><a class="nav-link" href="#midmemory2_dlllist" data-toggle="tab">Dll List</a></li>{% endif %}
            {% if midmemory2.mutantscan %}<li class="nav-item"><a class="nav-link" href="#midmemory2_mutantscan" data-toggle="tab">Mutex</a></li>{% endif %}
            {% if midmemory2.sockscan or midmemory2.netscan %}
            <li class="nav-item"><a class="nav-link" href="#midmemory2_sockets" data-toggle="tab">Sockets</a></li>
            {% endif %}
        </ul>

        <div class="tab-content">
            {% if midmemory2.pslist %}
            <div class="tab-pane fade show active" id="midmemory2_pslist">
                {% include "analysis/midmemory2/_pslist.html" %}
            </div>
            {% endif %}
            {% if midmemory2.svcscan %}
            <div class="tab-pane fade show" id="midmemory2_svcscan">
                {% include "analysis/midmemory2/_svcscan.html" %}
            </div>
            {% endif %}
            {% if midmemory2.modscan %}
            <div class="tab-pane fade show" id="midmemory2_modscan">
                {% include "analysis/midmemory2/_modscan.html" %}
            </div>
            {% endif %}
            {% if midmemory2.devicetree %}
            <div class="tab-pane fade show" id="midmemory2_devicetree">
                {% include "analysis/midmemory2/_devicetree.html" %}
            </div>
            {% endif %}
            {% if midmemory2.malfind %}
            <div class="tab-pane fade show" id="midmemory2_malfind">
                {% include "analysis/midmemory2/_malfind.html" %}
            </div>
            {% endif %}
            {% if midmemory2.apihooks %}
            <div class="tab-pane fade show" id="midmemory2_apihooks">
                {% include "analysis/midmemory2/_apihooks.html" %}
            </div>
            {% endif %}
            {% if midmemory2.ssdt %}
            <div class="tab-pane fade show" id="midmemory2_ssdt">
                {% include "analysis/midmemory2/_ssdt.html" %}
            </div>
            {% endif %}
            {% if midmemory2.idt %}
            <div class="tab-pane fade show" id="midmemory2_idt">
                {% include "analysis/midmemory2/_idt.html" %}
            </div>
            {% endif %}
            {% if midmemory2.gdt %}
            <div class="tab-pane fade show" id="midmemory2_gdt">
                {% include "analysis/midmemory2/_gdt.html" %}
            </div>
            {% endif %}
            {% if midmemory2.timers %}
            <div class="tab-pane fade show" id="midmemory2_timers">
                {% include "analysis/midmemory2/_timers.html" %}
            </div>
            {% endif %}
            {% if midmemory2.messagehooks %}
            <div class="tab-pane fade show" id="midmemory2_messagehooks">
                {% include "analysis/midmemory2/_messagehooks.html" %}
            </div>
            {% endif %}
            {% if midmemory2.yarascan %}
            <div class="tab-pane fade show" id="midmemory2_yarascan">
                {% include "analysis/midmemory2/_yarascan.html" %}
            </div>
            {% endif %}
            {% if midmemory2.callbacks %}
            <div class="tab-pane fade show" id="midmemory2_callbacks">
                {% include "analysis/midmemory2/_callbacks.html" %}
            </div>
            {% endif %}
            {% if midmemory2.sockscan %}
            <div class="tab-pane fade show" id="midmemory2_sockets">
                {% include "analysis/midmemory2/_sockscan.html" %}
            </div>
            {% elif midmemory2.netscan %}
            <div class="tab-pane fade show" id="midmemory2_sockets">
                {% include "analysis/midmemory2/_netscan.html" %}
            </div>
            {% endif %}
            {% if midmemory2.privs %}
            <div class="tab-pane fade show" id="midmemory2_privs">
                {% include "analysis/midmemory2/_privs.html" %}
            </div>
            {% endif %}
            {% if midmemory2.handles %}
            <div class="tab-pane fade show" id="midmemory2_handles">
                {% include "analysis/midmemory2/_handles.html" %}
            </div>
            {% endif %}
            {% if midmemory2.getsids %}
            <div class="tab-pane fade show" id="midmemory2_getsids">
                {% include "analysis/midmemory2/_getsids.html" %}
            </div>
            {% endif %}
            {% if midmemory2.dlllist %}
            <div class="tab-pane fade show" id="midmemory2_dlllist">
                {% include "analysis/midmemory2/_dlllist.html" %}
            </div>
            {% endif %}
            {% if midmemory2.mutantscan %}
            <div class="tab-pane fade show" id="midmemory2_mutantscan">
                {% include "analysis/midmemory2/_mutantscan.html" %}
            </div>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="alert alert-secondary"><b>Sorry!</b> No Memory details. {{midmemory2}}</div>
{% endif %}
