{% if midmemory %}
    <div class="alert alert-primary center">
        <!-- <a class="btn btn-secondary btn-sm" href="{% url "full_midmemory_dump_file" id %}" data-bs-toggle="tooltip" title="Download file"><span class="fas fa-download"></span> Full Memory Dump (Mid Analysis)</a> -->
        <a class="btn btn-secondary btn-sm" href="{% url "full_midmemory_dump_strings" id %}" data-bs-toggle="tooltip" title="Download strings"><span class="fas fa-download" ></span> Full Memory Dump Strings (During Analysis)</a>
    </div>
    <div class="tabbable tabs">
        <ul class="nav nav-tabs" style="margin-bottom: 0;">
            {% if midmemory.pslist %}<li class="nav-item active"><a class="nav-link" href="#midmemory_pslist" data-toggle="tab">Process List</a></li>{% endif %}
            {% if midmemory.svcscan %}<li class="nav-item"><a class="nav-link" href="#midmemory_svcscan" data-toggle="tab">Services</a></li>{% endif %}
            {% if midmemory.modscan %}<li class="nav-item"><a class="nav-link" href="#midmemory_modscan" data-toggle="tab">Kernel Modules</a></li>{% endif %}
            {% if midmemory.devicetree %}<li class="nav-item"><a class="nav-link" href="#midmemory_devicetree" data-toggle="tab">Device Tree</a></li>{% endif %}
            {% if midmemory.malfind %}<li class="nav-item"><a class="nav-link" href="#midmemory_malfind" data-toggle="tab">Code Injection</a></li>{% endif %}
            {% if midmemory.timers %}<li class="nav-item"><a class="nav-link" href="#midmemory_timers" data-toggle="tab">Timers</a></li>{% endif %}
            {% if midmemory.messagehooks %}<li class="nav-item"><a class="nav-link" href="#midmemory_messagehooks" data-toggle="tab">Messagehooks</a></li>{% endif %}
            {% if midmemory.apihooks %}<li class="nav-item"><a class="nav-link" href="#midmemory_apihooks" data-toggle="tab">API Hooks</a></li>{% endif %}
            {% if midmemory.callbacks %}<li class="nav-item"><a class="nav-link" href="#midmemory_callbacks" data-toggle="tab">Callbacks</a></li>{% endif %}
            {% if midmemory.yarascan %}<li class="nav-item"><a class="nav-link" href="#midmemory_yarascan" data-toggle="tab">Yarascan</a></li>{% endif %}
            {% if midmemory.ssdt %}<li class="nav-item"><a class="nav-link" href="#midmemory_ssdt" data-toggle="tab">SSDT</a></li>{% endif %}
            {% if midmemory.idt %}<li class="nav-item"><a class="nav-link" href="#midmemory_idt" data-toggle="tab">IDT</a></li>{% endif %}
            {% if midmemory.gdt %}<li class="nav-item"><a class="nav-link" href="#midmemory_gdt" data-toggle="tab">GDT</a></li>{% endif %}
            {% if midmemory.privs %}<li class="nav-item"><a class="nav-link" href="#midmemory_privs" data-toggle="tab">Privilege</a></li>{% endif %}
            {% if midmemory.handles %}<li class="nav-item"><a class="nav-link" href="#midmemory_handles" data-toggle="tab">Handles</a></li>{% endif %}
            {% if midmemory.getsids %}<li class="nav-item"><a class="nav-link" href="#midmemory_getsids" data-toggle="tab">Sid by Process</a></li>{% endif %}
            {% if midmemory.dlllist %}<li class="nav-item"><a class="nav-link" href="#midmemory_dlllist" data-toggle="tab">Dll List</a></li>{% endif %}
            {% if midmemory.mutantscan %}<li class="nav-item"><a class="nav-link" href="#midmemory_mutantscan" data-toggle="tab">Mutex</a></li>{% endif %}
            {% if midmemory.sockscan or midmemory.netscan %}
            <li class="nav-item"><a class="nav-link" href="#midmemory_sockets" data-toggle="tab">Sockets</a></li>
            {% endif %}
        </ul>

        <div class="tab-content">
            {% if midmemory.pslist %}
            <div class="tab-pane fade show active" id="midmemory_pslist">
                {% include "analysis/midmemory/_pslist.html" %}
            </div>
            {% endif %}
            {% if midmemory.svcscan %}
            <div class="tab-pane fade show" id="midmemory_svcscan">
                {% include "analysis/midmemory/_svcscan.html" %}
            </div>
            {% endif %}
            {% if midmemory.modscan %}
            <div class="tab-pane fade show" id="midmemory_modscan">
                {% include "analysis/midmemory/_modscan.html" %}
            </div>
            {% endif %}
            {% if midmemory.devicetree %}
            <div class="tab-pane fade show" id="midmemory_devicetree">
                {% include "analysis/midmemory/_devicetree.html" %}
            </div>
            {% endif %}
            {% if midmemory.malfind %}
            <div class="tab-pane fade show" id="midmemory_malfind">
                {% include "analysis/midmemory/_malfind.html" %}
            </div>
            {% endif %}
            {% if midmemory.apihooks %}
            <div class="tab-pane fade show" id="midmemory_apihooks">
                {% include "analysis/midmemory/_apihooks.html" %}
            </div>
            {% endif %}
            {% if midmemory.ssdt %}
            <div class="tab-pane fade show" id="midmemory_ssdt">
                {% include "analysis/midmemory/_ssdt.html" %}
            </div>
            {% endif %}
            {% if midmemory.idt %}
            <div class="tab-pane fade show" id="midmemory_idt">
                {% include "analysis/midmemory/_idt.html" %}
            </div>
            {% endif %}
            {% if midmemory.gdt %}
            <div class="tab-pane fade show" id="midmemory_gdt">
                {% include "analysis/midmemory/_gdt.html" %}
            </div>
            {% endif %}
            {% if midmemory.timers %}
            <div class="tab-pane fade show" id="midmemory_timers">
                {% include "analysis/midmemory/_timers.html" %}
            </div>
            {% endif %}
            {% if midmemory.messagehooks %}
            <div class="tab-pane fade show" id="midmemory_messagehooks">
                {% include "analysis/midmemory/_messagehooks.html" %}
            </div>
            {% endif %}
            {% if midmemory.yarascan %}
            <div class="tab-pane fade show" id="midmemory_yarascan">
                {% include "analysis/midmemory/_yarascan.html" %}
            </div>
            {% endif %}
            {% if midmemory.callbacks %}
            <div class="tab-pane fade show" id="midmemory_callbacks">
                {% include "analysis/midmemory/_callbacks.html" %}
            </div>
            {% endif %}
            {% if midmemory.sockscan %}
            <div class="tab-pane fade show" id="midmemory_sockets">
                {% include "analysis/midmemory/_sockscan.html" %}
            </div>
            {% elif midmemory.netscan %}
            <div class="tab-pane fade show" id="midmemory_sockets">
                {% include "analysis/midmemory/_netscan.html" %}
            </div>
            {% endif %}
            {% if midmemory.privs %}
            <div class="tab-pane fade show" id="midmemory_privs">
                {% include "analysis/midmemory/_privs.html" %}
            </div>
            {% endif %}
            {% if midmemory.handles %}
            <div class="tab-pane fade show" id="midmemory_handles">
                {% include "analysis/midmemory/_handles.html" %}
            </div>
            {% endif %}
            {% if midmemory.getsids %}
            <div class="tab-pane fade show" id="midmemory_getsids">
                {% include "analysis/midmemory/_getsids.html" %}
            </div>
            {% endif %}
            {% if midmemory.dlllist %}
            <div class="tab-pane fade show" id="midmemory_dlllist">
                {% include "analysis/midmemory/_dlllist.html" %}
            </div>
            {% endif %}
            {% if midmemory.mutantscan %}
            <div class="tab-pane fade show" id="midmemory_mutantscan">
                {% include "analysis/midmemory/_mutantscan.html" %}
            </div>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="alert alert-secondary"><b>Sorry!</b> No Memory details. {{midmemory}}</div>
{% endif %}
