{% load i18n %}
<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Name" %}</th>
            <th>MD5</th>
            <th>{% trans "Machine" %}</th>
            <th>{% trans "Completed On" %}</th>
            <th>{% trans "Duration" %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{record.info.id}}</td>
            <td>{{record.target.file.name|slice:":40" }} {% if record.target.file.name|length > 40 %}...{% endif %}</td>
            <td><a href="{% url "report" record.info.id %}">{{record.target.file.md5}}</a></td>
            <td>{{record.info.machine.label}}</td>
            <td>{{record.info.ended}}</td>
            <td>{% blocktrans with duration=record.info.duration %}{{ duration }} seconds{% endblocktrans %}</td>
        </tr>
    </tbody>
</table>
