<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>MD5</th>
            <th>Machine</th>
            <th>Completed On</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{record.info.id}}</td>
            <td>{{record.target.file.name|slice:":40" }} {% if record.target.file.name|length > 40 %}...{% endif %}</td>
            <td><a href="{% url "report" record.info.id %}">{{record.target.file.md5}}</a></td>
            <td>{{record.info.machine.label}}</td>
            <td>{{record.info.ended}}</td>
            <td>{{record.info.duration}} seconds</td>
        </tr>
    </tbody>
</table>
