{% extends "base.html" %}
{% block content %}

<script type='text/javascript'>
$(function () {
    $("#hash").submit(function(e) {
        e.preventDefault();
        var $choice = $(this).find("input[name='hash']");
        console.log($choice.val());
        if ($choice.length)
            window.location = $choice.val();
    });
})
</script>

<div class="row">
    <div class="col-md-6 border-right border-secondary">
        <h4 class="text-center text-white mb-3"><i class="fas fa-file-alt me-2 text-info"></i> Analysis 1</h4>
        {% include "compare/_info.html" with record=left %}
    </div>
    <div class="col-md-6">
        <h4 class="text-center text-white mb-3"><i class="fas fa-random me-2 text-warning"></i> Select Analysis 2</h4>

        <div class="card border-secondary mb-4">
            <div class="card-header border-secondary text-white">Same File Analysis</div>
            <div class="card-body">
                {% if records|length > 0 %}
                    <p class="text-white-50">Choose another analysis of the same file:</p>
                    {% include "compare/_summary_table.html" %}
                {% else %}
                    <div class="alert alert-secondary">
                        <i class="fas fa-info-circle me-2"></i> No other analysis found for this file.
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="card border-secondary">
            <div class="card-header border-secondary text-white">Compare with Different File</div>
            <div class="card-body">
                <p class="text-white-50">Enter MD5 hash to find a different analysis:</p>
                <form class="form-inline" action="#" id="hash">
                    <div class="input-group w-100">
                        <input class="form-control text-white border-secondary" type="text" name="hash" placeholder="MD5 Hash" />
                        
                            <button type="submit" class="btn btn-outline-info"><i class="fas fa-search"></i> Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
