{% extends "base.html" %}
{% block content %}
<p style="margin-bottom: 10px;"><img src="{{ STATIC_URL }}graphic/cape.png" /></p>
<div class="alert alert-info"><h4>Submission complete!</h4>
The following tasks were added successfully:
{% for task in tasks %}
    <a href="{% url "submission_status" task %}">{{task}}</a>
{% endfor %}.
Click on the links to monitor the status of the submission.
</div>
{% if failed_hashes %}
    <div class="alert alert-danger"><h4>Submission Failed!</h4>
    The following tasks failed:
    {% for ftask in failed_hashes %}
        <p>{{ftask}}</p>
    {% endfor %}
    </div>
{% endif %}

{% endblock %}
