<div class="card">
    <table class="table table-striped table-bordered table-dark"
        {% if tab_name == "static" %}
            style="table-layout: fixed;"
        {% else %}
           style="table-layout: fixed;margin-left: auto;margin-right: auto;"
        {% endif %}
        >

        {% if source_url %}
            <tr>
                <th style="border-top: 0; width: 15%;">File downloaded from</th>
                <td style="border-top: 0; word-wrap: break-word;">{{source_url|escape}}</td>
            </tr>
            {% endif %}

        {% if file.cape_type %}
            <tr>
                <th style="border-top: 0; width: 15%;">Type</th>
                <td style="border-top: 0; word-wrap: break-word;"><b>{{file.cape_type}}</b></td>
            </tr>
        {% endif %}
        <tr>
            <th style="border-top: 0; width: 15%;">Filename</th>
            <td>
                {% for name in file.name|str2list %}
                <div style="border-top: 0; word-wrap: break-word;"><b>{{name|safe}}</b></div>
                {% endfor %}
            </td>
        </tr>
        {% if file.type %}
            <tr>
                <th style="border-top: 0; width: 15%;">File Type</th>
                <td style="border-top: 0; word-wrap: break-word;"><b>{{file.type}}</b></td>
            </tr>
        {% endif %}
        {% if file.guest_paths and tab_name == "dropped" %}
            <tr>
                <th style="border-top: 0; width: 15%;">Associated Filenames</th>
                <td style="border-top: 0; word-wrap: break-word;">
                    {% for path in file.guest_paths|str2list %}
                        <div>{{path}}</div>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <th style="border-top: 0; width: 15%;">File Size</th>
            <td style="border-top: 0; word-wrap: break-word;"><b>{{file.size}} bytes</b></td>
        </tr>
        {% if file.module_path and file.process_path != file.module_path %}
            <tr>
                <th>Module Path</th>
                <td>{{file.module_path}}</td>
            </tr>
        {% endif %}
        {% if file.cape_type_code == 8 or file.cape_type_code == 9 %}
                <tr>
                    <th>Virtual Address</th>
                    <td>{{file.virtual_address}}</td>
                </tr>
            {% endif %}
            {% if file.cape_type_code == 5 %}
                <tr>
                    <th>Section Handle</th>
                    <td>{{file.section_handle}}</td>
                </tr>
            {% endif %}
            {% if file.cape_type_code == 3 or file.cape_type_code == 4 %}
                <tr>
                    <th>Target Process</th>
                    <td>{{file.target_process}}</td>
                </tr>
                <tr>
                    <th>Target PID</th>
                    <td>{{file.target_pid}}</td>
                </tr>
                <tr>
                    <th>Target Path</th>
                    <td>{{file.target_path}}</td>
                </tr>
                <tr>
                    <th>Injecting Process</th>
                    <td>{{file.process_name}}</td>
                </tr>
                <tr>
                    <th>Injecting PID</th>
                    <td>{{file.pid}}</td>
                </tr>
                <tr>
                    <th>Path</th>
                    <td>{{file.process_path}}</td>
                </tr>
            {% else %}
                {% if file.process_name %}
                <tr>
                    <th>Process</th>
                    <td>{{file.process_name}}</td>
                </tr>
                {% endif %}
                {% if file.pid %}
                <tr>
                    <th>PID</th>
                    <td>{{file.pid}}</td>
                </tr>
                {% endif %}
                {% if file.process_path %}
                <tr>
                    <th>Path</th>
                    <td>{{file.process_path}}</td>
                </tr>
                {% endif %}
            {% endif %}
        {% if file.timestamp %}
            <tr>
                <th>PE timestamp</th>
                <td style="word-wrap: break-word;">{{file.timestamp}}</td>
            </tr>
        {% endif %}
        <tr>
            <th>MD5</th>
            <td style="word-wrap: break-word;">{{file.md5}}</td>
        </tr>
        <tr>
            <th>SHA1</th>
            <td style="word-wrap: break-word;">{{file.sha1}}</td>
        </tr>
        <tr>
            <th>SHA256</th>
            <td style="word-wrap: break-word;">{{file.sha256}}
                <a href="https://www.virustotal.com/gui/file/{{file.sha256}}/" style="color: #e74c3c">[VT]</a>
                <a href="https://mwdb.cert.pl/file/{{file.sha256}}" style="color: #e74c3c">[MWDB]</a>
                <a href="https://bazaar.abuse.ch/sample/{{file.sha256}}/" style="color: #e74c3c">[Bazaar]</a>
            </td>
        </tr>
        {% if file.sha3_384 %}
        <tr>
            <th>SHA3-384</th>
            <td style="word-wrap: break-word;">{{file.sha3_384}}</td>
        </tr>
        {% endif %}
        {% if file.rh_hash %}
            <tr>
                <th>RichHeader Hash</th>
                <td style="word-wrap: break-word;">{{file.rh_hash}}</td>
            </tr>
        {% endif %}
        <tr>
            <th>CRC32</th>
            <td>{{file.crc32}}</td>
        </tr>
        {% if file.tlsh %}
        <tr>
            <th>TLSH</th>
            <td style="word-wrap: break-word;">{{file.tlsh}}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Ssdeep</th>
            <td style="word-wrap: break-word;">{{file.ssdeep}}</td>
        </tr>
        {% if file.clamav %}
        <tr>
            <th>ClamAV</th>
            <td>
                <ul style="margin-bottom: 0;">
                {% for sign in file.clamav %}
                    <li>{{sign}}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if file.yara %}
        <tr>
            <th>Yara</th>
            <td>
                <ul style="margin-bottom: 0;">
                {% for sign in file.yara %}
                    <li>
                    {{sign.name}} - {{sign.meta.description}}
                    {% if sign.meta.author %}
                        - Author: {{sign.meta.author}}
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if file.cape_yara %}
        <tr>
            <th>CAPE Yara</th>
            <td>
                <ul style="margin-bottom: 0;">
                {% for sign in file.cape_yara %}
                    <li>
                    {{sign.name}}
                    {% if sign.meta.cape_type %} - {{sign.meta.cape_type}}
                    {% elif sign.meta.description %} - {{sign.meta.description}}
                    {% endif %}
                    {% if sign.meta.author %} - Author: {{sign.meta.author}}{% endif %}
                    </li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if file.trid %}
        <tr>
            <th>TriD</th>
            <td>
            <ul style="margin-top: 0;margin-bottom: 0;">
                {% for str in file.trid %}
                    <li>{{str}}</li>
                {% endfor %}
            </ul>
            </td>
        </tr>
        {% endif %}

        {% if file.die %}
        <tr>
            <th>Detect It Easy</th>
            <td>
            <ul style="margin-top: 0;margin-bottom: 0;">
                {% for str in file.die %}
                    <li>{{str}}</li>
                {% endfor %}
            </ul>
            </td>
        </tr>
        {% endif %}

        {% if file.dropdir %}
        <tr>
            <th></th>
            <td></td>
        </tr>
        {% else %}

        <tr>
            <th>
                {% if file.pe %}<a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#pe_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="pe_{{file.sha256}}" title="Display PE info"><span class="fas fa-file-lines"></span> PE</a>{% endif %}
                {% if file.dotnet %}<a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#dotnet_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="dotnet_{{file.sha256}}" title="Display DotNet info"><span class="fas fa-file-lines"></span> DotNET</a>{% endif %}
                {% if file.pdf %}<a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#pdf_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="pdf_{{file.sha256}}" title="Display PDF info"><span class="fas fa-file-lines"></span> PDF</a>{% endif %}
                {% if file.lnk %}<a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#lnk_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="lnk_{{file.sha256}}" title="Display LNK info"><span class="fas fa-file-lines"></span> LNK</a>{% endif %}
                {% if file.java %}<a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#java_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="java_{{file.sha256}}" title="Display Java info"><span class="fas fa-file-lines"></span> Java</a>{% endif %}
                {% if file.office %}
                    <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#office_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="office_{{file.sha256}}" title="Display Office info"><span class="fas fa-file-lines"></span> Office</a>
                    {% if file.office.XLMMacroDeobfuscator %}
                        <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#xlmmacro_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="xlmmacro_{{file.sha256}}" title="Display XLM Macro Deobfuscator info"><span class="fas fa-file-lines"></span> XLM Deobfuscator</a>
                    {% endif %}
                {% endif %}
            </th>
            <td>
                {% if file.flare_capa %}
                    <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#flare_capa_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="flare_capa_{{file.sha256}}">FLARE CAPA</a>
                {% endif %}
                {% if file.strings %}
                    <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#strings_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="strings_{{file.sha256}}" title="Display strings"><span class="fas fa-envelope-open-text"></span> Strings</a>
                {% endif %}
                {% if file.floss %}
                    <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#floss_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="floss_{{file.sha256}}" title="Display floss strings"><span class="fas fa-envelope-open-text"></span> Floss</a>
                {% endif %}
                {% if file.data %}
                    <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#text_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="text_{{file.sha256}}" title="Display text"><span class="fas fa-envelope-open-text"></span> Text</a>
                {% endif %}
                {% if file.decoded_files %}
                    <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#decoded_files_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="decoded_files_{{file.sha256}}" title="Display text"><span class="fas fa-envelope-open-text"></span> {{file.decoded_files_tool}}</a>
                {% endif %}
                {% if file.extracted_files %}
                    <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#extracted_files_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="extracted_files_{{file.sha256}}" title="Display extracted files"><span class="fas fa-archive"></span> {{file.extracted_files_tool}} {% if file.extracted_files_time %} ({{"%0.2f" % file.extracted_files_time|float}} sec) {% endif %}</a>
                {% endif %}
            </td>
        </tr>
        {% endif %}

        {% if file.flare_capa %}
            <tr>
                <th></th><td>
                <div class="collapse" id="flare_capa_{{file.sha256}}">
                    <div>
                    <!--Inspired by @snemes trick, code placed in web/views/templateatgs/analysis_tags.py-->
                    {% if file.flare_capa.CAPABILITY %}
                        {{file.flare_capa|flare_capa_capability}}
                    {% endif %}
                    {% if file.flare_capa.ATTCK %}
                        {{file.flare_capa|flare_capa_attck}}
                    {% endif %}
                    {% if file.flare_capa.MBC %}
                        {{file.flare_capa|flare_capa_mbc}}
                    {% endif %}
                    </div>
                </div>
            </td>
            </tr>
            </br>
        {% endif %}
        {#
        {% if graphs.vba2graph.content|getkey:file.sha256 %}
            <tr><th></th>
                <td>{{ graphs.vba2graph.content|getkey:file.sha256|safe }}</td>
            </tr>
        {% endif %}
        #}
        {% if file.virustotal %}
            <tr>
                <th></th>
                <td>{% include "generic/_virustotal.html" %}</td>
            </tr>
        {% endif %}
        {% if file.strings %}
            <tr>
                <th></th><td>
                <div class="collapse" id="strings_{{file.sha256}}">
                    <div>
                    {% for string in file.strings %}
                        <div>{{string}}</div>
                    {% endfor %}
                    </div>
                </div>
            </td>
            </tr>
        {% endif %}
        {% if file.data %}
            <tr>
                <th></th><td>
                <div class="collapse" id="text_{{file.sha256}}">
                    <div>
                    <p>{{file.data|escape}}</p>
                    </div>
                </div>
                </td>
            </tr>
        {% endif %}
        {% if file.decoded_files %}
            <tr>
                <th></th><td>
                <div class="collapse" id="decoded_files_{{file.sha256}}">
                    <div>
                    <p>{{file.decoded_files|escape}}</p>
                    </div>
                </div>
            </td>
            </tr>
        {% endif %}
        {% if file.extracted_files %}
            <tr>
                <th></th><td>
                <div class="collapse" id="extracted_files_{{file.sha256}}">
                    <div class="table">
                        {% for sub_file in file.extracted_files %}
                            {% include "generic/_subfile_info.html" %}
                        {% endfor %}
                    </div>
                </div>
            </td>
            </tr>
            </br>
        {% endif %}

        {% if file.pe %}
            <tr><td colspan="2"><div class="collapse" id="pe_{{file.sha256}}"><div>{% include "generic/_pe.html" %}</div></div></td></tr>
        {% endif %}
        {% if file.dotnet %}
            <tr><td colspan="2"><div class="collapse" id="dotnet_{{file.sha256}}"><div>{% include "generic/_dotnet.html" %}</div></div></td></tr>
        {% endif %}
        {% if file.pdf %}
            <tr><td colspan="2"><div class="collapse" id="pdf_{{file.sha256}}"><div>{% include "generic/_pdf.html" %}</div></div></td></tr>
        {% endif %}
        {% if file.lnk %}
            <tr><td colspan="2"><div class="collapse" id="lnk_{{file.sha256}}"><div>{% include "generic/_lnk.html" %}</div></div></td></tr>
        {% endif %}
        {% if file.java %}
            <tr><td colspan="2"><div class="collapse" id="java_{{file.sha256}}"><div>{% include "generic/_java.html" %}</div></div></td></tr>
        {% endif %}
        {% if file.office %}
            <tr><td colspan="2"><div class="collapse" id="office_{{file.sha256}}"><div>{% include "generic/_office.html" %}</div></div></td></tr>
            {% if file.office.XLMMacroDeobfuscator %}
            <tr><td colspan="2"><div class="collapse" id="xlmmacro_{{file.sha256}}"><div>{% include "generic/_xlmmacro.html" %}</div></div></td></tr>
            {% endif %}
        {% endif %}
        {% if file.floss %}
            <tr><td colspan="2"><div class="collapse" id="floss_{{file.sha256}}"><div>{% include "generic/_floss.html" %}</div></div></td></tr>
        {% endif %}
    </table>

</div>
<div class="d-flex justify-content-center mt-4">
{% if graphs and graphs.bingraph and graphs.bingraph.content[file.sha256] %}
    {{ graphs.bingraph.content[file.sha256]|safe }}
{% endif %}
</div>
