{% if results.network.hosts %}
<table class="table table-striped table-bordered">
    <tr>
        <th width="10%">Direct</th>
        <th>IP Address</th>
        <th>Country Name</th>
        {% if results.network_proc_map %}<th>Process Name (PID)</th>{% endif %}
    </tr>
    {% for host in results.network.hosts %}
        {% if host.ip[:7] != "192.168" %}
        <tr>

            {% if "hostname" in host and host.hostname == "" %}
                <td><span class="mono">Y</span></td>
            {% elif "hostname" in host %}
                <td><span class="mono">N</span></td>
            {% else %}
                <td><span class="mono">N/A</span></td>
            {% endif %}
            <td><span class="mono">{{host.ip}}</span></td>
            <td>{{host.country_name}}</td>
            {% if results.network_proc_map %}
                <td>
                    {% if host.process_name %}
                        <span class="mono">{{ host.process_name }}{% if host.process_id %} ({{ host.process_id }}){% endif %}</span>
                    {% else %}
                        <span class="mono">-</span>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
        {% endif %}
    {% endfor %}
</table>
{% else %}
<p>Nothing to display.</p>
{% endif %}
