{% if results.network.irc %}
<table class="table table-striped table-bordered">
    <tr>
        <th>Command</th>
        <th>Params</th>
        <th>Type</th>
    </tr>
    {% for irc in results.network.irc %}
    <tr>
        <td><span class="mono">{{irc.command}}</span></td>
        <td><span class="mono"><pre>{{irc.params}}</pre></span></td>
        <td><span class="mono"><pre>{{irc.type}}</pre></span></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Nothing to display.</p>
{% endif %}
