[defaults]
inventory = inventory/hosts.ini
roles_path = roles
remote_user = root
host_key_checking = False
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S
stdout_callback = yaml
callbacks_enabled = profile_tasks
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 3600
retry_files_enabled = False
nocows = 1
forks = 20
gather_timeout = 60
inventory_ignore_extensions = ~, .orig, .bak, .swp, .pyc, .pyo, .retry, .csv, .tsv
vault_password_file = .vault_pass

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-%%h-%%p-%%r
