{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock title %}
{% block content %}

<center>
    <div class="container mx-5">
        <div class=" signin text-center">
            <a href="{% provider_login_url 'google' %}" class="text-dark"><img src="{% static "img/google_login.png" %}" style="width:14rem; height:auto"></a>
        </div>
        <br><br>
        <div style="width: 100%; height: 15px; border-bottom: 1px solid lightgray; text-align: center">
            <span class="text-muted" style="margin-top:-15% !important; font-size: 11px; background-color: white; padding: 0px 10px;">
                OR
            </span>
        </div>
        <br><br>
        <div style="margin-top:60px" class="container">
            <h2>Sign Up</h2>
            <form method="post" autocomplete="off">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-secondary" type="submit">Register</button>
            </form>
        </div>
    </div>
    </center>
{% endblock content %}
