{% load key_tags %}
{% if CAPE.payloads %}
    {% for file in CAPE.payloads|dictsortreversed:"size" %}
    <div class="panel panel-default">
        <table class="table table-striped table-bordered" style="table-layout: fixed;">
            <tr>
                <th style="border-top: 0; width: 15%;">Type</th>
                <td style="border-top: 0; word-wrap: break-word;"><b>{{file.cape_type}}</b></td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{file.size}} bytes</td>
            </tr>
            {% if file.cape_type_code == 8 or file.cape_type_code == 9 %}
                <tr>
                    <th>Virtual Address</th>
                    <td>{{file.virtual_address}}</td>
                </tr>
            {% endif %}
            {% if file.cape_type_code == 5 %}
                <tr>
                    <th>Section Handle</th>
                    <td>{{file.section_handle}}</td>
                </tr>
            {% endif %}
            {% if file.cape_type_code == 3 or file.cape_type_code == 4 %}
                <tr>
                    <th>Target Process</th>
                    <td>{{file.target_process}}</td>
                </tr>
                <tr>
                    <th>Target PID</th>
                    <td>{{file.target_pid}}</td>
                </tr>
                <tr>
                    <th>Target Path</th>
                    <td>{{file.target_path}}</td>
                </tr>
                <tr>
                    <th>Injecting Process</th>
                    <td>{{file.process_name}}</td>
                </tr>
                <tr>
                    <th>Injecting PID</th>
                    <td>{{file.pid}}</td>
                </tr>
                <tr>
                    <th>Path</th>
                    <td>{{file.process_path}}</td>
                </tr>
            {% else %}
                {% if file.process_name %}
                <tr>
                    <th>Process</th>
                    <td>{{file.process_name}}</td>
                </tr>
                {% endif %}
                {% if file.pid %}
                <tr>
                    <th>PID</th>
                    <td>{{file.pid}}</td>
                </tr>
                {% endif %}
                {% if file.process_path %}
                <tr>
                    <th>Path</th>
                    <td>{{file.process_path}}</td>
                </tr>
                {% endif %}
            {% endif %}
            {% if file.timestamp %}
                <tr>
                    <th>PE timestamp</th>
                    <td>{{file.timestamp}}</td>
                </tr>
            {% endif %}
            <tr>
                <th>MD5</th>
                <td style="word-wrap: break-word;">{{file.md5}}</td>
            </tr>
            <tr>
                <th>SHA1</th>
                <td style="word-wrap: break-word;">{{file.sha1}}</td>
            </tr>
            <tr>
                <th>SHA256</th>
                <td style="word-wrap: break-word;">{{file.sha256}}</td>
            </tr>
            {% if file.sha3_384 %}
            <tr>
                <th>SHA3-384</th>
                <td style="word-wrap: break-word;">{{file.sha3_384}}</td>
            </tr>
            {% endif %}
            <tr>
                <th>CRC32</th>
                <td>{{file.crc32}}</td>
            </tr>
            <tr>
                <th>Ssdeep</th>
                <td style="word-wrap: break-word;">{{file.ssdeep}}</td>
            </tr>
            {% if file.tlsh %}
            <tr>
                <th>TLSH</th>
                <td style="word-wrap: break-word;">{{file.tlsh}}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Yara</th>
                <td>
                {% if file.yara %}
                    <ul style="margin-bottom: 0;">
                    {% for sign in file.yara %}
                        <li>{{sign.name}} - {{sign.meta.description}}
                        {% if sign.meta.author %}
                            - Author: {{sign.meta.author}}
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    None matched
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>CAPE Yara</th>
                <td>
                {% if file.cape_yara %}
                    <ul style="margin-bottom: 0;">
                    {% for sign in file.cape_yara %}
                        <li>{{sign.name}}
                        {% if sign.meta.cape_type %}
                            {{sign.meta.cape_type}}
                        {% elif sign.meta.description %}
                            {{sign.meta.description}}
                        {% endif %}
                        {% if sign.meta.author %}
                            - Author: {{sign.meta.author}}
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    None matched
                {% endif %}
                </td>
            </tr>
            {% if file.dropdir %}
            <tr>
                <th></th>
                <td><a href="{% url "file" "CAPE" id file.dropdir %}" class="btn btn-secondary btn-sm">Download</a>
                </td>
            </tr>
            {% elif file.sha256 %}
            <tr>
                <th></th>
                <td>
                    <a href="{% url "file" "CAPE" id file.sha256 %}" class="btn btn-secondary btn-sm">Download</a>
                    <a href="{% url "file" "CAPEZIP" id file.sha256 %}" class="btn btn-secondary btn-sm">Download zip</a>
                    <a class="btn btn-secondary btn-sm" href="/submit/resubmit/{{file.sha256}}"><span class="fa fa-refresh" aria-hidden="true"></span> Submit file</a>
                </td>
            </tr>
            {% endif %}
        {% if file.flare_capa%}
        <tr>
            <th><p><a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#flare_capa_{{file.sha256}}" role="button" aria-expanded="false" aria-controls="flare_capa_{{file.sha256}}">FLARE CAPA</a></p></th>
            <td>
            <div class="collapse" id="flare_capa_{{file.sha256}}">
                <div class="card card-body">
                <!--Inspired by @snemes trick, code placed in web/views/templateatgs/analysis_tags.py-->
                {% if file.flare_capa.CAPABILITY %}
                    {{file.flare_capa|flare_capa_capability}}
                {% endif %}

                    {% if file.flare_capa.ATTCK %}
                        {{file.flare_capa|flare_capa_attck}}
                    {% endif %}

                    {% if file.flare_capa.MBC %}
                        {{file.flare_capa|flare_capa_mbc}}
                    {% endif %}
                    </div>
                </div>
            </td>
        </tr>
        </br>
        {% else %}
        <tr>
            <th><p><a class="btn btn-secondary btn-sm" href="{% url "on_demand" "flare_capa" id "CAPE" file.sha256 %}" role="button">Generate CAPA</a></p></th>
            <td></td>
        </tr>
        {% endif %}
        {% if config.bingraph %}
            {% if bingraph.enabled and bingraph.content|getkey:file.sha256 %}
            <tr>
                <th><p><a href="{% url "file_nl" "bingraph" id file.sha256 %}" class="btn btn-secondary btn-sm">Download graph</a></p></th>
                <td>{{ bingraph.content|getkey:file.sha256|safe }} </td>
            </tr>
            {% else %}
            <tr>
                <th><p><a class="btn btn-secondary btn-sm" href="{% url "on_demand" "bingraph" id "CAPE" file.sha256 %}" role="button">Generate Bingraph</a></p></th>
                <td></td>
            </tr>
            {% endif %}
        {% endif %}
        </table>
    </div>
    {% endfor %}
{% else %}
    <div class="alert alert-secondary"><b>Sorry!</b> No CAPE files.</div>
{% endif %}
