<td class="text-nowrap">{{call.timestamp}}</td>
<td>{{call.thread_id}}</td>
<td>
    {{call.caller}}
    {% if call.parentcaller %}<br /><small class="text-muted">{{call.parentcaller}}</small>{% endif %}
</td>
<td><strong class="text-info">{{call.api}}</strong></td>
<td class="text-break">
    {% for argument in call.arguments %}
        <div class="mb-1">
            <span class="text-muted">{{argument.name}}:</span>
            <code class="text-light">
            {% if argument.pretty_value %}
                <span title="{{argument.value}}">{{argument.pretty_value}}</span>
            {% else %}
                {{argument.value}}
            {% endif %}
            </code>
        </div>
    {% endfor %}
</td>
<td>
    {% if call.status %}
        <span class="badge bg-success">success</span>
    {% else %}
        <span class="badge bg-danger">failed</span>
    {% endif %}
</td>
<td class="text-break">
    <code class="text-light">
    {% if call.pretty_return %}
        <span title="{{call.return}}">{{call.pretty_return}}</span>
    {% else %}
        {{call.return}}
    {% endif %}
    </code>
</td>
<td>
    {% if call.repeated > 0 %}
        <span class="badge bg-secondary">{{call.repeated}}</span>
    {% endif %}
</td>
