<div class="table-responsive">
    <table class="table table-dark table-bordered table-sm mb-0" style="table-layout: fixed;">
        <thead class=" ">
            <tr>
                <th width="10%">Time</th>
                <th width="5%">TID</th>
                <th width="10%">Caller</th>
                <th width="15%">API</th>
                <th width="40%">Arguments</th>
                <th width="5%">Status</th>
                <th width="10%">Return</th>
                <th width="5%">Rep.</th>
            </tr>
        </thead>
        <tbody>
        {% for call in chunk.calls %}
            <tr class="{{call.category}}" id="call_{{call.id}}">
                {% include "analysis/behavior/_api_call.html" %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
