<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} &#x2022; {% endif %}CAPE Sandbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CAPE Sandbox">
    <meta name="author" content="CAPE Sandbox">

    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/fontawesome/all.min.css">

    <style>
        {% include "css/style.css" %}
    </style>
</head>
<body>
<script src="js/popper/popper.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        if(window.location.hash) {
            var tab = new bootstrap.Tab(document.querySelector(window.location.hash));
            if (tab) {
                tab.show();
            }
        }
        var triggerTabList = [].slice.call(document.querySelectorAll('#myTab a'))
        triggerTabList.forEach(function (triggerEl) {
            var tabTrigger = new bootstrap.Tab(triggerEl)
            triggerEl.addEventListener('click', function (event) {
                event.preventDefault()
                tabTrigger.show()
                window.location.hash = this.hash;
            })
        })
    });
</script>
<div class="container-fluid">
    {% include "graphic/logo.html" %}
    {% if not summary_report %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Info</a>
        </li>
        {% if results.info.category == "file" %}
        <li class="nav-item">
            <a class="nav-link" id="file-tab" data-toggle="tab" href="#file" role="tab" aria-controls="file" aria-selected="false">File</a>
        </li>
        {% elif results.info.category == "url" %}
        <li class="nav-item">
            <a class="nav-link" id="url-tab" data-toggle="tab" href="#url" role="tab" aria-controls="url" aria-selected="false">URL</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" id="signatures-tab" data-toggle="tab" href="#signatures" role="tab" aria-controls="signatures" aria-selected="false">Signatures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="screenshots-tab" data-toggle="tab" href="#screenshots" role="tab" aria-controls="screenshots" aria-selected="false">Screenshots</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="network-tab" data-toggle="tab" href="#network" role="tab" aria-controls="network" aria-selected="false">Network</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="dropped-tab" data-toggle="tab" href="#dropped" role="tab" aria-controls="dropped" aria-selected="false">Dropped</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="payloads-tab" data-toggle="tab" href="#payloads" role="tab" aria-controls="payloads" aria-selected="false">Payloads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="behavior-tab" data-toggle="tab" href="#behavior" role="tab" aria-controls="behavior" aria-selected="false">Behavior</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="volatility-tab" data-toggle="tab" href="#volatility" role="tab" aria-controls="volatility" aria-selected="false">Volatility</a>
        </li>
        {% if debugger %}
        <li class="nav-item">
            <a class="nav-link" id="debugger-tab" data-toggle="tab" href="#debugger" role="tab" aria-controls="debugger" aria-selected="false">Debugger</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
    {% block content %}{% endblock %}

    <footer class="footer">
        {% if not summary_report %}
        <p class="float-right"><a href="#">Back to top</a></p>
        {% endif %}
        <p class="text-center"><a href="https://github.com/kevoreilly/CAPEv2">CAPE Sandbox on Github</a></p>
    </footer>
</div>
</body>
</html>
