<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} &#x2022; {% endif %}CAPE Sandbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CAPE Sandbox">
    <meta name="author" content="CAPE Sandbox">

    <style>
        {% include "css/bootstrap/bootstrap.min.css" %}
        {% include "css/fontawesome/all.min.css" %}
        {% include "css/style.css" %}
    </style>
</head>
<body>
    <footer class="footer">
        {% if not summary_report %}
        <p class="float-right"><a href="#">Back to top</a></p>
        {% endif %}
        <p class="text-center"><a href="https://github.com/kevoreilly/CAPEv2">CAPE Sandbox on Github</a></p>
    </footer>
</div>

<script>
    {% include "js/popper/popper.min.js" %}
    {% include "js/bootstrap/bootstrap.min.js" %}
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Initialize tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[title]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });

        // Activate tab from hash
        const hash = window.location.hash;
        if (hash) {
            const triggerEl = document.querySelector('.nav-tabs a[href="' + hash + '"]');
            if (triggerEl) {
                const tab = new bootstrap.Tab(triggerEl);
                tab.show();
            }
        }

        // Update hash on tab click
        const tabElms = document.querySelectorAll('a[data-bs-toggle="tab"]');
        tabElms.forEach(function (tabElm) {
            tabElm.addEventListener('shown.bs.tab', function (event) {
                history.replaceState(null, null, event.target.getAttribute('href'));
            });
        });

        // Handle hash changes for back/forward
        window.addEventListener('hashchange', function() {
            const hash = window.location.hash;
            if (hash) {
                const triggerEl = document.querySelector('.nav-tabs a[href="' + hash + '"]');
                 if (triggerEl) {
                    const tab = new bootstrap.Tab(triggerEl);
                    tab.show();
                }
            }
        }, false);
    });
</script>
</body>
</html>
