{% extends "base-report.html" %}
{% block content %}
    {% include "sections/info.html" %}
    {% include "sections/errors.html" %}
    {% if results.info.category == "file,pcap,static" %}
        {% include "sections/file.html" %}
    {% elif results.info.category == "url" %}
        {% include "sections/url.html" %}
    {% endif %}
    {% include "sections/signatures.html" %}
    {% include "sections/screenshots.html" %}
    {% include "sections/network.html" %}
    {% if results.info.category == "file" %}
        {% include "sections/dropped.html" %}
        {% include "sections/payloads.html" %}
        {% include "sections/behavior.html" %}
        {% if results.memory %}
            {% include "sections/volatility.html" %}
        {% endif %}
    {% endif %}
{% endblock %}
